
<div *ngIf="visible" class="create-campaign-popup">
  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" header="Header">
    <!--    header-->
    <ng-template pTemplate="header">
      <div class="create-campaign-head">
        <h3>Create Campaign</h3>
        <p>Create New Campaign</p>
      </div>
    </ng-template>

    <!--    content wrapper-->
    <ng-container>
      <div class="create-campaign-popup-content">
        <!--        popup components-->
        <convertedin-campaign-obejctive *ngIf="campaignState.activeForm === 0"></convertedin-campaign-obejctive>
        <convertedin-campaign-platforms *ngIf="campaignState.activeForm === 1"></convertedin-campaign-platforms>
        <convertedin-campaign-settings *ngIf="campaignState.activeForm === 2"></convertedin-campaign-settings>
      </div>

      <!-- <ul *ngIf="!currentForm?.isValid" class="errors-list">
        <li *ngIf="!currentForm?.isValid && activePageConfiguration?.dirty">
          {{activePageConfiguration?.validationMessage}}
        </li>
      </ul> -->
    </ng-container>

    <!--    footer-->
    <ng-template pTemplate="footer">
<!--      <p-button (click)="toggleForms(false)" class="popup-creation-cancel" label="Cancel"-->
<!--                styleClass="p-button-text"></p-button>-->
      <p-button (click)="toggleForms(false)" [disabled]="activeForm === 0" class="popup-creation-cancel"
                label="Previous" styleClass="p-button-text"></p-button>
      <p-button (click)="toggleForms(true)" [disabled]="!currentForm?.isValid" class="popup-creation-confirm"
                label="Next"></p-button>
    </ng-template>
  </p-dialog>
</div>

<div *ngIf="!visible" class="create-campaign-forms">
<!--  <p-steps [model]="items" [readonly]="true" [activeIndex]="campaignState.activeForm - 3"></p-steps>-->

  <convertedin-campaign-setup *ngIf="campaignState.activeForm === 3"></convertedin-campaign-setup>
  <convertedin-campaign-adsets *ngIf="campaignState.activeForm === 4"></convertedin-campaign-adsets>
  <convertedin-campaign-ads *ngIf="campaignState.activeForm === 5"></convertedin-campaign-ads>
</div>
<div class="create-campaign-footer">
<!--  <button class="as-draft-action">save as draft</button>-->
  <button (click)="toggleForms(false)" class="as-draft-action">prev</button>
  <button (click)="toggleForms(true)" class="next-action">{{campaignState.activeForm === 5 ? 'Publish' : 'Next'}}</button>
</div>
