<main class="flex flex-column h-full justify-center relative">
  <div class="aurora"></div>
  <div class="mt-40">
    <img src="assets/images/logo.svg" alt="" class="mx-auto mb-8" />
    <h1>Login to your account</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="flex flex-col">
        <label>Email Address</label>
        <input
          type="email"
          inputId="email"
          pInputText
          formControlName="email"
          placeholder="Name@email.com"
        />
        <convertedin-control-errors [control]="loginForm.get('email')!" />
      </div>
      <div class="flex flex-col">
        <label>Password</label>
        <p-password
          class="w-full"
          inputId="password"
          formControlName="password"
          [feedback]="false"
          placeholder="Password"
          [toggleMask]="true"
        />
        <convertedin-control-errors [control]="loginForm.get('password')!" />
      </div>
      <button
        type="submit"
        [disabled]="(isLoading$ | async) || !loginForm.valid"
      >
        Login
        <i class="pi pi-spin pi-spinner mx-1" *ngIf="isLoading$.value"></i>
      </button>
    </form>
  </div>
</main>
