<figure class="confirm-popup__icon mx-auto">
  <img alt="warning-icon" src="assets/icons/common/warning.svg" />
</figure>

<div class="flex flex-column gap-2">
  <h1>{{ title | translate }}</h1>
  <p *ngIf="subtitle">{{ subtitle | translate }}</p>
</div>

<div class="flex gap-3 w-full">
  <!-- Confirm btn -->
  <button
    (click)="onConfirm ? confirm() : closeDialog()"
    pButton
    type="button"
    class="flex-grow-1 confirm-popup__btn justify-content-center"
  >
    {{ btnText | translate }}
  </button>

  <!-- Cancel btn -->
  <button
    *ngIf="onConfirm"
    (click)="closeDialog()"
    pButton
    type="button"
    class="confirm-popup__cancel-btn flex-grow-1 justify-content-center"
  >
    {{ 'common.cancel' | translate }}
  </button>
</div>
