<div class="flex flex-wrap flex-column gap-3">
    <h3 class="font-semibold text-lg m-0 px-2">
        Campaign Details
    </h3>
    <div class="formgrid grid mt-1">
        <div class="field col-12 px-3">
            <label class="text-sm font-medium" for="campaign_name">Campaign Name</label>
            <input pInputText id="campaign_name" type="text" class="w-full mt-2">
        </div>
        <p-divider class="w-12"></p-divider>
        <h3 class="font-semibold text-lg m-0 px-3">
            Campaign Lifetime
        </h3>
        <div class="field col-12 px-3 mt-4">
            <label class="text-sm font-medium" for="campaign_name">Campaign Name</label>
            <input pInputText id="campaign_name" type="text" class="w-full mt-2">
        </div>
        <div class="field col-12 px-3 mt-2 ">
            <label class="text-sm font-medium" for="campaign_name">Campaign Name</label>
            <input pInputText id="campaign_name" type="text" class="w-full mt-2">
        </div>
    </div>
</div>