<p class="mt-3 mb-4">
  {{ 'automation.delete-confirm' | translate }} {{ dialogData?.campaignName }}
</p>

<div class="flex justify-content-end gap-3">
  <!-- Cancel btn -->
  <button
    class="p-button-secondary p-button-text delete-popup__cancel-btn"
    pButton
    (click)="close()"
  >
    {{ 'automation.cancel' | translate }}
  </button>

  <!-- Delete btn -->
  <button
    class="p-button-danger delete-popup__delete-btn"
    pButton
    (click)="deleteCampaign()"
  >
    {{ 'automation.delete' | translate }}
  </button>
</div>
