::ng-deep .delete-popup {
  &__cancel-btn {
    color: #1a1d1f !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    line-height: 24px;
    letter-spacing: -0.13px;
  }

  &__delete-btn {
    background-color: #f44336 !important;
    padding: 8px 34px 8px 33px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
  }
}

p {
  color: #6f767e;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.225px;
}
