::ng-deep.campaign-stepper {
  .convertedin-stepper__header {
    border-bottom: 2px solid var(--convertedin-gray-200);
  }

  .convertedin-stepper__view-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
    padding: 1.5rem;
  }

  .convertedin-stepper__actions-container {
    border-top: 1px solid var(--convertedin-gray-50);
    box-shadow: 0px -3.5px 14px 0px #0000000d;
  }
}

::ng-deep.p-breadcrumb {
  padding: 0;
  border: none;
}

::ng-deep.profile-overlay {
  .p-overlaypanel-content {
    padding: 0 !important;
  }
  &::after,
  &::before {
    display: none;
  }
  .profile-list {
   list-style-type: none;
  }
}
