.workflow {
  &__submit-btn {
    background-color: #0036b1 !important;
    border-color: #0036b1 !important;
  }

  &__discard-btn {
    color: #0036b1 !important;
    font-weight: 600 !important;
  }

  ::ng-deep &__header {
    border-bottom: 1px solid #e9f1f5;
  }
}

label {
  color: #374151;
  font-size: 16px;
  font-weight: 600;
}
