<table class="mt-12">
  <!-- Social Media Rows -->
  <tr class="header-row">
    <td>Social Media Channels</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Facebook & Instagram</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>
  <tr>
    <td>Tiktok</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>
  <tr>
    <td>Snapchat</td>
    <td>-</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>
  <tr>
    <td>Linkedin</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>
  <!-- Social Media Rows End -->
  <!-- Search Engines -->
  <tr class="header-row">
    <td>Search Engine Channels</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Google Static Search</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>

  <tr>
    <td>Google Dynamic Search</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>

  <tr>
    <td>Google P Max</td>
    <td>-</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>

  <tr>
    <td>G Standard Shopping</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>
  <!-- Search Rows End -->
  <!-- Dsp Rows -->
  <tr class="header-row">
    <td>DSP Channels</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Amazon DSP</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>Contact Sales</td>
  </tr>

  <tr>
    <td>Criteo</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>Contact Sales</td>
  </tr>

  <tr>
    <td>Adroll</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>
  <!-- Dsp Rows End -->

  <!-- Direct Message Rows -->
  <tr class="header-row">
    <td>Direct Messaging Channels</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Email</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>

  <tr>
    <td>SMS</td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
    <td>
      <img src="assets/images/check-green.svg" alt="" />
    </td>
  </tr>

  <tr>
    <td>Push-Notifications</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>Contact Sales</td>
  </tr>
  <!-- Direct Message Rows End -->

  <!-- Monthly Credits Rows -->
  <tr class="header-row">
    <td>Monthly Credits</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>SMS Credits</td>
    <td>300 (First month only)</td>
    <td>1,800 Monthly</td>
    <td>3,900 Monthly</td>
    <td>9,500 Monthly</td>
  </tr>

  <tr>
    <td>EMAIL</td>
    <td>1,000 (First month only)</td>
    <td>14,400 Monthly</td>
    <td>Unlimited</td>
    <td>Unlimited</td>
  </tr>

  <tr>
    <td>Account Setup Support</td>
    <td>2 Sessions</td>
    <td>2 Sessions</td>
    <td>Unlimited</td>
    <td>Unlimited</td>
  </tr>

  <tr>
    <td>Marketing Consultation</td>
    <td>-</td>
    <td>1 Session Quarterly</td>
    <td>1 Session Monthly</td>
    <td>2 Sessions Monthly</td>
  </tr>
  <!-- Monthly Credits End -->

  <!-- Limits Rows -->
  <tr class="header-row">
    <td>Limits</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>Contacts</td>
    <td>-</td>
    <td>5,500</td>
    <td>20,000</td>
    <td>55,000</td>
  </tr>

  <tr>
    <td>SKUs</td>
    <td>-</td>
    <td>5,000</td>
    <td>20,000</td>
    <td>50,000</td>
  </tr>
  <!-- Limits Rows End -->
</table>
