::ng-deep .landing {
  max-height: 100vh;
  gap: 3.25rem;
  overflow: scroll;

  section {
    width: 90%;
  }

  &__btn {
    border-radius: 8px !important;
    border-color: var(--flyerz-primary-color) !important;
    background: var(--flyerz-primary-color) !important;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08) !important;
    width: fit-content !important;
    text-decoration: none;
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 130%;
    letter-spacing: -0.2px;
    min-width: 208px;
    justify-content: center;
  }

  p {
    color: var(--convertedin-gray-500);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}
