.dashboard-settings__profile {
  &-form {
    row-gap: 24px;
  }

  &-actions {
    padding: 20px 20px 5px 20px;
    border-top: 1px solid var(--convertedin-gray-200);
  }

  &-input {
    background-color: var(--convertedin-gray-50) !important;
    height: 46px;
  }

  &-btn {
    background-color: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    border-radius: 8px !important;
  }

  ::ng-deep &-delete {
    font-weight: 800 !important;
    font-size: 16px !important;
  }
}

.dashboard-settings {
  &__form-group {
    width: calc((100% - 2rem) / 2);
  }

  &__profile-action-btn {
    padding: 8px 14px !important;
    color: var(--flyerz-primary-color) !important;
    background-color: var(--flyerz-primary-25) !important;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 400 !important;
    width: fit-content !important;
  }

  &__otp-disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

label {
  color: var(--convertedin-gray-600);
  font-size: 14px;
  font-weight: 400;
}

button {
  min-width: 143px;
}

.pi {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 4px;
  top: 38% !important;
  &,
  i {
    color: white !important;
  }
}

.green {
  background-color: #17b26a;
}

.red {
  background-color: #cf1644;
}

h1 {
  color: var(--convertedin-gray-800);
  font-size: 14px;
  font-weight: 700;
  line-height: 159.5%;
}
