<ng-container *ngIf="userData$ | async as userData">
  <form
    class="flex flex-column flex-grow-1 justify-content-between"
    [formGroup]="profileForm"
    *ngIf="!loaders.removeAccount"
    (ngSubmit)="submitForm(userData.data)"
  >
    <div class="flex flex-column flex-grow-1">
      <div
        class="flex flex-wrap gap-5 justify-content-between dashboard-settings__profile-form md:w-9 w-full"
      >
        <!-- First name input -->
        <div class="flex flex-column gap-2 dashboard-settings__form-group">
          <label>
            {{ 'dashboard.settings.profile.first-name' | translate }}
          </label>
          <input
            class="w-full dashboard-settings__profile-input"
            type="text"
            pInputText
            autocomplete="given-name"
            formControlName="firstName"
          />
          <convertedin-control-errors
            [control]="profileForm.get('firstName')!"
          />
        </div>

        <!-- Last name input -->
        <div class="flex flex-column gap-2 dashboard-settings__form-group">
          <label>
            {{ 'dashboard.settings.profile.last-name' | translate }}
          </label>
          <input
            class="w-full dashboard-settings__profile-input"
            type="text"
            pInputText
            autocomplete="family-name"
            formControlName="lastName"
          />

          <convertedin-control-errors
            [control]="profileForm.get('lastName')!"
          />
        </div>

        <!-- Phone number input -->
        <div class="flex flex-column gap-2 dashboard-settings__form-group">
          <label>{{ 'dashboard.settings.profile.phone' | translate }}</label>
          <convertedin-phone-number-input
            formControlName="mobileNumber"
            class="max-w-full dashboard-settings__profile-input w-full"
            wrongFormatMessage="{{ 'auth.login.wrong-format' | translate }}"
            valueFormat="separate"
            [disableCountryDropdown]="true"
            [perferredCountry]="userData.data.user.country.key"
          />
          <convertedin-control-errors
            [control]="profileForm.get('mobileNumber')!"
          />

          <!-- Change number btn -->
          <a
            *ngIf="canChangeNumber(userData.data)"
            (click)="sendOtp()"
            class="dashboard-settings__profile-action-btn p-button-text"
            pButton
            routerLink="/my-dashboard/settings/otp"
            [ngClass]="{
              'dashboard-settings__otp-disabled':
                !profileForm.get('mobileNumber')?.valid
            }"
          >
            {{ 'dashboard.settings.profile.change-number' | translate }}
          </a>
        </div>

        <!-- Email input -->
        <div class="flex flex-column gap-2 dashboard-settings__form-group">
          <label>{{ 'dashboard.settings.profile.email' | translate }}</label>
          <span
            class="p-input-icon-{{ dir === 'rtl' ? 'left' : 'right' }} w-full"
          >
            <i
              pTooltip="{{
                (isEmailVerified(userData.data)
                  ? 'dashboard.settings.profile.verified'
                  : 'dashboard.settings.profile.not-verified'
                ) | translate
              }}"
              tooltipPosition="top"
              class="pi {{
                isEmailVerified(userData.data)
                  ? 'pi-check green'
                  : 'pi-times red'
              }}"
            ></i>
            <input
              class="w-full dashboard-settings__profile-input"
              type="email"
              pInputText
              autocomplete="email"
              formControlName="email"
            />
          </span>

          <convertedin-control-errors [control]="profileForm.get('email')!" />

          <!-- Verify email btn -->
          <button
            *ngIf="
              profileForm.get('email')?.value && !isEmailVerified(userData.data)
            "
            (click)="verifyEmail()"
            class="dashboard-settings__profile-action-btn p-button-text"
            pButton
            [disabled]="loaders.verifyEmail || !profileForm.get('email')?.valid"
          >
            {{ 'dashboard.settings.profile.verify-mail' | translate }}

            <i *ngIf="loaders.verifyEmail" class="pi pi-spin pi-spinner"></i>
          </button>
        </div>
      </div>

      <p-divider styleClass="m-0" class="mt-6 mb-5"></p-divider>

      <!-- Password change section -->
      <div class="flex flex-column md:w-9 w-full">
        <h1>{{ 'dashboard.settings.profile.password-title' | translate }}</h1>
        <div class="flex flex-column gap-2 dashboard-settings__form-group mt-4">
          <label>{{ 'auth.password.label' | translate }}</label>

          <input
            type="password"
            class="dashboard-settings__profile-input p-inputtext"
            [disabled]="true"
            value="11111111"
          />

          <a
            class="dashboard-settings__profile-action-btn p-button-text"
            pButton
            routerLink="/my-dashboard/settings/change-password"
          >
            {{ 'dashboard.settings.profile.change-password' | translate }}
          </a>
        </div>
      </div>
    </div>

    <div
      class="dashboard-settings__profile-actions flex justify-content-between"
    >
      <!-- Remove account btn -->
      <button
        pButton
        (click)="deleteAccount()"
        type="button"
        class="justify-content-center dashboard-settings__profile-delete p-button-danger p-button-text"
      >
        {{ 'dashboard.settings.profile.delete-account' | translate }}
      </button>

      <!-- Submit btn -->
      <button
        type="submit"
        class="justify-content-center dashboard-settings__profile-btn gap-2"
        pButton
        [disabled]="!profileForm.valid || loaders.update"
      >
        {{ 'common.save' | translate }}

        <i *ngIf="loaders.update" class="pi pi-spin pi-spinner"></i>
      </button>
    </div>
  </form>
</ng-container>

<convertedin-spinner
  *ngIf="loaders.data || loaders.removeAccount"
  class="flex flex-grow-1 justify-content-center align-items-center"
/>
