.people {
  ::ng-deep &__tabs {
    .p-tabmenu-nav {
      padding: 12px 29px !important;
      gap: 8px !important;
    }

    .p-menuitem-link-active {
      border: 1px solid #e6ecfc !important;
      border-radius: 6px !important;
      background-color: #e6ecfc !important;
      color: #002985 !important;
      font-family: Inter !important;
      font-size: 14px !important;
      font-weight: 600 !important;
      line-height: 20px;
    }

    .p-menuitem-link {
      border: unset !important;
      padding: 8px 12px !important;
      color: #667085;
      font-family: Inter !important;
      font-size: 14px !important;
      font-weight: 600 !important;
      line-height: 20px;
    }
  }
}
