<!-- Logo -->
<figure class="flex align-items-center justify-content-center">
  <a routerLink="/">
    <img src="assets/icons/logo.svg" alt="cpay-logo" />
  </a>
</figure>

<div
  class="flex flex-column flex-grow-1 px-3 gap-4"
  *ngIf="userData$ | async as user"
>
  <!-- User info -->
  <div class="converted-pay__sidebar-user flex align-items-center gap-2">
    <div
      class="converted-pay__sidebar-initials flex align-items-center justify-content-center"
    >
      {{ user.firstName[0] }}{{ user.lastName[0] }}
    </div>

    <div class="flex flex-column">
      <p>{{ user.firstName }} {{ user.lastName }}</p>
      <label>{{ user.email }}</label>
    </div>
  </div>

  <!-- Routes -->
  <ul class="flex flex-column gap-2">
    <ng-container *ngFor="let route of routes">
      <li
      *ngIf="route.conditionKey ? user[route.conditionKey] : true"
        class="w-full"
        routerLinkActive="converted-pay__sidebar-active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="flex align-items-center gap-2 px-3 py-2"
          [routerLink]="route.route"
        >
          <img [src]="route.icon" alt="{{ route.name | translate }}" />

          <span>{{ route.name | translate }}</span>
        </a>
      </li>
    </ng-container>

    <!-- Support -->
    <!-- <li class="w-full">
      <a class="flex align-items-center gap-2 px-3 py-2 cursor-pointer">
        <img src="assets/icons/sidebar/help-circle.svg" />

        <span>Support</span>
      </a>
    </li> -->
  </ul>
</div>

<!-- Logout btn -->
<button
  pButton
  class="p-button btn-secondary p-button-text align-items-center gap-2 py-2 px-3 mx-3 mb-4"
  (click)="logout()"
>
  <i class="pi-sign-out pi"></i>
  {{ 'sidebar.logout' | translate }}
</button>
