::ng-deep .converted-pay__sidebar {
  align-self: stretch;
  width: 240px;
  background-color: white;
  border-right: 1px solid var(--convertedin-gray-200);
  max-height: 100vh;
}

.converted-pay__sidebar {
  &-user {
    background-color: var(--convertedin-gray-100);
    padding: 10px 12px;
    border-radius: 8px;

    p {
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      max-width: 140px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    label {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      opacity: 0.3614;
      max-width: 140px;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  &-initials {
    width: 34.3px;
    height: 34.3px;
    border-radius: 50%;
    background-color: var(--convertedin-gray-300);
    color: var(--convertedin-gray-400);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }

  &-active {
    background-color: var(--converted-pay-primary-50);
    border-radius: 4px;

    a {
      color: var(--convertedin-gray-900) !important;
      font-weight: 600 !important;
    }

    img {
      filter: brightness(0) saturate(100%) invert(16%) sepia(98%)
        saturate(5432%) hue-rotate(224deg) brightness(88%) contrast(101%);
    }
  }
}

figure {
  padding: 39px 0;
  img {
    max-width: 148px;
    height: 22px;
  }
}

ul {
  list-style: none;

  a {
    text-decoration: none;
    color: var(--convertedin-gray-500);
    font-size: 12px;
    font-weight: 600;
  }
}

button {
  color: var(--convertedin-gray-500) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}
