<router-outlet></router-outlet>

<!-- Error toast -->
<p-toast [position]="dir === 'rtl' ? 'top-left' : 'top-right'"></p-toast>

<!-- Notification toast -->
<p-toast
  styleClass="notification"
  key="notification"
  [position]="dir === 'rtl' ? 'top-left' : 'top-right'"
>
  <ng-template let-message pTemplate="message">
    <div class="flex gap-2 w-full">
      <div class="notification-icon">
        <img
          [src]="message.data.icon | notificationIcon"
          alt="notification-icon"
          class="w-2rem h-2rem"
        />
      </div>
      <div>
        <h4>{{ message.data.title }}</h4>
        <p>{{ message.data.content }}</p>
      </div>
    </div>
  </ng-template>
</p-toast>
