::ng-deep.notification {
  .p-toast-message-content {
    background-color: var(--map-ad-primary-50);
  }
  &-icon {
    border-radius: 50%;
    border: .5rem solid white;
    color: white;
    background-color: white;
    min-width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
