<ng-container *ngIf="adData$ | async as adData">
  <!-- Post -->
  <div class="flex flex-column gap-2">
    <h5>{{ 'create-ad.common.post' | translate }}</h5>

    <div class="create-ad__post-container flex gap-3 align-items-center">
      <img
        [src]="adData.post?.attachments?.type === 'video'
      ? adData.post?.attachments?.default
      : adData.post?.attachments?.data?.[0]"
        alt="post-img"
      />

      <p>{{ adData.post?.postMessage }}</p>
    </div>
  </div>

  <!-- Ad preview -->
  <div class="flex flex-column gap-3" *ngIf="adData.goal?.id === 6">
    <h5>{{ 'create-ad.ad-preview' | translate }}</h5>

    <img src="assets/images/leadgen-ad-view.png" alt="ad-preview" />
  </div>
</ng-container>
