<h3>{{"billing.features-title" | translate}}</h3>
<h4>{{"billing.features-description" | translate}}</h4>

<table>
  <tr class="title-row">
    <td></td>
    <th>{{"billing.free" | translate}}</th>
    <th>{{"billing.starter" | translate}}</th>
    <th>{{"billing.growth" | translate}}</th>
    <th>{{"billing.pro" | translate}}</th>
    <th>{{"billing.enterprise" | translate}}</th>
  </tr>
<!-- Monthly Ad Spend Limit -->
  <tr>
    <td>{{"billing.spend-limit" | translate}}</td>
    <td>
        $100
    </td>
    <td>
        $1200
    </td>
    <td>
        $2500
    </td>
    <td>
        $5800
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
  </tr>
  <!-- Monthly Ad Spend End -->
<!-- Social Media Rows -->
  <tr class="header-row">
    <td>{{"billing.media-channels" | translate}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Facebook & Instagram</td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>
  <tr>
    <td>Tiktok</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>
  <tr>
    <td>Snapchat</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>
  <tr>
    <td>Linkedin</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>
<!-- Social Media Rows End -->
<!-- Search Engines -->
  <tr class="header-row">
    <td>{{"billing.search-channels" | translate}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Google Static Search</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>

  <tr>
    <td>Google Dynamic Search</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>

  <tr>
    <td>Google P Max</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>

  <tr>
    <td>G Standard Shopping</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
  </tr>
  <!-- Search Rows End -->
<!-- Dsp Rows -->
    <tr class="header-row">
        <td>DSP Channels</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Amazon DSP</td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/check.svg" alt="">
        </td>
    </tr>

    <tr>
        <td>Criteo</td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/check.svg" alt="">
        </td>
    </tr>

    <tr>
        <td>Adroll</td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/x-mark.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/check.svg" alt="">
        </td>
        <td>
            <img src="app-assets/icons/common/check.svg" alt="">
        </td>
    </tr>
<!-- Dsp Rows End -->

<!-- Direct Message Rows -->
<tr class="header-row">
    <td>{{"billing.messaging-channels" | translate}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr>
    <td>{{"billing.email" | translate}}</td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
</tr>

<tr>
    <td>{{"billing.sms" | translate}}</td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
</tr>

<tr>
    <td>{{"billing.push-notification" | translate}}</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        <img src="app-assets/icons/common/check.svg" alt="">
    </td>
</tr>
<!-- Direct Message Rows End -->

<!-- Monthly Credits Rows -->
  <tr class="header-row">
    <td>{{"billing.monthly-credits" | translate}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td class="flex align-items-center gap-2">{{"billing.sms-credits" | translate}}
        <img (mouseenter)="tooltipPanel.show($event)" (mouseleave)="tooltipPanel.hide()" src="app-assets/icons/billing/tooltip.svg" alt="">
        <p-overlayPanel class="country-credit-wrapper" #tooltipPanel>
            <p class="country-credit-title">{{"billing.sms-per-country" | translate}}</p>
            <div class="flex align-items-center flex-wrap gap-3">
                <div class="flex align-items-center country-credit">
                    <span class="fi fi-eg"></span>
                    <span>EGY</span>
                    <p>0.5 {{"billing.credits" | translate}}</p>
                </div>
                <div class="flex align-items-center country-credit">
                    <span class="fi fi-sa"></span>
                    <span>KSA</span>
                    <p>1 {{"billing.credits" | translate}}</p>
                </div>
                <div class="flex align-items-center country-credit">
                    <span class="fi fi-jo"></span>
                    <span>JOR</span>
                    <p>2 {{"billing.credits" | translate}}</p>
                </div>
                <div class="flex align-items-center country-credit">
                    <span class="fi fi-br"></span>
                    <span>BRA</span>
                    <p>1 {{"billing.credits" | translate}}</p>
                </div>
                <div class="flex align-items-center">
                    <div class="flex align-items-center country-credit">
                        <span class="fi fi-us"></span>
                        <span>USA</span>
                        <p>1 {{"billing.credits" | translate}}</p>
                    </div>
                </div>
                <div class="flex align-items-center">
                    <div class="flex align-items-center country-credit opacity-50">
                        <span class="fi fi-ae"></span>
                        <span>UAE</span>
                        <p>1 {{"billing.credits"| translate}}</p>
                    </div>
                    <span class="soon ml-2">{{"billing.soon" | translate}}</span>
                </div>
                <div class="flex align-items-center">
                    <div class="flex align-items-center country-credit opacity-50">
                        <span class="fi fi-fr"></span>
                        <span>FR</span>
                        <p>10 {{"billing.credits"| translate}}</p>
                    </div>
                    <span class="soon ml-2">{{"billing.soon" | translate}}</span>
                </div>
            </div>
        </p-overlayPanel>
    </td>
    <td>
        300 ({{"billing.first-month" | translate}})
    </td>
    <td>
        1,800 {{"billing.monthly" | translate}}
    </td>
    <td>
        3,900 {{"billing.monthly" | translate}}
    </td>
    <td>
        9,500 {{"billing.monthly" | translate}}
    </td>
    <td>
        {{"billing.custom-quota" | translate}}
    </td>
  </tr>

  <tr>
    <td>{{"billing.email" | translate}}</td>
    <td>
        1,000 ({{"billing.first-month" | translate}})
    </td>
    <td>
        14,400 {{"billing.monthly" | translate}}
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
    <td>
        {{"billing.unlimited" | translate}}
   </td>
  </tr>

  <tr>
    <td>{{"billing.account-support" | translate}}</td>
    <td>
        2 {{"billing.sessions" | translate}}
    </td>
    <td>
        2 {{"billing.sessions" | translate}}
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
  </tr>

  <tr>
    <td>{{"billing.market-consult" | translate}}</td>
    <td>
        <img src="app-assets/icons/common/x-mark.svg" alt="">
    </td>
    <td>
        1 {{"billing.session-quarter" | translate}}
    </td>
    <td>
        1 {{"billing.session-month" | translate}}
    </td>
    <td>
        2 {{"billing.sessions-month" | translate}}
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
  </tr>
  <!-- Monthly Credits End -->

  <!-- Limits Rows -->
  <tr class="header-row">
    <td>{{"billing.limits" | translate}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>{{"billing.contacts" | translate}}</td>
    <td>
        
    </td>
    <td>
        5,500
    </td>
    <td>
        20,000
    </td>
    <td>
        55,000
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
  </tr>

  <tr>
    <td>SKUs</td>
    <td>
        
    </td>
    <td>
        5,000
    </td>
    <td>
        20,000
    </td>
    <td>
        50,000
    </td>
    <td>
        {{"billing.unlimited" | translate}}
    </td>
  </tr>
  <!-- Limits Rows End -->
</table>
