<div class="flex justify-content-between">

  <convertedin-header
  title="{{ 'settings.title' | translate }}"
  subtitle="{{ 'settings.subtitle' | translate }}"
  />
  <convertedin-select-app-lang></convertedin-select-app-lang>
</div>
<section>
  <nav class="flex gap-2 mt-4">
    <button
      class="p-button btn nav-btn"
      [class.active]="activeIndex === TABS.profile"
      (click)="onChangeTab(TABS.profile)"
    >
      {{ 'settings.profile' | translate }}
    </button>
    <button
      class="p-button btn nav-btn"
      [class.active]="activeIndex === TABS.documents"
      (click)="onChangeTab(TABS.documents)"
    >
      {{ 'settings.documents' | translate }}
    </button>
  </nav>
  <section class="mt-3" [ngSwitch]="activeIndex">
    <convertedin-update-profile *ngSwitchCase="TABS.profile">
    </convertedin-update-profile>
    <convertedin-settings-documents *ngSwitchCase="TABS.documents">
    </convertedin-settings-documents>
  </section>
</section>