::ng-deep .dashboard-accounts {
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid var(--convertedin-gray-200);
  background: white;
  min-width: 18.75rem;
  // max-width: fit-content;

  &__connect-btn {
    padding: 12px 16px !important;
    border-radius: 12px !important;
    background: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
  }

  &__disable-link {
    pointer-events: none;
    background-color: #d0d4e2 !important;
    border-color: #d0d4e2 !important;
  }

  &__status {
    color: rgba(70, 83, 115, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;

    span {
      &:nth-child(1) {
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-inline-end: 4px;
        border-radius: 50%;
      }
    }
  }

  &__connected {
    background-color: #0cac9e;
  }

  &__notconnected {
    background-color: #f43f5e;
  }

  &__connected-container {
    margin-top: 10px;
    padding-top: 10px;
  }

  &__connected-title {
    color: var(--convertedin-gray-800);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
  }

  &__connected-page {
    color: var(--flyerz-primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }

  &__connected-change {
    border-radius: 12px !important;
    background: var(--flyerz-primary-50) !important;
    border-color: var(--flyerz-primary-50) !important;
    color: var(--flyerz-primary-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
    justify-content: center;

    &:hover {
      color: var(--flyerz-primary-color) !important;
    }
  }

  &__card-subtitle {
    color: rgba(70, 83, 115, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
}

figure {
  height: fit-content;
}

img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

a {
  text-decoration: unset !important;
}

h3 {
  color: var(--convertedin-gray-800);
}
