<div class="flex gap-3 align-items-center">
  <!-- Social media img -->
  <figure class="flex align-items-center">
    <img [src]="getSocialMediaImg()" alt="social-media-icon" />
  </figure>

  <div class="flex flex-column gap-1 flex-grow-1">
    <h3>{{ channel.name }}</h3>
    <!-- Connected status -->
    <p class="dashboard-accounts__status">
      <span
        [class]="
          channel.isConnected && channel.connectedAccount?.isTokenValid
            ? 'dashboard-accounts__connected'
            : 'dashboard-accounts__notconnected'
        "
      >
      </span>
      <span class="dashboard-accounts__card-subtitle">
        {{ getStatusText() | translate }}
      </span>
    </p>
  </div>

  <!-- Connect account btn -->
  <ng-container
    [ngTemplateOutlet]="notConnectedBtn"
    *ngIf="
      !channel.isConnected ||
      (!channel.connectedAccount?.isTokenValid &&
        channel.id === channels.FACEBOOK)
    "
  ></ng-container>
</div>

<!-- Connected page details (visible only if page is connected) -->
<div
  class="border-top-1 border-gray-300 dashboard-accounts__connected-container"
  *ngIf="channel.isConnected && channel.connectedAccount"
>
  <!-- Title -->
  <p class="dashboard-accounts__connected-title">
    {{ 'dashboard.settings.accounts.connected-title' | translate }}
  </p>

  <!-- Page data -->
  <div
    class="flex gap-3"
    [ngClass]="{ 'mb-3': channel.id !== channels.INSTAGRAM }"
  >
    <!-- Page logo -->
    <figure class="flex align-items-center">
      <img
        [src]="channel.connectedAccount.page.image"
        alt="{{ channel.connectedAccount.page.name }}-icon"
      />
    </figure>

    <!-- Page title & category -->
    <div class="flex flex-column h-full justify-content-between">
      <p class="dashboard-accounts__connected-page">
        {{ channel.connectedAccount.page.name }}
      </p>
      <p class="dashboard-accounts__card-subtitle">
        {{ channel.connectedAccount.category.name }}
      </p>
    </div>
  </div>

  <div class="flex gap-2">
    <!-- Change page btn -->
    <a
      *ngIf="
        channel.id !== channels.INSTAGRAM &&
        channel.connectedAccount.isTokenValid
      "
      pButton
      class="dashboard-accounts__connected-change flex-grow-1"
      routerLink="/my-dashboard/settings/accounts/page-select"
      [queryParams]="{ changePage: true }"
    >
      {{ 'dashboard.settings.accounts.connected-change-btn' | translate }}
    </a>

    <!-- Reconnect page btn -->
    <button
      *ngIf="!channel.connectedAccount.isAssigned"
      pButton
      class="dashboard-accounts__connected-change flex-grow-1 gap-2 align-items-center"
      (click)="reassign.emit()"
      [disabled]="isReassignLoading"
    >
      {{ 'dashboard.home.connect-btn' | translate }}

      <i class="pi pi-spin pi-spinner" *ngIf="isReassignLoading"></i>
    </button>
  </div>
</div>

<!-- Account not connected template for buttons -->
<ng-template #notConnectedBtn>
  <button
    pButton
    class="dashboard-accounts__connect-btn gap-2"
    [disabled]="
      (channel.id === channels.INSTAGRAM && !channel.canConnectInstagram) ||
      isLoading
    "
    (click)="connectAccount()"
  >
    {{ 'dashboard.settings.accounts.connect-account-btn' | translate }}

    <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
  </button>
</ng-template>
