<div>
  <h5 class="text-sm font-semibold text-gray">{{ $any(user)[nameKey] }}</h5>
  <p class="text-xs text-gray">{{ user.id }}</p>
</div>
<button
  type="button"
  class="p-button btn danger-button w-7rem justify-content-center"
  *ngIf="user.id === selectedUser?.id; else connectBtn"
  (click)="disSelect.emit(user)"
>
  {{ 'account.disconnect' | translate }}
</button>

<ng-template #connectBtn>
  <button
    type="button"
    class="p-button btn primary-outline-btn w-7rem justify-content-center"
    (click)="onselectBusiness.emit(user)"
    [disabled]="!user.isEnabled"
  >
    {{ 'account.connect' | translate }}
  </button>
</ng-template>