<div class="pricing-card w-11/12 md:w-9/12 m-auto mt-24">
  <div class="mx-auto w-fit">
    <p-selectButton
      [options]="stateOptions"
      [(ngModel)]="value"
      optionLabel="label"
      optionValue="value"
    />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 px-5 mx-auto gap-10 mt-16">
    <div class="pricing-card__content">

      <div *ngIf="value === 'monthly'">
        <h2>${{getMonthly()}} / month</h2>
        <p >Pricing represents 15% of Ad Spend.<br>Percentage based on Monthly billing selection.</p>
      </div>
      <div *ngIf="value === 'yearly'">
        <h2>${{getYearly()}} / month</h2>
        <p>Pricing represents 10% of Ad Spend.<br>Percentage based on Yearly billing selection.</p>
      </div>
        <h3>All Plans Include:</h3>
        <ul class="mt-6">
            <li *ngFor="let planItem of cardDetails.plans_include">
                <div class="flex items-center gap-3">
                    <img src="assets/images/check-green.svg">
                    {{planItem}}
                </div>
            </li>
        </ul>
    </div>
    <div class="pricing-card__content flex flex-col items-center">
        <img src="assets/images/pricing-card.png" alt="woman holding a laptop">
        <h3 class="mt-3">Managed Services:</h3>
        <span>An extension to your team</span>
        <ul>
            <li *ngFor="let managedService of cardDetails.managed_services">
                <div class="flex items-center gap-3">
                    <img src="assets/images/check-green.svg">
                    {{managedService}}
                </div>
            </li>
        </ul>
    </div>
  </div>
  <a href="#calender" class="mt-11 get-started mx-auto w-11/12 md:w-6/12">Get Started</a>
</div>
