.pricing-card{
    padding: 32px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);

    ::ng-deep{
        .p-selectbutton{
            background-color: white;
            border-radius: 35px;
            background: #FFF;
            box-shadow: 0px 4px 24.7px 0px rgba(0, 0, 0, 0.10);
            .p-button{
                border-radius: 35px;
                border: white;
                color: #D0D5DD;
                font-size: 16.8px;
                font-style: normal;
                line-height: 190%; /* 31.92px */

                .p-button-label{
                    font-weight: 500;
                }
            }

            .p-highlight{
                background-color: theme('colors.primary-color');
                color: white;
            }
        }
    }

    &__content{
        h2{
            color: theme('colors.gray.900');
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px; /* 125% */
            letter-spacing: -0.96px;
            padding: 20px 25px;
            border-radius: 8px;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        }
        p{
            color: theme('colors.gray.900');
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 155.556% */
            margin-block: 16px 33px;
        }
        h3{
            color: theme('colors.gray.700');
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px; /* 126.667% */
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 12px;
            li{
                color: theme('colors.gray.700');
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; /* 150% */
            }
        }

        span{
            color: theme('colors.gray.400');
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 150% */
            margin-block: 12px;
            display: block;
        }
    }
}