<header class="header flex justify-content-between">
  <div>
    <h1 class="header__title">{{ 'campaignOverview.title' | translate }}</h1>
    <p class="header__desc">{{ 'campaignOverview.subtitle' | translate }}</p>
  </div>
  <div>
    <button class="p-button primary-btn" routerLink="/dashboard/campaign">
      <span class="pi pi-plus text-xs"> </span>
      <span class="mx-2 hidden md:block">
        {{ 'campaignOverview.createCampaign' | translate }}</span
      >
      <span class="mx-2 block md:hidden">
        {{ 'campaignOverview.createCampaignMobile' | translate }}</span
      >
    </button>
  </div>
</header>
<section class="my-3 flex gap-3 flex-wrap">
  <div
    *ngFor="let item of overviewList"
    class="p-3 flex-1 border-2 border-gray-200 border-round-xl overview-card"
  >
    <div class="flex justify-content-between align-items-center">
      <p class="text-lg font-semibold">
        {{
          campaignMetrics ? (campaignMetrics[item.key] | numberFormatter) : '-'
        }}
      </p>
      <svg-icon [name]="item.icon"></svg-icon>
    </div>
    <h3 class="mt-3 font-medium text-sm">{{ item.label | translate }}</h3>
  </div>
</section>
<section>
  <div
    class="header flex justify-content-between align-items-center mb-3 flex-wrap gap-1"
  >
    <h2 class="header__desc font-semibold">
      {{ 'campaignOverview.campaign' | translate }}
    </h2>
    <div>
      <convertedin-date-filter
        [placeholder]="'campaignOverview.allTime' | translate"
        (onchangeFilter)="onChangeFilter($event)"
      ></convertedin-date-filter>
    </div>
  </div>
  <ng-container *ngIf="allCampaigns$ | async; let allCampaigns">
    <p-table
      [loading]="(loading$ | async)!"
      *ngIf="
        allCampaigns.campaigns.length > 0 || loading$.value;
        else noCampaigns
      "
      styleClass="overview-table"
      [value]="allCampaigns.campaigns"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'campaignOverview.campaignName' | translate }}</th>
          <th>{{ 'campaignOverview.status' | translate }}</th>
          <th>{{ 'campaignOverview.createdAt' | translate }}</th>
          <th>{{ 'campaignOverview.clicks' | translate }}</th>
          <th>{{ 'campaignOverview.impressions' | translate }}</th>
          <th>{{ 'campaignOverview.localActions' | translate }}</th>
          <th>{{ 'campaignOverview.callClicks' | translate }}</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-campaign>
        <tr>
          <td class="font-medium">{{ campaign.name }}</td>
          <td>
            <span class="status-ticket">
              <span
                [attr.data-status]="campaign.status"
                class="status-ticket-badge"
              ></span>
              {{ 'campaignOverview.' + campaign.status | translate }}
            </span>
          </td>
          <td class="white-space-nowrap">
            {{ campaign.created_at | date : 'yyyy-MM-dd' }}
          </td>
          <td>{{ campaign.clicks }}</td>
          <td>{{ campaign.impressions }}</td>
          <td>
            {{ campaign.local_actions }}
          </td>
          <td>{{ campaign.call_clicks }}</td>
          <td>
            <div class="table-actions">
              <div>
                <button
                  *ngIf="campaign.status === 'PAUSED'"
                  class="p-button primary-btn"
                  (click)="generatePaymentLink(campaign.id)"
                >
                  {{
                    campaign.first_time_subscriber
                      ? ('campaignOverview.pay' | translate)
                      : ('campaignOverview.renew' | translate)
                  }}
                </button>
              </div>
              <button
                [routerLink]="'/dashboard/campaign-details/' + campaign.id"
                class="p-button primary-outline-btn"
              >
                {{ 'campaignOverview.view' | translate }}
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-paginator
          styleClass="w-full"
          [first]="0"
          [rows]="10"
          [pageLinkSize]="pageLinkSize"
          [totalRecords]="allCampaigns?.pages_number * 10"
          [showFirstLastIcon]="false"
          (onPageChange)="onPageChange($event)"
        >
          <ng-template pTemplate="nextpagelinkicon">
            <span class="flex align-items-center gap-2">
              {{ 'campaignOverview.next' | translate }}
              <span class="pi pi-arrow-right text-xs"></span>
            </span>
          </ng-template>
          <ng-template pTemplate="previouspagelinkicon">
            <span class="flex align-items-center gap-2"
              ><span class="pi pi-arrow-left text-xs"></span>
              {{ 'campaignOverview.previous' | translate }}</span
            >
          </ng-template>
        </p-paginator>
      </ng-template>
    </p-table>

    <ng-template #noCampaigns>
      <div class="text-center">
        <img
          class="block mx-auto my-3"
          src="assets/images/campaign/no-campaign.png"
          alt=""
        />
        <p>{{ 'campaignOverview.noData' | translate }}</p>
        <p class="mt-1">
          {{ 'campaignOverview.startCreateCampaign' | translate }}
        </p>
        <button
          class="p-button primary-btn mt-3"
          routerLink="/dashboard/campaign"
        >
          <span class="pi pi-plus text-xs"> </span>
          <span class="mx-2">{{
            'campaignOverview.createCampaign' | translate
          }}</span>
        </button>
      </div>
    </ng-template>
  </ng-container>
</section>
