::ng-deep html[lang='ar'] .overview-table .pi {
  &.pi-arrow-left,
  &.pi-arrow-right {
    rotate: 180deg;
  }
}
.overview-card {
  min-width: 14rem;
  @media screen and (max-width: 768px) {
    min-width: 10rem;
  }
}
