<div class="h-fit header">
  <img
    class="mx-auto mb-3 block w-6rem h-6rem"
    src="assets/icons/close-circle.svg"
    alt="icon"
  />
  <h1 class="text-center header__title">
    {{ 'createCampaign.failed.title' | translate }}
  </h1>
  <p class="text-center header__desc">
    {{ 'createCampaign.failed.subtitle' | translate }}
  </p>
  <div class="nav flex gap-2 justify-content-center mt-3">
    <button
      routerLink="/dashboard/campaign"
      class="p-button primary-outline-btn"
    >
      {{ 'createCampaign.failed.createCampaignBtn' | translate }}
    </button>
    <button
    routerLink="/dashboard/overview"
      class="p-button primary-btn"
    >
      {{ 'createCampaign.failed.backBtn' | translate }}
    </button>
  </div>
</div>
