<div class="email-preview-wrapper">
    <div class="email-preview-actions-wrapper">
        <div class="email-preview-actions">
            <button (click)="toggleDevice(deviceEnum.DESKTOP)" [ngClass]="{active : activeDevice === deviceEnum.DESKTOP}" type="button">desktop
            </button>
            <button (click)="toggleDevice(deviceEnum.MOBILE)" [ngClass]="{active : activeDevice === deviceEnum.MOBILE}" type="button">mobile</button>
        </div>
    </div>
    <div class="email-preview-template-wrapper">
        <div class="email-preview-template" [ngClass]="{desktop : activeDevice === deviceEnum.DESKTOP, mobile : activeDevice === deviceEnum.MOBILE}">
          <div class="mobile-wrapper">
            <div class="email-preview-template-inner">
                <div class="email-preview-template-content" [innerHTML]="content"></div>
            </div>
          </div>
        </div>
    </div>
</div>
