<div class="flex flex-column gap-2">
  <h3 class="text-center">{{ 'landing.pros-title' | translate }}</h3>

  <p class="text-center">{{ 'landing.pros-subtitle' | translate }}</p>
</div>

<!-- Features cards -->
<div class="flex gap-4 w-full">
  <article
    *ngFor="let item of flyerzPros"
    class="flex flex-column landing__pros-card align-self-stretch w-4"
  >
    <img [src]="item.icon" alt="pros-icon" width="40" height="40" />

    <div class="flex flex-column flex-grow-1 gap-1">
      <h4>{{ item.title | translate }}</h4>
      <p>{{ item.subtitle | translate }}</p>
    </div>
  </article>
</div>
