h3 {
  color: var(--convertedin-gray-800);
  font-size: 24px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: -0.228px;
}

.landing {
  &__pros-card {
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 34px 0px rgba(232, 235, 241, 0.5);
    gap: 12px;

    &:hover {
      transition: all 0.5s;
      transform: scale(1.05);
    }
  }
}
