.lang-dropdown {
  --lang-label-text-color: var(--convertedin-gray-600);
  --lang-arrow-color: var(--convertedin-gray-400);
  --lang-dropdown-bg: var(--convertedin-gray-200);

  background-color: var(--lang-dropdown-bg);
  color: var(--lang-arrow-color);
  border-radius: 100px;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  .lang-label {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--lang-label-text-color);
    min-width: 18px;
    text-align: center;
  }
  .lang-arrow {
    color: var(--lang-arrow-color);
  }
  &.lang-dropdown-white-bg {
    --lang-label-text-color: var(--convertedin-gray-700);
    --lang-arrow-color: var(--convertedin-gray-700);
    --lang-dropdown-bg: white;
    border-radius: 0.5rem;
    border: 1px solid #d0d5dd;
  }
  @media screen and (max-width: 768px) {
    padding: 0.5rem 0.6rem;
  }
}
::ng-deep.lang-panel {
  margin-top: 0 !important;
  .p-overlaypanel-content {
    padding: 0.5rem 0;
  }
  &::before,
  &::after {
    display: none;
  }
  .lang-list {
    list-style: none;
    li {
      padding: 0.5rem 2rem;
      font-size: 0.875rem;
      font-weight: 700;
      color: var(--convertedin-gray-600);
      cursor: pointer;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: var(--convertedin-gray-100);
      }
      &.active {
        background-color: var(--convertedin-gray-200);
      }
    }
  }
}
