<div
  (click)="op.toggle($event)"
  class="inline-flex gap-2 align-items-center lang-dropdown"
  [class.lang-dropdown-white-bg]="isWhiteBg"
>
  <svg-icon name="global"></svg-icon>
  <span class="lang-label hidden md:inline">{{
    selectedLang === 'en' ? 'English' : 'عربي'
  }}</span>
  <span class="lang-label inline md:hidden">{{
    selectedLang === 'en' ? 'En' : 'ع'
  }}</span>
  <span
    [ngClass]="[isOpen ? 'pi-angle-up' : 'pi-angle-down']"
    class="lang-arrow pi"
  ></span>
</div>

<p-overlayPanel
  (onShow)="isOpen = true"
  (onHide)="isOpen = false"
  #op
  styleClass="lang-panel"
>
  <ul class="lang-list">
    <li
      *ngFor="let lang of langList"
      [ngClass]="{ active: lang.code === selectedLang }"
      (click)="changeLang(lang.code)"
    >
      {{ lang.name }}
    </li>
  </ul>
</p-overlayPanel>
