.plans-wrapper{
    .custom-col {
        flex: 0 0 19%;
        max-width: 19%;
        margin-inline: 6px;
        @media screen and (max-width: 1200px){
            flex: 0 0 29%;
            max-width: 29%;
        }

        @media screen and (max-width:992px) {
            flex: 0 0 39%;
            max-width: 39%;
        }

        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
            max-width: 100%;
            
        }
      }
}


.preview-block{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 24px;
}

.enterprise-plan{
    p{
        font-size: 24px !important;
    }

    button{
        margin-top: 2px !important;
    }
}

.plan{
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 445px;
    position: relative;
    
    .plan-title{
        color: var(--gray-800, #1D2939);
        font-size: 16px;
        font-weight: 700;
    }

    p{
        color: var(--gray-800, #1D2939);
        font-size: 32px;
        font-weight: 800;
    }

    span{
        color: var(--gray-400, #98A2B3);
        font-size: 14px;
        font-weight: 500;
        display: block;
    }

    button{
        color: var(--base-white, #FFF);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        text-align: center;
        display: block;
        padding-block: 10px;
        background-color: #04d;
        border-radius: 8px;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        border: 1px solid var(--primary-500, #04D);
        cursor: pointer !important;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 16px;
    }

    .disabled-btn{
        border-radius: 8px;
        border: 1px solid var(--gray-200, #EAECF0);
        background: var(--base-white, #FFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: var(--gray-300, #D0D5DD);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        pointer-events: none;
    }

    .best-value{
        position: absolute;
        right: -31px;
        top: 55px;
        color: var(--Base-White, #FFF);
        font-size: 14px;
        font-weight: 500;
        background: var(--Primary-500, #04D);
        padding: 4px 8px;
        transform: rotate(-90deg);
    }
}