<convertedin-spinner *ngIf="isLoading" class="flex justify-content-center" />
<div class="grid plans-wrapper" *ngIf="plans$ | async as plan">
  <div class="custom-col mt-5" *ngFor="let plan of plan.plans; let i = index">
    <div class="preview-block plan h-full">
      <p class="plan-title">{{ plan.name }}</p>
      <p>${{ plan.price }}</p>
      <span> {{ plan.description }}</span>
      <button
        tracking
        trackingMode="click"
        [trackingData]="getTracking(plan)"
        type="button"
        (click)="upgradePlan(plan)"
        [ngClass]="{
          'disabled-btn': plan.is_user_current_plan || !plan.user_can_swap
        }"
      >
        {{ plan.is_user_current_plan ? "Current Plan" : "Select Plan"}}
      </button>
      <ul>
        <li *ngFor="let feature of plan.features">
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
          {{ feature }}
        </li>
      </ul>
      <span *ngIf="plan.id === 3" class="best-value">{{"billing.best-value" | translate}}</span>
    </div>
  </div>
  <div class="custom-col mt-5">
    <div class="preview-block enterprise-plan plan h-full">
      <p class="plan-title">{{"billing.enterprise" | translate}}</p>
      <p>{{"billing.custom-pricing" | translate}}</p>
      <span>{{"billing.unlimited-ad-spend" | translate}}</span>
      <button type="button" (click)="salesPlan()">{{"billing.contact-sales" | translate}}</button>
      <ul>
        <li>
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
          {{"billing.all-social-platforms" | translate}}
        </li>
        <li>
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
           {{"billing.all-search-platforms" | translate}}
        </li>
        <li>
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
          Criteo
        </li>
        <li>
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
          Amazon DSP
        </li>
        <li>
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
          {{"billing.unlimited-emails" | translate}}
        </li>
        <li>
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
          {{"billing.special-sms" | translate}}
        </li>
        <li>
          <img
            class="mr-2"
            src="app-assets/icons/common/green-tick.svg"
            alt=""
          />
          {{"billing.marketing-expert-support" | translate}}
        </li>
      </ul>
    </div>
  </div>
</div>
