<header>
  <h4 class="header__title text-xl">{{ 'referral.shareReferralCodeOrLink' | translate }}</h4>
  <p class="header__desc text-base">{{ 'referral.getYourReferralLink' | translate }}</p>
</header>
<div
  class="link-card flex justify-content-between align-items-center flex-wrap lign-items-center gap-2 my-3"
>
  <p class="code-text w-fit">
    {{referralUrl}}
  </p>
  <button
    class="p-button btn primary-btn"
    [copy-clipboard]="referralUrl"
    (copied)="copied()"
    [convertedinLogEvents]="'COPY_REFERRAL_CODE'"
    (focusout)="isCopied = false"
  >
    <span *ngIf="!isCopied">{{ 'referral.copy' | translate }}</span>
    <span *ngIf="isCopied" class="flex gap-2">{{ 'referral.copied' | translate }} <span class="pi pi-check"></span></span>
  </button>
</div>
<p class="header__desc text-base">
  {{ 'referral.orShareThisCode' | translate }} <span class="code-text">{{referral.code}}</span>
</p>