.link-card {
  border: 1px dashed #99b4f1;
  padding: 1rem 1.25rem;
  background-color: #fbfbff;
  border-radius: 0.5rem;
}
.code-text {
  font-size: 1em;
  line-height: 1rem;
  color: #667085;
  font-weight: 600;
  word-wrap: break-word;
  max-width: 100%;
}
