.active {
  border: 2px solid var(--converted-pay-primary-color) !important;
}
.invoice-container {
  background-color: var(--convertedin-gray-100);
}
.bank-img {
  max-width: 6rem;
  max-height: 6rem;
}
.disabled {
  opacity: 0.7;
  background-color: var(--convertedin-gray-100);
  pointer-events: none;
  box-shadow: none !important;
}
.payment-card {
  max-width: 15rem;
}
