figure {
  width: fit-content;
  background-color: #fffafb;
  border-radius: 50%;
}

.validate-email-popup {
  ::ng-deep & {
    width: 500px;
    .p-dialog-header {
      padding: 0.5rem 1.5rem !important;
    }
  }

  &__input {
    background-color: var(--convertedin-gray-50) !important;
  }

  ::ng-deep &__cancel-btn,
  &__submit-btn {
    padding: 16px 32px !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 150%;
  }

  ::ng-deep &__cancel-btn {
    background: var(--convertedin-gray-200) !important;
    border-color: var(--convertedin-gray-200) !important;
    color: var(--convertedin-gray-800) !important;
  }

  ::ng-deep &__submit-btn {
    background: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
  }
}

h2 {
  color: #101828;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

h3 {
  color: #101828;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
