<!-- Header -->
<div class="flex flex-column align-items-center gap-4">
  <figure class="p-3 mx-auto">
    <img src="assets/icons/dashboard/wallet/email.svg" alt="email-icon" />
  </figure>

  <h2 class="text-center">
    {{ 'dashboard.wallet.validate-email.title' | translate }}
  </h2>

  <h3 class="text-center">
    {{ 'dashboard.wallet.validate-email.subtitle' | translate }}
  </h3>
</div>

<form class="flex flex-column gap-4" [formGroup]="form" (ngSubmit)="submit()">
  <!-- Email input -->
  <div class="flex flex-column gap-2">
    <label>
      {{ 'dashboard.wallet.validate-email.lbl' | translate }}
    </label>

    <input
      pInputText
      type="email"
      class="validate-email-popup__input"
      formControlName="email"
      placeholder="{{
        'dashboard.wallet.validate-email.placeholder' | translate
      }}"
    />

    <convertedin-control-errors [control]="form.get('email')!" />
  </div>

  <!-- Action btns -->
  <div class="flex gap-3">
    <!-- Submit btn -->
    <button
      [disabled]="!form.valid || isLoading"
      type="submit"
      pButton
      class="validate-email-popup__submit-btn justify-content-center flex-grow-1 gap-2"
    >
      {{ 'common.save' | translate }}

      <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
    </button>

    <!-- Cancel btn -->
    <button
      (click)="closeDialog()"
      pButton
      type="button"
      class="validate-email-popup__cancel-btn justify-content-center flex-grow-1"
    >
      {{ 'common.cancel' | translate }}
    </button>
  </div>
</form>
