<div class="grid nested-grid">
  <div class="flex flex-wrap m-2 w-full">
      <div class="col-12">
          <h3 class="section-header">Select Template to Start</h3>
      </div>

      <div class="col-12">
          <convertedin-search-filter [filters]="filters" [data]="cards" [backendSearch]="useBackendSearch"
              (searchResults)="handleClientSearch($event)" (backendSearchQuery)="handleBackendSearch($event)">
          </convertedin-search-filter>

      </div>
      <!-- Blank card-->
      <div class="col-12 xl:col-3">
          <convertedin-card-template [cardData]="{
          type: '',
          isNew: false,
          cardHeader: 'Blank',
          CTR: [],
          ROAS: [],
          strategy: [],
          audience: [],
          socialMediaLinks: {},
          isBlank: true
      }" (viewTemplateAction)="onViewTemplate()" />

      </div>
      <!-- cards -->
      <div class="col-12 xl:col-3 mb-3" *ngFor="let card of displayedCards">
          <convertedin-card-template [cardData]="{
          type: card.type,
          isNew: card.isNew,
          cardHeader: card.name,
          CTR: card.CTR,
          ROAS: card.ROAS,
          strategy: card.strategy,
          audience: card.audience,
          socialMediaLinks: card.socialMediaLinks,
          isBlank: false
      }" (viewTemplateAction)="onViewTemplate()" />

      </div>
  </div>
</div>
