::ng-deep .discard-popup {
  &__cancel-btn {
    color: #1a1d1f !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    line-height: 24px;
    letter-spacing: -0.13px;
  }

  &__discard-btn {
    background-color: #f44336 !important;
    padding: 8px 34px 8px 33px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
  }
}
