<form
  [formGroup]="resetPasswordForm"
  class="w-full sm:w-8 md:w-6 lg:w-4"
  (ngSubmit)="submit()"
>
  <header class="header text-center">
    <h1 class="header__title">{{ 'auth.resetPassword.title' | translate }}</h1>
    <p class="header__desc">{{ 'auth.resetPassword.subtitle' | translate }}</p>
  </header>
  <!-- <hr class="my-4 w-full border-1 border-gray-200" /> -->
  <div class="w-full mt-4">
    <div class="form-field">
      <label class="form-field__label" for="password">{{
        'auth.resetPassword.passwordLabel' | translate
      }}</label>

      <p-password
        inputId="password"
        class="form-field__input w-full"
        formControlName="password"
        [placeholder]="'auth.resetPassword.passwordPlaceholder' | translate"
        [feedback]="false"
        [toggleMask]="true"
      />
      <convertedin-control-errors
        [showOneOnly]="true"
        [control]="resetPasswordForm.get('password')!"
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="password_confirmation">{{
        'auth.resetPassword.confirmPasswordLabel' | translate
      }}</label>

      <p-password
        inputId="password_confirmation"
        class="form-field__input w-full"
        formControlName="password_confirmation"
        [feedback]="false"
        [toggleMask]="true"
        [placeholder]="'auth.resetPassword.confirmPasswordPlaceholder' | translate"
      />
      <convertedin-control-errors
        [control]="resetPasswordForm.get('password_confirmation')!"
      />
    </div>
    <button
      class="p-button primary-btn mt-3 w-full justify-content-center"
      [disabled]="(isLoading$ | async) || resetPasswordForm.invalid"
    >
      {{ 'auth.resetPassword.resetPasswordBtn' | translate }}
      <i class="pi pi-spin pi-spinner mx-1" *ngIf="isLoading$.value"></i>
    </button>
  </div>
  <!-- <hr class="my-4 w-full border-1 border-gray-200" /> -->
  <!-- <p class="text-xs font-medium">{{ 'auth.login.haveAccount' | translate }}</p> -->
  <a
    [routerLink]="['../login']"
    class="p-button primary-outline-btn mt-2 w-full justify-content-center"
  >
    {{ 'auth.resetPassword.login' | translate }}</a
  >
</form>
