<section class="header text-center">
    <div class="flex justify-content-center my-3">
      <span
        class="inline-block p-1 border-round-lg border-1 border-gray-200 mx-auto shadow-3"
      >
        <svg-icon
          class="w-4rem h-4rem"
          [applyClass]="true"
          name="google-business"
        ></svg-icon>
      </span>
    </div>
    <h2 class="header__title">{{ 'googleAuth.callback.title' | translate }}</h2>
    <p class="header__desc">{{ 'googleAuth.callback.subtitle' | translate }}</p>
    <div class="flex justify-content-center mt-3">
      <p-progressSpinner
        styleClass="w-4rem h-4rem"
        strokeWidth="6"
        ariaLabel="loading"
      ></p-progressSpinner>
    </div>
  </section>
  