.btn {
  font-weight: 600;
  font-size: 0.8125rem !important;
  padding: 0.5rem 1.5rem !important;
  &:disabled {
    opacity: 0.6;
  }
  // html[dir='rtl'] & {
  //   flex-direction: row-reverse;
  // }
}
.p-button.primary-outline-btn {
  background-color: white !important;
  border: 1px solid var(--convertedin-gray-200) !important;
  border-radius: 0.5rem;
  color: var(--converted-pay-primary-dark-color) !important;
  font-size: 0.8125rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.p-button.primary-btn {
  background-color: var(--converted-pay-primary-color) !important;
  border: 1px solid var(--convertedin-gray-200) !important;
  border-radius: 0.5rem;
  color: white !important;
  font-size: 0.8125rem;
  padding: 0.5rem 1.5rem;
}
.p-button.primary-dark-btn {
  background-color: var(--converted-pay-primary-dark-color) !important;
  border: 1px solid var(--convertedin-gray-200) !important;
  border-radius: 0.5rem;
  color: white !important;
  font-size: 0.8125rem;
  padding: 0.5rem 1.5rem;
}

.icon-btn {
  background-color: unset !important;
  border: unset !important;
  padding:.5rem !important;
  outline: unset;
  cursor: pointer;
}

.danger-button {
  color: var(--converted-pay-error-700) !important;
  background-color: transparent !important;
  border: 1px solid var(--converted-pay-error-400) !important;
  border-radius: 0.5rem;

  padding: 0.5rem 1.5rem;
}

.disabled-anchor {
  pointer-events: none;
  opacity: 0.6;
}

.text-button {
  background-color: var(--converted-pay-primary-color) !important;
  border: 1px solid transparent !important;
  border-radius: 0.5rem;
  color: white !important;
  font-size: 0.8125rem;
  padding: 0.5rem 1.5rem !important;
}
