
.form-field {
  &__label {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--convertedin-gray-700);
    margin-bottom: 0.2rem;
  }

  &__input {
    font-size: 0.8125rem;
    font-weight: 400;
    display: block;
    width: 100%;
  }

  margin-bottom: 0.625rem;
}
