.p-inputtext,
.convertedin-phone {
  width: 100%;
  &.ng-invalid.ng-touched {
    border-color: red;
  }
}
.p-inputwrapper {
  width: 100%;
  &.ng-invalid.ng-touched {
    .p-dropdown,
    .p-inputtext {
      border-color: red;
    }
  }
}
html[dir='rtl'] {
  .p-inputgroup{
    &-addon-dir {
      border-left: unset;
      border-right: 1px solid #ced4da;
      border-radius: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .p-inputwrapper {
      .p-inputnumber {
        &-input.p-inputtext {
          border-radius: 0;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }
      }
    }
  }
}
