::ng-deep .create-ad {
  &__success-title {
    color: var(--convertedin-gray-900);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  &__details-container {
    border-inline-end: 1px solid var(--convertedin-gray-100);
  }

  &__ai-container {
    padding: 24px 32px;
    width: 75%;
  }

  &__success__subtitle {
    color: var(--convertedin-gray-500);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__success-btn {
    padding: 16px 24px !important;
    border-radius: 8px !important;
    background: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    color: #fff;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 130%;
    letter-spacing: -0.2px;
    text-decoration: none;
  }

  &__success-img {
    max-width: 280px;
    max-height: 260px;
  }

  &__step {
    padding: 50px 0;
  }

  &__selected {
    border-color: var(--flyerz-primary-color) !important;
    transition: all 0.3s;
    background-color: var(--flyerz-primary-50) !important;
  }

  &__next-btn {
    padding: 12px 16px !important;
    min-width: 7.18rem !important;
    border-radius: 8px !important;
    background: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    justify-content: center;
    font-size: 13px !important;
    font-weight: 700 !important;
    line-height: 130%;
    letter-spacing: -0.2px;
  }

  &__back-btn {
    border-radius: 8px !important;
    border: 1px solid var(--convertedin-gray-50) !important;
    background: #fff !important;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    padding: 12px 16px !important;
    color: var(--convertedin-gray-900);
    font-size: 13px !important;
    font-weight: 700 !important;
    line-height: 130%;
    letter-spacing: -0.2px;
  }

  &__stepper {
    .convertedin-stepper__actions-container {
      padding: 15px 2.5rem;
      border-top: 1px solid var(--convertedin-gray-200);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
    }

    .convertedin-stepper__view-container {
      max-height: calc(100vh - (60.8px + 73.3px));
      overflow-y: scroll;
    }

    .convertedin-stepper__header {
      padding: 15px 4.43rem;
      border-bottom: 1px solid var(--convertedin-gray-200);
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
    }
  }

  &__suggestion-popup {
    width: 407px;
    max-width: 407px;
    position: relative;

    .p-dialog-title {
      color: var(--convertedin-gray-800) !important;
      font-size: 20px !important;
      font-weight: 800 !important;
      line-height: 24px;
    }
  }

  &__checkbox {
    .p-checkbox-box {
      border-radius: 50% !important;
    }

    .p-checkbox-box.p-highlight {
      background-color: var(--flyerz-primary-color) !important;
    }
  }

  &__accordion {
    .p-accordion {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .p-accordion-content {
      padding: 1.25rem 0 !important;
      border: unset !important;
    }

    .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
      box-shadow: unset !important;
    }

    .p-accordion-header .p-accordion-header-link {
      background-color: white !important;
      justify-content: space-between;
      padding: 12px !important;
      border: unset !important;

      .p-accordion-header-text {
        color: var(--convertedin-gray-500) !important;
        font-size: 14px !important;
        font-weight: 700 !important;
        line-height: 150%;
        order: 1;
      }

      .p-icon-wrapper,
      .p-accordion-toggle-icon {
        order: 2;
      }
    }
  }
}
