<!-- Header -->
<convertedin-create-ad-header
  [title]="'create-ad.select-post.title' | translate"
  [subtitle]="'create-ad.select-post.subtitle' | translate"
/>

<!-- Spinner -->
<convertedin-spinner *ngIf="loaders.initial" />

<!-- Posts -->
<div
  class="w-full flex create-ad__posts-container flex gap-4 flex-wrap"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="getPosts()"
  *ngIf="(posts$ | async) || _pagination.pagination.data"
>
  <!-- List of courses -->
  <ng-container *ngIf="_pagination.pagination.data?.length! > 0; else noPosts">
    <!-- Post card -->
    <div
      class="create-ad__post-card p-3 gap-4 flex justify-content-between flex-column align-self-stretch"
      [ngClass]="{
        'create-ad__selected': selectedPost?.postId === post.postId,
        'create-ad__disabled': !post.postMessage || !getPostImage(post)
      }"
      (click)="postSelected(post)"
      *ngFor="let post of _pagination.pagination.data"
    >
      <!-- Post image -->
      <figure class="flex justify-content-center align-content-center">
        <img
          alt="post-img"
          [src]="getPostImage(post) || 'assets/icons/common/thumbnail.svg'"
          class="max-w-full max-h-full"
        />
      </figure>

      <!-- Post message -->
      <p *ngIf="post.postMessage">{{ post.postMessage }}</p>

      <!-- Not selectable warning msg -->
      <p
        class="create-ad__post-warning flex gap-2 align-items-start"
        *ngIf="!post.postMessage || !getPostImage(post)"
      >
        <img alt="warning-icon" src="assets/icons/common/info-circle.svg" />

        <span>{{ 'create-ad.select-post.not-selectable' | translate }}</span>
      </p>
    </div>
  </ng-container>

  <!-- Empty posts view -->
  <ng-template #noPosts>
    <figure
      class="flex-grow-1 flex justify-content-center align-items-center gap-3 flex-column"
    >
      <img
        src="assets/images/empty-pages.png"
        alt="empty-pages-image"
        width="154"
        height="134"
      />

      <figcaption>
        {{ 'create-ad.select-post.empty-posts' | translate }}
      </figcaption>
    </figure>
  </ng-template>

  <!-- Pagination loader -->
  <div
    *ngIf="loaders.paginated"
    class="flex flex-column align-self-stretch justify-content-center align-items-center"
  >
    <convertedin-spinner />
  </div>
</div>
