.create-ad {
  &__posts-container {
    max-height: 50vh;
    overflow-y: scroll;
    padding: 0 5%;

    & > div {
      row-gap: 1rem;
    }
  }

  &__post-warning {
    padding: 10px 12px;
    background-color: #fffbeb;
    color: var(--convertedin-gray-700);
    font-size: 13px;
    font-weight: 400;
    line-height: 145%;
    border-radius: 8px;
  }

  &__disabled {
    opacity: 0.7;
  }

  &__post-card {
    border-radius: 6.482px;
    border: 2px solid var(--convertedin-gray-100);
    width: calc((100% - 72px) / 4);
    cursor: pointer;
    background-color: white;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      color: var(--convertedin-gray-800);
      // font-size: 9.722px;
      font-weight: 400;
      line-height: 150%;
    }

    figure {
      max-height: 200px;
    }
  }
}

figcaption {
  color: var(--convertedin-gray-800);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
