::ng-deep .create-ad {
  &__search-btn {
    padding: 8px 16px !important;
    border-radius: 8px !important;
    background: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    top: 3px;
  }

  &__cancel-btn {
    padding: 16px 32px !important;
    border-radius: 8px !important;
    background: var(--convertedin-gray-200) !important;
    border-color: var(--convertedin-gray-200) !important;
    color: var(--convertedin-gray-800) !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 150%;
  }

  &__search-input {
    .p-icon-wrapper {
      display: none !important;
    }

    .p-autocomplete-input {
      padding-inline-start: 3rem !important;
      width: 100%;
      border-radius: 12px !important;
      background: var(--convertedin-gray-50) !important;
    }
  }
}

.pi {
  top: 10px;
  z-index: 10;
  font-size: 20px;
  color: #98a2b3 !important;
}

.right {
  right: 16px;
}

.left {
  left: 16px;
}

::ng-deep {
  html[dir='ltr'] {
    .create-ad__search-btn {
      top: 5px !important;
    }
  }
}
