<nav class="h-full px-2 py-3 side-nav flex flex-column">
  <img src="assets/images/logo.png" class="w-8rem px-2" alt="logo" />
  <div class="px-2 flex flex-column flex-1 mt-3">
    <ul class="nav-container flex-1">
      <li
        *ngFor="let route of routeList"
        class="nav-item"
        [routerLink]="route.link"
        routerLinkActive="active"
      >
        <svg-icon [name]="route.icon"></svg-icon>
        <a> {{ route.label | translate }}</a>
      </li>
    </ul>
    <div class="nav-container">
      <p class="text-gray-500 mt-3 mb-2 text-sm px-3">
        {{ 'campaign.sidebar.more' | translate }}
      </p>
      <!-- <a class="nav-item py-2">
        <svg-icon name="settings"></svg-icon>
        {{ 'campaign.sidebar.settings' | translate }}</a
      > -->
      <a class="nav-item py-2 no-underline" routerLink="/dashboard/faq">
        <svg-icon name="help-circle"></svg-icon>
        {{ 'campaign.sidebar.helpCenter' | translate }}</a
      >
    </div>
  </div>
</nav>
