::ng-deep {
  .all-customers {
    &__customer-popup {
      min-width: 748px;
    }
  }
}

.view-customer {
  ::ng-deep &__tabs {
    .p-tabmenu-nav {
      justify-content: center !important;
    }
  }

  &__icon {
    background-color: #ebeff4;
    padding: 8px;
    border-radius: 50%;
  }

  &__initials {
    width: 60px;
    height: 60px;
    background-color: #dae3fa;
    color: #0c44dd;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
  }

  &__email {
    font-size: 14px;
    color: #6f758d !important;
  }

  &__segment {
    border: 1px solid #ced4da;
    border-radius: 8px;
  }
}
