<div class="settings-tab">
  <div class="flex align-items-center">
    <a class="back" routerLink="/dashboards/billing/subscription-plans">
      <img src="app-assets/icons/common/arrow-left.svg" alt="" />
    </a>
    <h1 class="settings-tab__title">{{"billing.change-plan-title" | translate}}</h1>
  </div>
  <h2 class="settings-tab__sub-title mt-5">{{"billing.pricing-plan" | translate}}</h2>
  <convertedin-plan></convertedin-plan>
  <div>
    <div class="grid">
      <div class="quotes-wrapper col-12 lg:col-8">
        <h2 class="settings-tab__sub-title">{{"billing.quota-credits" | translate}}</h2>
        <h5 class="mt-2">{{"billing.select-credits-for-plan" | translate}}</h5>
        <div class="grid">
          <convertedin-quotas
            (addSMS)="onAddingEmailQuota($event)"
            (addEmail)="onAddingSMSQuota($event)"
          ></convertedin-quotas>
        </div>
      </div>
      <div class="col-12 lg:col-4 quotas-checkout">
        <h2 class="settings-tab__sub-title">{{"billing.quota-credits-payment" | translate}}</h2>
        <hr />
        <ul>
          <li *ngFor="let quota of addedQuotas; let i = index">
            {{ quota.total_quota }}
            {{ quota.feature }}
            {{"billing.credits" | translate}}
            <div class="flex gap-2">
              <span> {{ quota.price }}$ </span>
              <button (click)="deleteQuota(i)">
                <img src="app-assets/icons/billing/x-close.svg" />
              </button>
            </div>
          </li>
          <span *ngIf="addedQuotas.length" class="expiry-note mb-3"
            >{{"billing.quota-expire-days" | translate}}</span
          >
        </ul>
        <p-button
          type="button"
          (click)="sendQuotas()"
          class="mt-auto"
          label="Pay Now"
          [disabled]="addedQuotas.length === 0"
        ></p-button>
      </div>
    </div>
    <div class="country-credit-wrapper grid flex-column">
      <p class="country-credit-title">{{"billing.sms-per-country-cost" | translate}}</p>
      <div class="flex align-items-center flex-wrap gap-3">
        <div class="flex align-items-center country-credit">
          <span class="fi fi-eg"></span>
          <span>EGY</span>
          <p>0.5 {{"billing.credits"| translate}}</p>
        </div>
        <div class="flex align-items-center country-credit">
          <span class="fi fi-sa"></span>
          <span>KSA</span>
          <p>1 {{"billing.credits"| translate}}</p>
        </div>
        <div class="flex align-items-center country-credit">
          <span class="fi fi-jo"></span>
          <span>JOR</span>
          <p>2 {{"billing.credits"| translate}}</p>
        </div>
        <div class="flex align-items-center country-credit">
          <span class="fi fi-br"></span>
          <span>BRA</span>
          <p>1 {{"billing.credits"| translate}}</p>
        </div>
        <div class="flex align-items-center">
          <div class="flex align-items-center country-credit">
              <span class="fi fi-us"></span>
              <span>USA</span>
              <p>1 {{"billing.credits"| translate}}</p>
          </div>
      </div>
      <div class="flex align-items-center">
          <div class="flex align-items-center country-credit opacity-50">
              <span class="fi fi-ae"></span>
              <span>UAE</span>
              <p>1 {{"billing.credits"| translate}}</p>
          </div>
          <span class="soon ml-2">{{"billing.soon" | translate}}</span>
      </div>
      <div class="flex align-items-center">
        <div class="flex align-items-center country-credit opacity-50">
            <span class="fi fi-fr"></span>
            <span>FR</span>
            <p>10 {{"billing.credits"| translate}}</p>
        </div>
        <span class="soon ml-2">{{"billing.soon" | translate}}</span>
    </div>
      </div>
    </div>
    <convertedin-features-table></convertedin-features-table>
  </div>
</div>
