<!-- Header -->
<h3 class="text-sm text-primary-dark mb-3 font-semibold">
  {{ 'topUp.setAmountToCharge' | translate }}
</h3>

<section class="flex gap-4 flex-column-reverse md:flex-row">
  <convertedin-spinner
    *ngIf="isLoading"
    class="flex-1 h-full flex flex-column justify-content-between align-items-center"
  />

  <!-- Payment amount section -->
  <section class="flex-1" *ngIf="!isLoading">
    <!-- Amount input -->
    <form [formGroup]="form">
      <div
        *ngIf="userPromotionalWalletBalance > 0"
        class="flex gap-2 justify-content-between align-items-center p-3 border-gray-300 border-1 border-round-md"
      >
        <div class="h-full flex flex-column gap-1 justify-content-center">
          <h4 class="text-sm text-primary-dark font-medium">
            {{ 'topUp.useFreeCredit' | translate }}
          </h4>
          <p class="text-xs text-gray-700">
            {{ 'topUp.youHaveFreeCredit' | translate }}
            {{ userPromotionalWalletBalance }} <convertedin-currency />
            {{ 'topUp.useItToChargeYourAccount' | translate }}
          </p>
        </div>
        <p-inputSwitch formControlName="usePromotionalBalance"></p-inputSwitch>
      </div>

      <div class="p-inputgroup mt-3">
        <span class="p-inputgroup-addon p-inputgroup-addon-dir"
          ><convertedin-currency
        /></span>
        <p-inputNumber
          id="amount"
          formControlName="amount"
          placeholder="{{ 'topUp.enterAmountToRecharge' | translate }}"
          [min]="0"
          mode="decimal"
        />
      </div>
      <convertedin-control-errors
        [control]="form.get('amount')!"
        class="mt-2 block"
      />
    </form>
    <p class="text-sm text-gray-700 my-2">
      {{
        'topUp.addAmountToCharge' | translate : { currency: currency$ | async }
      }}
    </p>
    <hr class="my-4 w-full border-1 border-gray-300" />

    <div class="flex flex-column gap-3">
      <div
        class="flex justify-content-between align-items-center text-sm text-gray-700"
      >
        <p>{{ 'topUp.agencyFees' | translate }}</p>
        <span>
          {{ agencyFee | number }}
          <convertedin-currency />
        </span>
      </div>
      <div
        class="flex justify-content-between align-items-center text-sm text-gray-700"
      >
        <p>{{ 'topUp.vatFees' | translate }}</p>
        <span>
          {{ vatFee | number }}
          <convertedin-currency />
        </span>
      </div>

      <!-- vat banner -->
      <div
        class="vat-banner p-3 border-round-lg flex flex-column lg:flex-row justify-content-between gap-3 lg:align-items-center"
      >
        <i class="warning-icon pi pi-exclamation-circle"></i>
        <p>{{ 'topUp.vatInfo' | translate : { vat: paymentConfig.vat } }}</p>
        <button
          class="learn-btn flex align-items-center gap-1"
          (click)="openVatDialog()"
        >
          <span class="underline">{{ 'topUp.vatInfoButton' | translate }}</span>
          <i class="pi pi-angle-right pi-ar-rotate"></i>
        </button>
      </div>
      <!--End vat banner -->
    </div>

    <hr class="my-4 w-full border-1 border-gray-300" />

    <!-- Total amount -->
    <div
      class="flex justify-content-between align-items-center mt-3 text-sm text-gray-700"
    >
      <p>{{ 'topUp.totalAmount' | translate }}</p>
      <span>{{ totalAmount | number }} <convertedin-currency /></span>
    </div>
  </section>

  <!-- Seperator -->
  <div class="border-1 h-inherit border-gray-200"></div>

  <!-- Charge limit section -->
  <section class="w-full md:w-4">
    <p class="text-sm text-primary-dark mb-4">
      {{ 'topUp.yourChargeLimit' | translate }}
    </p>

    <div class="flex gap-3" *ngIf="activeChannel$ | async as activeChannel">
      <div class="p-2 border-round-lg border-1 border-gray-300">
        <img
          class="w-2rem h-2rem block"
          [src]="activeChannel.icon"
          [alt]="activeChannel.name"
        />
      </div>
      <div class="flex-1">
        <div
          class="flex justify-content-between text-xs text-primary-dark font-medium mb-2"
        >
          <p>{{ activeChannel.name }}</p>
          <span>2000<convertedin-currency /></span>
        </div>
        <p-progressBar
          styleClass="payment-progress-bar"
          [value]="50"
          color="#0036B1"
        ></p-progressBar>
        <div class="flex justify-content-end mt-2">
          <span class="primary-text text-xs font-medium"
            >{{ 'topUp.remaining' | translate }} 6000</span
          >
        </div>
      </div>
    </div>
  </section>
</section>
