.input-currency-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.6rem;
  border-right: 1px solid;
  font-size: 0.75rem;
}
.p-input-icon-left {
  .p-inputtext {
    padding-left: 3rem;
  }
}
::ng-deep.payment-progress-bar {
  &.p-progressbar {
    height: 4px !important;
  }
  .p-progressbar-label {
    display: none !important;
  }
}

.p-inputgroup-addon {
  background-color: transparent !important;
}

.vat-banner {
  background-color: #fef7c3;
  color: #a15c07;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2rem;
  .learn-btn {
    all: unset;
    color: #a15c07;
    cursor: pointer;
    white-space: nowrap;
  }
}
