:host {
  display: block;
  max-width: 65vw;
  min-width: 60vw;
  @media screen and (max-width: 768px) {
    max-width: 90vw;
  }
}
.remove-btn {
  color: #f04438 !important;
  background: #fef3f2 !important;
  border: unset !important;
  cursor: pointer;
  padding: 0.875rem !important;
}
.icon-gray-btn {
  background-color: var(--convertedin-gray-100) !important;
  border: unset !important;
  cursor: pointer;
  padding: 0.5rem 1.5rem !important;
}
::ng-deep.dropdown-content {
  @media screen and (min-width: 768px) {
    min-width: 10rem;
  }
}
.container {
  max-height: 60vh;
  overflow: auto;
}
.form-field__label {
  min-height: 1.2rem;
}
.group-container {
  @media screen and (max-width: 990px) {
    flex-wrap: wrap;
  }
}
