<div class="workflow overflow-y-scroll w-full py-5 flex flex-column">
  <div
    class="w-7 workflow__steps mx-auto flex flex-column align-items-center justify-content-center flex-grow-1"
    [formGroup]="actionsForm"
  >
    <ng-container
      *ngFor="
        let action of actionsFormArray.controls;
        index as index;
        trackBy: workflowTrackBy
      "
    >
      <ng-container [ngSwitch]="getActionType(index)">
        <!-- Trigger action card -->
        <convertedin-flow-builder-trigger-action-card
          *ngSwitchCase="actions.TRIGGER"
          (click)="setActiveAction(actions.TRIGGER, index)"
        />

        <!-- Delay action card -->
        <convertedin-flow-builder-delay-action-card
          *ngSwitchCase="actions.DELAY"
          [index]="index"
          (click)="setActiveAction(actions.DELAY, index)"
        />

        <!-- Email action card -->
        <convertedin-flow-builder-email-action-card
          *ngSwitchCase="actions.EMAIL"
          [index]="index"
          (click)="setActiveAction(actions.EMAIL, index)"
        />

        <!-- Notification action card -->
        <convertedin-flow-builder-notification-action-card
          *ngSwitchCase="actions.NOTIFICATION"
          [index]="index"
          (click)="setActiveAction(actions.NOTIFICATION, index)"
        />

        <!-- SMS action card -->
        <convertedin-flow-builder-sms-action-card
          *ngSwitchCase="actions.SMS"
          (click)="setActiveAction(actions.SMS, index)"
          [index]="index"
        />
      </ng-container>

      <!-- Add new action button -->
      <convertedin-form-builder-add-action [index]="index" />
    </ng-container>
  </div>
</div>
