<!-- Title -->
<div class="flex gap-2 absolute align-items-center">
  <button (click)="goToCities()" class="cursor-pointer">
    <i class="pi pi-chevron-{{ dir === 'rtl' ? 'right' : 'left' }}"></i>
  </button>

  <p>{{ title }}</p>
</div>

<convertedin-suggestion-popup-container
  (save)="saveSelections()"
  (searchChange)="searchChanged($event)"
  *ngIf="locations$ | async as locations"
>
  <div
    class="flex flex-column create-ad__suggestions"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="getAreas()"
    [scrollWindow]="false"
  >
    <!-- Suggestions container -->
    <ng-container *ngIf="(areas$ | async) || _pagination.pagination.data">
      <div
        class="create-ad__suggestion-card flex justify-content-between gap-4"
        *ngFor="let item of _pagination.pagination.data"
      >
        <p class="flex-grow-1 flex justify-content-between">
          {{ item.name }}
        </p>

        <p-checkbox
          (ngModelChange)="itemSelected(item)"
          class="create-ad__checkbox"
          [value]="item.id"
          [(ngModel)]="areaIds"
        />
      </div>
    </ng-container>

    <!-- Loading spinner -->
    <convertedin-spinner
      class="flex justify-content-center"
      *ngIf="isLoading"
    />
  </div>
</convertedin-suggestion-popup-container>
