<ng-container [formGroup]="_form">
  <!-- Step name -->
  <label class="flow-sidenav__label">
    {{ 'automation.step-name' | translate }}
  </label>
  <input
    pInputText
    placeholder="{{ 'automation.step-name-placeholder' | translate }}"
    class="flow-sidenav__input"
    formControlName="name"
    [ngClass]="{
      'ng-dirty ng-invalid':
        _form.get('name').touched && !_form.get('name').valid
    }"
  />

  <convertedin-control-errors [control]="_form.get('name')" class="mt-2" />

  <!-- Notification Title -->
  <label class="flow-sidenav__label">
    {{ 'automation.push-title' | translate }}
  </label>
  <input
    pInputText
    placeholder="{{ 'automation.push-title-placeholder' | translate }}"
    class="flow-sidenav__input"
    formControlName="notification_title"
    [ngClass]="{
      'ng-dirty ng-invalid':
        _form.get('notification_title').touched &&
        !_form.get('notification_title').valid
    }"
  />

  <convertedin-control-errors
    [control]="_form.get('notification_title')"
    class="mt-2"
  />

  <!-- Message content input -->
  <ng-container *ngIf="_parameters$ | async as data">
    <label class="flow-sidenav__label mt-4">
      {{ 'automation.sms-content' | translate }}
    </label>

    <convertedin-message-content
      [showEnhanceWithAi]="false"
      [showMsgCount]="false"
      [messageBindings]="[] || data?.data"
      [hasError]="_form.get('body').touched && !_form.get('body').valid"
      formControlName="body"
    />

    <convertedin-control-errors [control]="_form.get('message')" class="mt-2" />
  </ng-container>

  <!-- Loading spinner -->
  <convertedin-spinner
    class="flex justify-content-center mt-4"
    *ngIf="_showSpinner"
  />
</ng-container>
