<div class="flex flex-column gap-2">
  <h5>{{ 'landing.guide.title' | translate }}</h5>
  <p>{{ 'landing.guide.subtitle' | translate }}</p>
</div>

<div class="flex w-full align-items-center">
  <!-- Guide steps -->
  <div class="w-6">
    <p-timeline [value]="guideSteps" class="landing__guide-timeline">
      <ng-template pTemplate="marker" let-step>
        <span>{{ step.id }}</span>
      </ng-template>

      <ng-template pTemplate="content" let-step>
        <div
          class="flex flex-column gap-2 landing__guide-step"
          [ngClass]="{ 'mb-4': step.id !== 4 }"
        >
          <p>{{ step.title | translate }}</p>
          <p>{{ step.subtitle | translate }}</p>
        </div>
      </ng-template>
    </p-timeline>
  </div>

  <!-- Guide tutorial -->
  <figure class="w-6 flex justify-content-end">
    <img
      src="assets/images/laptop-2.webp"
      width="446"
      height="228"
      alt="flyerz-tutorial-img"
      class="max-w-full"
    />
  </figure>
</div>
