.password-confirm {
  ::ng-deep &__password {
    input {
      background: var(--convertedin-gray-50) !important;
      width: 100%;
    }
  }
}

label {
  color: var(--convertedin-gray-500);
  font-size: 14px;
  font-weight: 400;
}

.seperator {
  border: 1px solid var(--convertedin-gray-200);
}

.valid {
  &,
  i {
    color: #17b26a !important;
  }
}

.invalid {
  &,
  i {
    color: #f97066 !important;
  }
}
