<ng-container [formGroup]="form">
  <!-- Password input -->
  <div class="flex flex-column gap-1">
    <label>
      {{ 'auth.password.label' | translate }}
    </label>

    <p-password
      blockCopy
      blockPaste
      blockCut
      [formControlName]="passwordControlName"
      styleClass="w-full"
      promptLabel="{{ 'auth.password.placeholder' | translate }}"
      weakLabel="{{ 'auth.password.weak' | translate }}"
      mediumLabel="{{ 'auth.password.medium' | translate }}"
      strongLabel="{{ 'auth.password.strong' | translate }}"
      class="w-full password-confirm__password"
      [toggleMask]="true"
      [maxLength]="32"
      placeholder="{{ 'auth.password.placeholder' | translate }}"
      [ngClass]="{
        'ng-dirty ng-invalid':
          form.get(passwordControlName)?.touched &&
          !form.get(passwordControlName)?.valid
      }"
    >
      <ng-template pTemplate="footer">
        <ng-container
          [ngTemplateOutlet]="suggestion"
          [ngTemplateOutletContext]="{ $implicit: passwordControlName }"
        ></ng-container>
      </ng-template>
    </p-password>

    <convertedin-control-errors [control]="getControl(passwordControlName)!" />
  </div>

  <!-- Confirm password -->
  <div class="flex flex-column gap-1">
    <label>
      {{ 'auth.password.confirm-label' | translate }}
    </label>

    <p-password
      blockCopy
      blockPaste
      blockCut
      [formControlName]="confirmPasswordControlName"
      styleClass="w-full"
      promptLabel="{{ 'auth.password.placeholder' | translate }}"
      weakLabel="{{ 'auth.password.weak' | translate }}"
      mediumLabel="{{ 'auth.password.medium' | translate }}"
      strongLabel="{{ 'auth.password.strong' | translate }}"
      class="w-full password-confirm__password"
      [toggleMask]="true"
      [maxLength]="32"
      placeholder="{{ 'auth.password.confirm-placeholder' | translate }}"
      [ngClass]="{
        'ng-dirty ng-invalid':
          form.get(confirmPasswordControlName)?.touched &&
          !form.get(confirmPasswordControlName)?.valid
      }"
    >
      <ng-template pTemplate="footer">
        <ng-container
          [ngTemplateOutlet]="suggestion"
          [ngTemplateOutletContext]="{ $implicit: confirmPasswordControlName }"
        ></ng-container>
      </ng-template>
    </p-password>

    <convertedin-control-errors [control]="form" />
  </div>
</ng-container>

<!-- Password input overlay template -->
<ng-template #suggestion let-controlName>
  <div class="flex flex-column gap-4 mt-4">
    <div class="seperator"></div>

    <p class="font-bold">
      {{ 'auth.password.suggest-label' | translate }}
    </p>

    <div class="flex flex-column gap-3">
      <p
        class="flex align-items-center gap-1 {{
          getLengthValidationColor(controlName)
        }}"
      >
        <i class="pi pi-check-circle"></i>
        {{ 'auth.password.validation-1' | translate }}
      </p>

      <p
        class="flex align-items-center gap-1 {{
          getPatternValidationColor(controlName)
        }}"
      >
        <i class="pi pi-check-circle"></i>
        {{ 'auth.password.validation-2' | translate }}
      </p>
    </div>
  </div>
</ng-template>
