<convertedin-spinner
  *ngIf="isLoadingEmail && isLoadingSMS"
></convertedin-spinner>
<div class="grid">
  <div class="col-12 md:col-6">
    <div *ngIf="smsQuotas$ | async as quotas">
      <div class="quota-card">
        <div>
          <h2 class="settings-tab__alt-sub-title">{{"billing.sms" | translate}}</h2>
          <h5>{{"billing.get-sms-quotas" | translate}}</h5>
        </div>
        <label>{{"billing.select-credit" | translate}}</label>
        <p-dropdown
          [options]="quotas.data"
          [(ngModel)]="selectedSmsQuota"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select a Package"
        >
          <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedSmsQuota">
              <div>{{ selectedSmsQuota.total_quota }} {{"billing.credits" | translate}}</div>
              <p>${{ selectedSmsQuota.price }}</p>
            </div>
          </ng-template>
          <ng-template let-selectedSmsQuota pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ selectedSmsQuota.total_quota }} {{"billing.credits" | translate}}</div>
              <p>${{ selectedSmsQuota.price }}</p>
            </div>
          </ng-template>
        </p-dropdown>
        <p-button
          [disabled]="!selectedSmsQuota"
          (click)="emitSMSQuota()"
          label="Add to Cart"
        ></p-button>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div *ngIf="emailQuotas$ | async as emailQuota">
      <div class="quota-card">
        <div>
          <h2 class="settings-tab__alt-sub-title">{{"billing.email" | translate}}</h2>
          <h5>{{"billing.get-email-quotas" | translate}}</h5>
        </div>
        <label>{{"billing.select-credit" | translate}}</label>
        <p-dropdown
          [options]="emailQuota.data"
          [(ngModel)]="selectedEmailQuota"
          optionLabel="name"
          [showClear]="true"
          placeholder="Select a Package"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="flex align-items-center gap-2"
              *ngIf="selectedEmailQuota"
            >
              <div>{{ selectedEmailQuota.total_quota }} {{"billing.credits" | translate}}</div>
              <p>${{ selectedEmailQuota.price }}</p>
            </div>
          </ng-template>
          <ng-template let-selectedEmailQuota pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ selectedEmailQuota.total_quota }} {{"billing.credits" | translate}}</div>
              <p>${{ selectedEmailQuota.price }}</p>
            </div>
          </ng-template>
        </p-dropdown>
        <p-button
          [disabled]="!selectedEmailQuota"
          (click)="emitEmailQuota()"
          label="Add to Cart"
        ></p-button>
      </div>
    </div>
  </div>
</div>
