::ng-deep {
  .create-ad__home-btn {
    top: 45px;
    a {
      border-radius: 12px !important;
      border: 1px solid var(--convertedin-gray-200) !important;
      text-decoration: none;
      background-color: white !important;
      &,
      i {
        color: var(--convertedin-gray-500);
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.3px;
      }
    }
  }

  .right {
    right: 45px;
  }

  .left {
    left: 45px;
  }
}
