<convertedin-offer-banner class="mb-2"></convertedin-offer-banner>
<ng-container *ngIf="userData$ | async as userData">
  <convertedin-header
    [title]="
      'home.welcomeTitle' | translate : { firstName: userData.firstName }
    "
    [subtitle]="'home.welcomeSubtitle' | translate"
  />
  <convertedin-guide-banner class="my-2 block"></convertedin-guide-banner>
  <convertedin-home-banners [userData]="userData" />
  <convertedin-transactions-table
    [disableTopup]="
      userData.connectedAccounts!.length === 0 || userData.isInWaitingList
    "
    [showTransactionsTable]="true"
  />
</ng-container>
