.ai-btn {
  background-color: var(--map-ad-primary-100) !important;
  color: var(--map-ad-primary-color) !important;
  border-radius: 0.5rem !important;
  border-color: transparent !important;
  padding: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
  height: 100% !important;
}
::ng-deep.p-dialog-footer {
  padding: 1rem !important;
  display: flex;
  justify-content: end;
}
::ng-deep.suggestion-dialog.p-dialog {
  width: 50%;
  @media screen and (max-width: 980px) {
    width: 70%;
  }
  @media screen and (max-width: 768px) {
    width: 95%;
  }
}
