<ng-container [formGroup]="_form">
  <!-- <label class="delay-form__label">Step Name</label> -->
  <!-- Delay name -->
  <!-- <input
    pInputText
    placeholder="Enter step name"
    class="delay-form__input"
    formControlName="name"
  />

  <convertedin-control-errors [control]="_form.get('name')" class="mt-2" /> -->

  <p class="pb-3">
    {{ 'automation.delay-header' | translate }}
  </p>

  <label class="delay-form__label">
    {{ 'automation.delay-title' | translate }}
  </label>

  <!-- Wait for inputs -->
  <convertedin-flow-builder-period
    typeControlName="send_after_type"
    numberControlName="send_after"
  />
</ng-container>
