<ng-container *ngIf="_langDir$ | async as lang">
  <div
    class="message-content__container"
    [ngClass]="{ 'message-content__error': _showError$ | async }"
    #textareaContainer
  >
    <div
      class="flex justify-content-between message-content__message-header mb-2"
    >
      <!-- Language switch buttons -->
      <div class="flex gap-2">
        <!-- ltr btn -->
        <button
          type="button"
          (click)="setTextDirection('ltr')"
          class="message-content__text-dir 
        {{ lang === 'ltr' ? 'lang-active' : '' }}"
        >
          <img
            alt="ltr-icon"
            src="app-assets/icons/common/ltr.svg"
            width="20"
            height="20"
          />
        </button>

        <!-- <div class="seperator"></div> -->

        <!-- rtl btn -->
        <button
          type="button"
          (click)="setTextDirection('rtl')"
          class="message-content__text-dir 
        {{ lang === 'rtl' ? 'lang-active' : '' }}"
        >
          <img
            alt="rtl-icon"
            src="app-assets/icons/common/rtl.svg"
            width="20"
            height="20"
          />
        </button>
      </div>

      <!-- Message length & count -->
      <p>
        {{ messageData.replaceText.length }}
        {{ 'automation.characters' | translate }}
        <span *ngIf="showMsgCount">
          / {{ getMsgCount() }} {{ 'automation.messages' | translate }}
        </span>
      </p>
    </div>

    <!-- Textarea input -->
    <div class="flex flex-column align-items-center justify-content-center">
      <textarea
        #textarea
        class="w-full {{ lang }}"
        (click)="textClicked()"
        pInputTextarea
        [(ngModel)]="messageData.text"
        (ngModelChange)="inputChange()"
        (keyup)="caretChange()"
        rows="3"
      ></textarea>
    </div>
  </div>

  <!-- Generate with ai -->
  <convertedin-message-generate-with-ai
    *ngIf="showEnhanceWithAi"
    [messageAttributes]="messageBindings"
    [targetTemplate]="textareaContainer"
    [message]="messageData.text"
    [disabled]="messageData.replaceText.length < 15"
    (suggestionSelect)="suggestionPick($event)"
  />
</ng-container>

<!-- Message bindings -->
<convertedin-message-content-buttons
  *ngIf="messageBindings?.length > 0"
  [messageBindings]="messageBindings"
  (bindingAdd)="addMessageBinding($event)"
/>
