.message-content {
  &__container {
    border-radius: 12px;
    font-size: 0;
    background-color: #f9fafb;
    padding: 12px 14px;

    &:focus-within,
    &:focus {
      box-shadow: 0 0 0 0.2rem #bfdbfe;
    }

    textarea {
      background-color: transparent;
      border: unset !important;
      border-radius: 0px 0px 12px 12px;
      padding: unset !important;
      &:focus {
        box-shadow: unset !important;
      }
    }
  }

  &__message-header {
    // padding: 12px 18px;
    background-color: transparent;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid transparent;

    p {
      color: #475467;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__text-dir {
    background-color: transparent !important;
    border: 0 !important;
    font-size: 0;
    cursor: pointer;
  }

  &__error {
    border: 1px solid red;
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.lang-active {
  filter: invert(22%) sepia(48%) saturate(4162%) hue-rotate(222deg)
    brightness(95%) contrast(91%);
}

.seperator {
  border-left: 2px solid #465373;
  height: 100%;
}
