<!-- Spinner -->
<convertedin-spinner
  *ngIf="isLoading | async"
  class="flex-grow-1 flex justify-content-center align-items-center"
/>

<ng-container *ngIf="flow$; else form">
  <ng-container
    *ngIf="flow$ | async as flow"
    [ngTemplateOutlet]="form"
    [ngTemplateOutletContext]="{ $implicit: flow.name }"
  ></ng-container>
</ng-container>

<!-- Workflow view -->
<ng-template #form let-name>
  <convertedin-flow-builder-header
    [flowName]="name"
    (resetEdit)="getFlowData($event)"
  />

  <div class="flex flex-grow-1 flow-builder__editor">
    <convertedin-flow-builder-workflow
      [ngClass]="{ 'w-8': showSideNav?.type, 'w-12': !showSideNav?.type }"
    />

    <convertedin-flow-builder-sidebar *ngIf="showSideNav?.type" />
  </div>
</ng-template>

<ng-container *ngIf="actionList$ | async"></ng-container>
