<img src="assets/images/welcome-icon.svg" alt="" />
<div class="mb-4">
  <h2>{{ 'welcomePopup.header' | translate }}</h2>
  <h3>{{ 'welcomePopup.subheader' | translate }}</h3>
</div>

<form [formGroup]="completeRegisterForm" (ngSubmit)="submit()">
  <div class="form-field">
    <label class="form-field__label">{{
      'welcomePopup.advertiserTypeLabel' | translate
    }}</label>
    <p-dropdown
      formControlName="advertiserType"
      [options]="'welcomePopup.describeList' | translate"
      styleClass="form-field__input"
      placeholder="{{ 'welcomePopup.select' | translate }}"
    ></p-dropdown>
    <convertedin-control-errors
      [control]="completeRegisterForm.get('advertiserType')!"
    />
  </div>

  <div class="form-field">
    <label class="form-field__label">{{
      'welcomePopup.facebookPageUrlLabel' | translate
    }}</label>
    <div dir="ltr" class="p-inputgroup p-inputgroup-ltr">
      <span class="p-inputgroup-addon"> https:// </span>
      <input
        pInputText
        styleClass="form-field__input"
        placeholder="{{
          'welcomePopup.facebookPageUrlPlaceholder' | translate
        }}"
        formControlName="facebookUrlPage"
      />
    </div>
    <convertedin-control-errors
      [control]="completeRegisterForm.get('facebookUrlPage')!"
    />
  </div>

  <div class="form-field">
    <label class="form-field__label">{{
      'welcomePopup.whenToStartLabel' | translate
    }}</label>
    <p-dropdown
      formControlName="whenToStart"
      styleClass="form-field__input"
      [options]="'welcomePopup.startOptions' | translate"
      placeholder="{{ 'welcomePopup.select' | translate }}"
      appendTo="body"
    ></p-dropdown>
    <convertedin-control-errors
      [control]="completeRegisterForm.get('whenToStart')!"
    />
  </div>
  <div class="flex justify-content-end">
    <button
      [disabled]="!completeRegisterForm.valid || (isLoading$ | async)"
      class="p-button btn primary-btn"
    >
      {{ 'welcomePopup.submit' | translate }}
      <i class="pi pi-spin pi-spinner mx-1" *ngIf="isLoading$.value"></i>
    </button>
  </div>
</form>
