<figure class="flex justify-content-center align-items-center">
  <img src="assets/icons/dashboard/settings/plug.svg" alt="plug-icon" />
</figure>

<div class="flex flex-column gap-2">
  <h4>{{ 'dashboard.settings.accounts.reassign-popup.title' | translate }}</h4>
  <p>{{ 'dashboard.settings.accounts.reassign-popup.subtitle' | translate }}</p>
</div>

<div class="reasign__steps-container flex flex-column gap-2">
  <h5>
    {{ 'dashboard.settings.accounts.reassign-popup.steps-title' | translate }}
  </h5>

  <ul>
    <li>
      {{ 'dashboard.settings.accounts.reassign-popup.step-1' | translate }}
    </li>
    <li>
      {{ 'dashboard.settings.accounts.reassign-popup.step-2' | translate }}
    </li>
  </ul>
</div>

<a
  pButton
  href="https://forms.gle/EtH3pNN7CrGANZBf8"
  class="justify-content-center p-button-secondary p-button-outlined"
  target="_blank"
>
  {{ 'dashboard.settings.accounts.reassign-popup.solutions-btn' | translate }}
</a>
