section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/calculator-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    gap: 20px;
    h2 {
      color: #1E1E1E;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
    }
  
    .blue-top {
      border-top: 5px solid #0044dc;
    }
  
    .metric-card {
      padding: 32px;
      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  
      ::ng-deep p-dropdown {
        width: 100%;
  
        .p-dropdown {
          width: 100%;
        }
      }
  
      ::ng-deep {
        p-inputnumber {
          width: 100%;
  
          .p-inputnumber {
            width: 100%;
          }
        }
  
        .p-inputtext {
          width: 100%;
        }
      }
  
      p {
        color: #000;
        font-size: 18px;
        font-weight: 400;
      }
  
      label {
        padding-bottom: 6px;
        color: var(--convertedin-gray-700);
        font-size: 14px;
        font-style: normal;
        display: block;
      }
  
      .budget-wrapper {
        p {
          color: #667085;
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 0px;
          border-radius: 8px 0px 0px 8px;
          border-inline-end: 0 !important;
          border: 1px solid#D0D5DD;
          padding: 12px 14px;
        }
  
        ::ng-deep {
          p-inputnumber {
            width: 100%;
  
            .p-inputnumber {
              width: 100%;
            }
          }
          .p-inputnumber-input {
            width: 100%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 100%;
          }
        }
      }
    }
  
    .potential-block{
      border-radius: 40px;
      background: #EDF6FF;
      padding-block: 12px 145px;
      display: flex;
      flex-direction: column;
      gap: 23px;
  
      &__content{
          border-radius: 16px;
          background: rgba(165, 189, 213, 0.21);
          padding: 32px 40px;
          p{
              color: #667085;
              font-size: 18px;
              font-weight: 400;
  
              .blue{
                  color: #0044DC;
                  font-size: 20px;
                  font-weight: 700;
              }
  
              .green{
                  color: #1DB345;
                  font-size: 20px;
                  font-weight: 700;
              }
          }
      }
  
      &__preview-block{
        background: white;
        padding: 32px;
        border-radius: 24px;
        
        .preview-title{
          color: var(--Gray-900, #101828);
          font-size: 20px;
          font-weight: 600;
          width: 100%;
          display: block;
          border-radius: 8px;
          background: var(--Primary-50, #E6ECFC);
          padding-block: 8px;
          text-align: center;
        }
  
        .preview-result{
          color: var(--Gray-900, #101828);
          span{
            font-size: 20px;
            font-weight: 600;
          }
  
          h3{
            font-size: 24px;
            font-weight: 800;
          }
  
          h6{
            font-size: 24px;
            font-weight: 600;
          }
  
  
          
        }
  
        .current-progress {
          padding: 12px;
          border-radius: 8px;
          background: gray;
          color: white;
        }
  
        .potential-progress {
          padding: 12px;
          border-radius: 8px;
          background: #22C573;
          color: black;
        }
      }
  
      &__result-block{
          border-radius: 16px;
          background: rgba(165, 189, 213, 0.21);
          padding: 32px 40px;
  
          h3{
            color: #000;
            font-size: 24px;
            font-weight: 700;
          }
  
          p{
            color: #000;
            font-size: 18px;
            font-weight: 500;
            line-height: 25px; /* 138.889% */
          }
  
          .green{
            color: #22C573;
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;
            text-decoration-line: underline;
        }
  
        .blue{
          color: #0044DC;
          font-size: 20px;
          font-weight: 700;
      }
      }
  
      .schedule-btn{
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        line-height: 190%; /* 34.2px */
        border-radius: 12px;
        background: #0044DC;
        padding: 16px 48px;
        width: fit-content;
      }
  
      em{
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 200% */
      }
    }
  
    .navigation{
      display: flex;
      gap: 10px;
      button{
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        border-radius: 12px;
        background: #0044dc;
        text-align: center;
        padding: 24px 21px;
        margin-top: 32px;
        cursor: pointer;
        flex: 1;
  
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
  
        &:only-child {
          flex: 1 1 100%;
        }
    
        &:not(:only-child) {
          flex: 1 1 50%;
        }
      }
    }
  
  }
  