h1{
    color: #101828;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.96px;
}

p{
    color: #101828;
    font-size: 24px;
    font-weight: 500;
}

.back-btn{
    color: var(--Gray-700, #344054);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-top: 32px;
}