.search-container {
  background-color: var(--map-ad-primary-50);
  border-radius: 0.5rem;
}
::ng-deep.keyword-knob {
  .p-knob-text {
    display: none;
  }
}
.chart-header {
  font-size: 1rem;
  font-weight: 500;
  color: var(--convertedin-gray-500);
}
.chart-value {
  color: var(--convertedin-gray-800);
  font-size: 2rem;
  font-weight: 600;
}
.status-ticket {
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  border-radius: 1rem;
  padding: 0.15rem 0.5rem;
  direction: ltr;
  &[is-positive='true'] {
    background-color: var(--map-ad-success-50);
    border: 1px solid var(--map-ad-success-200);
    color: var(--map-ad-success-700);
    .pi {
      color: var(--map-ad-success-400);
      font-size: 0.65rem;
    }
  }
  &[is-positive='false'] {
    background-color: var(--map-ad-error-50);
    border: 1px solid var(--map-ad-error-200);
    color: var(--map-ad-error-700);

    .pi {
      color: var(--map-ad-error-700);
      font-size: 0.65rem;
    }
  }
}
::ng-deep .table-subtitle {
  background-color: var(--convertedin-gray-50) !important;
}
