<header class="mb-4 header">
  <h1 class="header__title">{{ 'keywordFinder.title' | translate }}</h1>
  <p class="header__desc">{{ 'keywordFinder.subtitle' | translate }}</p>
</header>
<form
  [formGroup]="searchForm"
  class="p-3 search-container flex flex-wrap align-items-center gap-3"
  (ngSubmit)="submit()"
>
  <div class="form-field flex-1">
    <label class="form-field__label" for="keyword">{{
      'keywordFinder.keywordLabel' | translate
    }}</label>
    <input
      class="form-field__input"
      pInputText
      formControlName="keyword"
      id="keyword"
      type="text"
      [placeholder]="'keywordFinder.keywordLabel' | translate"
    />
    <convertedin-control-errors [control]="searchForm.get('keyword')!" />
  </div>
  <div class="form-field flex-1">
    <label class="form-field__label" for="keyword">{{
      'keywordFinder.country' | translate
    }}</label>
    <p-dropdown
      styleClass="w-full form-field__input"
      formControlName="country"
      [options]="CountryList"
      optionLabel="label"
      optionValue="key"
      placeholder="{{ 'createCampaign.targeting.selectLanguage' | translate }}"
    ></p-dropdown>
    <convertedin-control-errors [control]="searchForm.get('country')!" />
  </div>
  <div class="form-field flex-1">
    <label class="form-field__label" for="keyword">{{
      'keywordFinder.language' | translate
    }}</label>
    <p-dropdown
      styleClass="w-full form-field__input"
      formControlName="language"
      [options]="languages"
      optionLabel="label"
      optionValue="key"
      placeholder="{{ 'createCampaign.targeting.selectLanguage' | translate }}"
    ></p-dropdown>
    <convertedin-control-errors [control]="searchForm.get('language')!" />
  </div>
  <button class="p-button primary-btn px-5">
    {{ 'keywordFinder.searchBtn' | translate }}
  </button>
</form>
<!-- <section class="flex gap-3 mt-4">
  <div
    class="border-round-2xl shadow-1 p-4 flex flex-column justify-content-between"
  >
    <h3 class="chart-header">Keyword Difficulty</h3>
    <div class="mt-4 flex justify-content-between align-items-center gap-6">
      <div>
        <p class="chart-value">18/100</p>
        <p class="chart-header mt-2">Easy</p>
      </div>
      <convertedin-keyword-difficulty-chart>
      </convertedin-keyword-difficulty-chart>
    </div>
  </div>
  <div
    class="border-round-2xl shadow-1 p-4 flex-1 flex justify-content-between"
  >
    <div class="flex flex-column justify-content-between">
      <h3 class="chart-header">Search Volume</h3>
      <div>
        <p class="chart-value">4,800</p>
        <p class="status-ticket mt-2">
          <span class="pi pi-arrow-up"></span>
          +40 %
        </p>
      </div>
    </div>
    <convertedin-keyword-chart></convertedin-keyword-chart>
  </div>
</section> -->
<ng-container *ngIf="keywordData$ | async; let keywordData">
  <p-table
    [loading]="(loading$ | async)!"
    *ngIf="keywordData.length > 0 || loading$.value; else noData"
    styleClass="overview-table mt-3"
    [value]="keywordData"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'keywordFinder.keyword' | translate }}</th>
        <th>{{ 'keywordFinder.trend' | translate }}</th>
        <th>{{ 'keywordFinder.search' | translate }}</th>
        <th>
          {{ 'keywordFinder.low_CPC' | translate }}
        </th>
        <th>
          {{ 'keywordFinder.high_CPC' | translate }}
        </th>
        <th>{{ 'keywordFinder.competition' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-keyword let-ri="rowIndex">
      <tr
        class="table-subtitle"
        *ngIf="keyword.is_provided && ri === 0"
      >
        <td colspan="6">{{ 'keywordFinder.keywordProvided' | translate }}</td>
      </tr>
      <tr
        class="table-subtitle"
        *ngIf="!keyword.is_provided && ri === 1"
      >
        <td colspan="6">{{ 'keywordFinder.keywordIdeas' | translate }}</td>
      </tr>
      <tr>
        <td class="font-medium">{{ keyword.keyword }}</td>
        <td>
          <p
            class="status-ticket mt-2"
            [attr.is-positive]="keyword.three_month_change_is_positive"
          >
            <span
              [ngClass]="[
                keyword.three_month_change_is_positive
                  ? 'pi-arrow-up'
                  : 'pi-arrow-down'
              ]"
              class="pi"
            ></span>
            {{ keyword.three_month_change }}
          </p>
        </td>
        <td>{{ keyword.avg_monthly_searches }}</td>
        <td class="text-center">{{ keyword.low_top_of_page_bid }}</td>
        <td class="text-center">
          {{ keyword.high_top_of_page_bid }}
        </td>
        <td>{{ keyword.competition | translate }}</td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
      <p-paginator
        styleClass="w-full"
        [first]="0"
        [rows]="10"
        [pageLinkSize]="pageLinkSize"
        [totalRecords]="allCampaigns?.pages_number * 10"
        [showFirstLastIcon]="false"
        (onPageChange)="onPageChange($event)"
      >
        <ng-template pTemplate="nextpagelinkicon">
          <span class="flex align-items-center gap-2">
            {{ 'campaignOverview.next' | translate }}
            <span class="pi pi-arrow-right text-xs"></span>
          </span>
        </ng-template>
        <ng-template pTemplate="previouspagelinkicon">
          <span class="flex align-items-center gap-2"
            ><span class="pi pi-arrow-left text-xs"></span>
            {{ 'campaignOverview.previous' | translate }}</span
          >
        </ng-template>
      </p-paginator>
    </ng-template> -->
  </p-table>
</ng-container>

<ng-template #noData>
  <section class="flex-1 flex justify-content-center align-items-center">
    <div class="flex flex-column justify-content-center align-items-center">
      <img src="assets/images/campaign/no-data-found.png" alt="no-data-found" />
      <div class="text-center">
        <h5 class="header__title text-sm">
          {{ 'keywordFinder.noData' | translate }}
        </h5>
        <p class="header__desc text-sm">
          {{ 'keywordFinder.noData_info' | translate }}
        </p>
      </div>
    </div>
  </section>
</ng-template>
