/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'grapesjs/dist/css/grapes.min.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //font-family: 'Poppins', sans-serif;
}

body {
  max-height: 100vh;
  height: 100vh;
}

.pi {
  font-family: 'primeicons' !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cin-scroll-color);
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: #eee;
}

::selection {
  background-color: #007bffff !important;
  color: #fff !important;
}

:root {
  --cin-primary-color: #2a50d7;
  --cin-secondary-color: rgba(0, 68, 221, 0.05);
  --cin-scroll-color: #bfc8db;
}

.p-button {
  padding: 10px 16px !important;
}

.cin-primary-btn {
  background-color: #04d !important;
}

@keyframes trigger-spinner-rotate {
  from {
    stroke: #1e3ba2;
  }
  to {
    stroke: #1e3ba2;
  }
}

.rtl-pagination {
  .p-paginator-element .p-icon-wrapper {
    transform: scale(-1, 1);
  }

  .p-paginator-rpp-options .p-dropdown-label {
    padding: 12px 12px 12px 0 !important;
  }
}

html[dir='rtl'] {
  * {
    font-family: 'Alexandria', sans-serif;
  }

  .p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: unset !important;
    padding-inline-end: 1.75rem;
    margin-right: unset !important;
    margin-inline-end: -1.75rem;
    padding-inline-start: 0.75rem !important;
  }

  .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
    right: unset !important;
    left: 0.75rem;
    transform: scale(-1, 1);
  }

  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: right !important;
  }

  .p-multiselect-panel .p-multiselect-header .p-checkbox,
  .p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: unset !important;
    margin-left: 0.5rem;
  }

  .p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    margin-right: 0.5rem;
    margin-left: unset !important ;
  }
}

html[dir='ltr'] {
  * {
    font-family: 'Inter', sans-serif;
  }
}
