<!-- Targeting selection -->
<ng-container *ngIf="!activeMode">
  <!-- Header -->
  <convertedin-create-ad-header
    [title]="'create-ad.targeting-mode.title' | translate"
    [subtitle]="'create-ad.targeting-mode.subtitle' | translate"
  />

  <!-- Targeting option -->
  <div class="flex gap-4">
    <div
      class="flex flex-column align-items-center justify-content-center gap-4 p-5 create-ad__targeting-card"
      (click)="setTargetingMode(item)"
      *ngFor="let item of options"
    >
      <img [src]="item.icon" [alt]="item.title" />

      <p>{{ item.title | translate }}</p>
    </div>
  </div>
</ng-container>

<!-- Loading section -->
<div
  class="flex flex-column align-items-center"
  *ngIf="activeMode && activeMode.id === 'ai'"
>
  <ng-container *ngIf="aiData$ | async"></ng-container>

  <ng-lottie [options]="lottieOptions" width="331px" class="mb-5"></ng-lottie>

  <h1 class="create-ad__loading-title mb-2">
    {{ 'create-ad.ad-target.loading-title' | translate }}
  </h1>

  <p class="create-ad__loading-subtitle mb-4">
    {{ 'create-ad.ad-target.loading-subtitle' | translate }}
  </p>

  <button pButton (click)="manualTargeting(validations)">
    {{ 'create-ad.targeting-mode.skip-btn' | translate }}
  </button>
</div>
