<!-- Flyerz logo -->
<figure>
  <a routerLink="/">
    <img
      src="assets/images/logo.webp"
      width="109"
      height="35"
      alt="flyerz-logo"
    />
  </a>
</figure>

<div class="flex landing__header align-items-center">
  <div class="flex flex-column h-full w-6">
    <div class="mb-3">
      <h1 class="mb-2">{{ 'landing.header-title' | translate }}</h1>

      <h2>{{ 'landing.header-subtitle' | translate }}</h2>
    </div>

    <!-- Create new account btn -->
    <a routerLink="/auth" class="landing__btn px-4 py-3 mb-5" pButton>
      {{ 'landing.create-account-btn' | translate }}
    </a>

    <div class="flex gap-3">
      <!-- Playstore -->
      <a
        href="https://play.google.com/store/apps/details?id=in.converted.flyerz&pcampaignid=web_share"
        target="_blank"
      >
        <img
          src="assets/images/google-play.webp"
          alt="play-store-logo"
          width="136"
          height="41"
        />
      </a>

      <!-- App store -->
      <a
        href="https://apps.apple.com/us/app/flyerz-social-ads-with-ai/id1658767231"
        target="_blank"
      >
        <img
          src="assets/images/apple-store.webp"
          alt="play-store-logo"
          width="121"
          height="41"
        />
      </a>
    </div>
  </div>

  <figure class="w-6 flex justify-content-end align-items-center">
    <img
      src="assets/images/laptop-1.webp"
      width="446"
      height="268"
      alt="flyerz-preview"
      class="max-w-full"
    />
  </figure>
</div>
