<section class="flex h-full">
  <div
    class="absolute top-0 left-0 right-0 py-5 px-4 md:px-8 flex justify-content-between align-items-center"
  >
    <a href="https://convertedpay.convertedin.com">
      <img class="logo" src="assets/icons/logo.svg" alt="logo" />
    </a>
    <convertedin-select-app-lang [isWhiteBg]="true"></convertedin-select-app-lang>
  </div>
  <div
    class="h-full container py-5 px-4 md:px-8 flex flex-column justify-content-between"
  >
    <div class="py-4"></div>

    <form
      [isFormEvent]="true"
      [convertedinLogEvents]="EVENTS_LOG.LOGIN_BUTTON"
      [metaData]="loginForm.value"
      [formGroup]="loginForm"
      class="flex flex-column justify-content-center"
      (ngSubmit)="submit()"
    >
      <header class="header">
        <h1 class="header__title">{{ 'login.title' | translate }}</h1>
        <p class="header__desc">{{ 'login.description' | translate }}</p>
      </header>
      <div class="w-full mt-4">
        <div class="form-field">
          <label class="form-field__label" for="email">{{
            'login.email' | translate
          }}</label>
          <input
            class="form-field__input"
            pInputText
            formControlName="email"
            id="email"
            type="text"
            placeholder="{{ 'login.enterEmailAddress' | translate }}"
            maxlength="254"
          />
          <convertedin-control-errors [control]="loginForm.get('email')!" />
        </div>
        <div class="form-field mt-3">
          <div class="flex justify-content-between">
            <label class="form-field__label" for="password">{{
              'login.password' | translate
            }}</label>
            <a
              [routerLink]="['../forgot-password']"
              class="text-sm text-primary underline"
            >
              {{ 'login.forgetPassword' | translate }}
            </a>
          </div>

          <p-password
            inputId="password"
            class="form-field__input w-full"
            formControlName="password"
            [feedback]="false"
            placeholder="{{ 'login.enterPassword' | translate }}"
            [toggleMask]="true"
          />

          <convertedin-control-errors [control]="loginForm.get('password')!" />
        </div>
        <button
          class="p-button btn primary-dark-btn mt-3 w-full justify-content-center"
          [disabled]="(isLoading$ | async) || loginForm.invalid"
        >
          {{ 'login.loginButton' | translate }}
          <i class="pi pi-spin pi-spinner mx-1" *ngIf="isLoading$.value"></i>
        </button>
      </div>
      <p class="mt-3 text-sm">
        {{ 'login.dontHaveAccount' | translate }}

        <a routerLink="../register">
          {{ 'login.createNewAccount' | translate }}</a
        >
      </p>
    </form>
    <div>
      <p class="text-xs text-gray-700">{{ 'poweredBy' | translate }}</p>
    </div>
  </div>

  <div class="flex-1 hidden md:flex justify-content-center align-items-end p-8">
    <img
      src="assets/images/login.png"
      class="block object-cover login-img max-w-full"
      alt="login-img"
    />
  </div>
</section>
