
.adsets-wrapper {

  .slide-sides {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
  }

  .targted-hint {
    color: #04D;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;

  }

  .placement-option {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid #DCE1EA;
    background: #FFF;
    padding: 16px;
    cursor: pointer
  }

  .checkbox-wrapper {
    label {
      color: #4F5C6F;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 21px */
      letter-spacing: 0.2px;
      margin-left: 6px;
    }
  }
}

.selected-data {
  border-radius: 8px;
  background: #F2F6FD;
  margin: 20px 0;
  padding: 20px;
  overflow: auto;
  max-height: 600px;

  ul {
    list-style: none;
    display: flex;

    li {

    }
  }

  .main-item {
    //display: flex;
    margin-bottom: 20px;

    .main-item-head {
      margin-left: 10px;
      color: #04D;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-top: 20px;
      margin-bottom: 10px;

      //&:last-child {
      //  &:after {
      //    content: '';
      //    display: none !important;
      //  }
      //}

      span {
        display: inline-block;

        &:after {
          content: '>';
          margin-left: 10px;
          margin-right: 10px;
        }
      }


    }

    .sub-items {
      //display: flex;
      align-items: center;
      flex-shrink: 0;
      overflow: auto;

      .sub-item {
        float: left;
        //overflow: auto;
        //display: flex;
        //align-items: center;
        margin-left: 10px;
        color: #04D;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:after {
          content: '>';
          margin-left: 10px;
        }

      }

      .last-sub-item {

      }

      .has-child {
        width: 100%;
        margin-left: 0;

        &:after {
          content: '';
          display: none !important;
        }
      }

      .sub-item-label {
        padding: 8px !important;
        align-items: center !important;
        border-radius: 4px !important;
        background: #FFF !important;
        color: #4F5C6F;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;

        button {
          background: none;
          border: none;
          //width: 14px;
          //height: 14px;
          margin-left: 6px;
          height: 13px;
          cursor: pointer;

          i {
            font-size: 13px;

          }
        }

        &:after {
          content: '';
          display: none !important;
        }
      }
    }
  }
}

.accordion-wrapper {
  ::ng-deep {
    .p-accordion-header-text {
      display: none;
    }

    .p-accordion-content {
      //padding-left: 0;
      //padding-right: 0;
      padding: 0;

    }

    .p-tree {
      border: none;
    }

    .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link {
      background: #fff;
      outline: none;
      box-shadow: none;
    }

    .header-title {
      color: #4F5C6F;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      letter-spacing: 0.2px;
    }

    .p-tree .p-tree-filter-container .p-tree-filter {
      background: #F5F5F5;
    }

    .p-tree .p-tree-filter-container .p-tree-filter-icon {
      left: 16px;
      right: auto
    }

    .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
      position: absolute;
      right: 10px;
    }

    .p-tree .p-tree-filter-container .p-tree-filter {
      padding-right: auto;
      outline: none;
      box-shadow: none;
      border: none;
      padding-left: 43px;
      border-radius: 8px;
      color: #4F5C6F;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
      outline: none;
      box-shadow: none;
      margin-right: 0 !important;
    }

    .p-tree .p-tree-container .p-checkbox .p-checkbox-box {
      border-radius: 2px;
      width: 16px;
      height: 16px;
      margin-right: 0 !important;
      margin-top: 2px;

      svg {
        width: 13px !important;
        height: 13px !important;
      }

      //border: 1px solid #DCE1EA;
      //background: #FFF;
    }

    .p-treenode-label {
      color: #4F5C6F;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 19.5px */
      letter-spacing: 0.2px;
    }

    .p-tree .p-tree-container .p-treenode {
      padding-top: 0;
      padding-bottom: 0;
    }

    .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler svg {
      width: 12px;
    }

    .p-tree .p-tree-container .p-treenode .p-treenode-content {
      border-radius: 0;
    }

    .p-accordion .p-accordion-header .p-accordion-header-link {
      margin-top: 20px;
      height: 84px;
    }
  }
}

.coming-soon {
  position: relative;
  img {
    &:last-child{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
    }
  }
}

.small-hint{
  color: #98A2B3;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
