.create-ai-image {
  &__image-container {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--convertedin-gray-200);
    background: #fff;
    width: calc((100% - 24px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 333px;
      border-radius: 8px;
    }
  }

  &__image-selector {
    border-style: dashed !important;
    border-color: var(--convertedin-gray-300) !important;
    gap: 12px;

    figure {
      background-color: var(--convertedin-gray-100);
      padding: 10px;
      border-radius: 50%;
    }

    p {
      color: var(--convertedin-gray-600);
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }

    span {
      color: var(--flyerz-primary-color) !important;
      font-weight: 700 !important;
    }
  }

  &__image-selected {
    border-radius: 8px;
    border: 1px dashed #0dac9e;
    background: #f0fdfa;

    p {
      color: #0cac9e;
      font-size: 14px;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -0.2px;
    }

    button {
      color: var(--convertedin-gray-700) !important;
      font-size: 14px !important;
      font-weight: 700 !important;
      line-height: 20px;
      padding: 8px 14px !important;
      border-radius: 8px;
      border: 1px solid var(--convertedin-gray-200) !important;
      background: white !important;
    }
  }
}
