footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #EAECF0;
    span{
        color:#667085;
        font-size: 16px;
        font-weight: 500;
        padding-top: 24px;
        text-align: center;
        a{
            color:#1D2939;
            font-weight: 500;
            cursor: pointer;
        }
    }
}