<!-- Header -->
<convertedin-create-ad-header
  [title]="'create-ad.select-goal.title' | translate"
  [subtitle]="'create-ad.select-goal.subtitle' | translate"
/>

<!-- Spinner -->
<convertedin-spinner *ngIf="isLoading" />

<!-- Goals -->
<ng-container *ngIf="userData$ | async as userData">
  <div
    class="create-ad__goals-container w-12 lg:w-3 md:w-6 grid"
    *ngIf="goals$ | async as goals"
  >
    <ng-container *ngFor="let goal of goals.data">
      <div class="col-12 lg:col-6">
        <div
        *ngIf="showGoal(goal, userData)"
        class="create-ad__goal"
        [ngClass]="{ 'create-ad__selected': selectedGoal?.id === goal.id }"
        (click)="goalSelection(goal)"
      >
        <!-- Goal logo -->
        <figure class="flex justify-content-center align-items-end">
          <img [alt]="goal.title" [src]="goal.images['1x']" />
        </figure>

        <!-- Goal title -->
        <p>{{ goal.title }}</p>
      </div>
      </div>
    </ng-container>
  </div>
</ng-container>
