.create-ad {
  &__goal {
    border-radius: 6.482px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--convertedin-gray-100);
    cursor: pointer;
    background-color: white;
    gap: 20px;

    p {
      color: var(--convertedin-gray-800);
      text-align: center;
      font-family: Almarai;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 22.5px */
    }
  }
}

img {
  width: 32px;
  height: 32px;
}
