<div class="main-card">
  <div class="card-header">
    <div class="header-info">
      <h4>Summary</h4>
    </div>
  </div>
  <ul *ngIf="campaignState.forms.objective" class="campaign-summery-wrapper">
    <li>
      <h5>Campaign Objective</h5>
      <span>
        <div [inlineSVG]="campaignState.forms.objective.image"></div>
        {{ campaignState.forms.objective.name }}
      </span>
    </li>

    <li>
      <h5>Campaign Type</h5>
      <span>
        <img alt="" src="" />
        {{ campaignState.forms.settings.type }} /
        {{ campaignState.forms.settings.settings }}
      </span>
    </li>

    <li>
      <h5>Campaign Lifetime</h5>
      <span *ngIf="campaignState.forms.setup.schedule">
        <img alt="" src="" />
        {{
          campaignState.forms.setup.schedule.lifetime ? 'Running Forever' : ''
        }}
        {{
          !campaignState.forms.setup.schedule.lifetime
            ? 'start: ' + (campaignState.forms.setup.schedule.start | date)
            : ''
        }}
        {{
          !campaignState.forms.setup.schedule.lifetime &&
          campaignState.forms.setup.schedule.end
            ? ' / End: : ' + (campaignState.forms.setup.schedule.end | date)
            : ''
        }}
      </span>
    </li>

    <li>
      <h5>Campaign Budget</h5>
      <span>
        <!-- <img alt="" src="" /> -->
        {{ campaignState.forms.budget.value }} USD -
        {{ campaignState.forms.budget.type }}
      </span>
    </li>
  </ul>
</div>
