<div class="flex">
  <div class="flex flex-column justify-content-between">
    <h5 class="branch__name">{{branch.title}} 
      <span *ngIf="defaultLocation ===branch.id" class="mx-1 font-medium chip chip-default">
     {{'createCampaign.branch.defaultLocation' |translate}}
    </span>
  </h5>
    <p class="mt-2 branch__desc" >{{branch.website_url}}</p>
  </div>
</div>
<p-checkbox (onChange)="onChangeBusiness(branch)" [name]="controlName"  [value]="branch.id" [formControl]="formControl" ></p-checkbox>
