:host {
  border-color: var(--convertedin-gray-200);

  &.active {
    border-color: var(--map-ad-primary-color);
  }
}

.branch {
  &__name {
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--convertedin-gray-900);
  }

  &__desc {
    font-size: .75rem;
    color: var(--convertedin-gray-700);
  }

}
