<form [formGroup]="loginForm" class="w-full sm:w-8 md:w-6 lg:w-4" (ngSubmit)="submit()">
  <header class="header text-center">
    <h1 class="header__title">{{ 'auth.login.title' | translate }}</h1>
    <p class="header__desc">{{ 'auth.login.subtitle' | translate }}</p>
  </header>
  <!-- <hr class="my-4 w-full border-1 border-gray-200" /> -->
  <div class="w-full mt-4">
    <div class="form-field">
      <label class="form-field__label" for="email">{{
        'auth.login.mailLabel' | translate
      }}</label>
      <input
        class="form-field__input"
        pInputText
        formControlName="email"
        id="email"
        type="text"
        [placeholder]="'auth.login.mailPlaceholder' | translate"
      />
      <convertedin-control-errors [control]="loginForm.get('email')!" />
    </div>
    <div class="form-field mt-3">
      <div class="flex justify-content-between">
        <label class="form-field__label" for="password">{{
          'auth.login.passwordLabel' | translate
        }}</label>
        <a [routerLink]="['../forgot-password']" class="text-sm text-primary underline">{{
          'auth.login.forgetPassword' | translate
        }}</a>
      </div>

      <p-password
        inputId="password"
        class="form-field__input w-full"
        formControlName="password"
        [feedback]="false"
        [placeholder]="'auth.login.passwordPlaceholder' | translate"
        [toggleMask]="true"
      />

      <convertedin-control-errors [control]="loginForm.get('password')!" />
    </div>
    <button
      class="p-button primary-btn mt-3 w-full justify-content-center"
      [disabled]="(isLoading$ | async) || loginForm.invalid"
    >
      {{ 'auth.login.loginBtn' | translate }}
      <i class="pi pi-spin pi-spinner mx-1" *ngIf="isLoading$.value"></i>
    </button>
  </div>
  <!-- <hr class="my-4 w-full border-1 border-gray-200" /> -->
  <!-- <p class="text-xs font-medium">{{ 'auth.login.haveAccount' | translate }}</p> -->
  <a [routerLink]="['../register']" class="p-button primary-outline-btn mt-2 w-full justify-content-center">
    {{ 'auth.login.createNewAccount' | translate }}</a
  >
</form>
