<div *ngIf="show" class="guide-banners relative">
  <!-- Connect account button -->
  <div class="flex flex-column md:flex-row guide-banners__container">
    <div
      class="w-12 md:w-6 lg:w-7 guide-banners__banner alt-banner justify-content-around"
    >
      <div class="alt-banner__text">
        <h3>{{ title | translate }}</h3>
        <h4>
          {{ desc | translate }}
        </h4>
      </div>
      <button
        class="p-button btn guide-banners__btn"
        (click)="openGuideVideo()"
      >
        <svg-icon name="play"></svg-icon>
        {{ 'guideBanner.watchVideo' | translate }}
      </button>
    </div>
    <div class="flex-1 pt-0 md:pt-4 px-4">
      <div class="flex align-items-end h-full">
        <img
          class="w-full guide-banners__img h-10rem block"
          src="/assets/images/guide-image.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <button
    (click)="show = false"
    class="pi pi-times text-white icon-btn absolute"
  ></button>
</div>
