.invite-counter {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: var(--convertedin-gray-50);
  border: 1px solid var(--convertedin-gray-200);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invite-user {
  max-height: 25rem;
  &__icon {
    margin: auto;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--convertedin-gray-50);
  }
  &__text {
    color: #98a2b3;
    font-weight: 500;
  }
}
.user-card {
  border-top: 1px solid var(--convertedin-gray-200);
  padding: 1rem 0;
  &__name ,&__amount{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--convertedin-gray-600);
  }
  &__status,
  &__text {
    //styleName: Text sm/Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--convertedin-gray-400);
  }
}
