<header>
  <h4 class="header__title text-xl flex gap-2 align-items-center">
    {{ 'referral.invitees' | translate }} <span class="invite-counter">{{ invitedUsers.count }}</span>
  </h4>
  <p class="header__desc text-base">{{ 'referral.viewAllInvitedFriends' | translate }}</p>
</header>
<section>
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll.emit()"
    [scrollWindow]="false"
    class="flex flex-column gap-2 align-items-center invite-user my-3 overflow-auto"
  >
    <div
      *ngFor="let user of invitedUsers.users"
      class="w-full flex justify-content-between align-items-center user-card"
    >
      <div>
        <h5 class="user-card__name">
          {{ user.firstName + ' ' + user.lastName }}
        </h5>
        <p class="user-card__status">{{ user.status }}</p>
      </div>
      <div>
        <p class="user-card__text">{{ 'referral.youGet' | translate }}</p>
        <p class="text-center user-card__amount">{{ user.amount }}</p>
      </div>
    </div>
    <div class="py-4" *ngIf="invitedUsers.users.length === 0">
      <div class="invite-user__icon">
        <svg-icon name="invite-user"></svg-icon>
      </div>
      <p class="invite-user__text">{{ 'referral.noInvitedFriendsYet' | translate }}</p>
    </div>
  </div>
</section>