
.header {
  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--convertedin-gray-900);
  }
  &__desc {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--convertedin-gray-700);
  }
}


.sub-header{
  &__title {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--convertedin-gray-700);
    margin-bottom: 0.2rem;
  }
  &__desc{
    color: var(--convertedin-gray-400);
    font-size: 0.875rem;
    font-weight: 500;
  }
}
