:root {
  --convertedin-gray-50: #f9fafb;
  --convertedin-gray-100: #f2f4f6;
  --convertedin-gray-200: #eaecf0;
  --convertedin-gray-300: #d0d5dd;
  --convertedin-gray-400: #98a2b3;
  --convertedin-gray-500: #667085;
  --convertedin-gray-600: #475467;
  --convertedin-gray-700: #344054;
  --convertedin-gray-800: #1d2939;
  --convertedin-gray-900: #101828;

  --map-ad-primary-light-color: #2A50D7;
  // --map-ad-primary-color: #0044dd;
  --map-ad-primary-color: #0036B1;
  --map-ad-primary-dark-color: #002985;

  --map-ad-primary-200: #99B4F1;
  --map-ad-primary-100: #fbfbff;
  --map-ad-primary-50: #E6ECFC;
  --map-ad-primary-25: rgba(0, 68, 221, 0.025);

  --map-ad-success-50: #ECFDF3;
  --map-ad-success-200: #ABEFC6;
  --map-ad-success-400: #17B26A;
  --map-ad-success-700: #067647;

  --map-ad-warning-50: #FFFAEB;
  --map-ad-warning-200: #FEDF89;
  --map-ad-warning-700: #B54708;

  --map-ad-error-50: #FEF3F2;
  --map-ad-error-200: #FECDCA;
  --map-ad-error-400: rgba(163, 98, 95, 0.685);
  --map-ad-error-700: #B42318;

}
