.settings-nav {
    border-radius: 8px;
    border: 1px solid var(--convertedin-gray-200);
    background: var(--convertedin-gray-50);
    padding: 4px;

  .settings-nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;

    .settings-nav__item {
      padding: 8px 0px;

      .settings-nav__link {
        text-decoration: none;
        color: var(--convertedin-gray-500);
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 8px 12px;
        border-radius: 6px;
        background: var(--convertedin-gray-50);

        &.settings-nav__link--active {
            color: var(--Gray-700);
            font-size: 14px;
            font-weight: 600;
            background: white;
            box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
        }
      }
    }
  }
}
