<div class="grid justify-content-between mt-5">
    <div class="lg:col-6 col-12">
      <h1>Reset your password</h1>
      <p>
        Enter the email address associated with your account and we'll send you a link to reset your password.
      </p>
    </div>
    <div class="lg:col-5 col-12">
      <form [formGroup]="forgotPasswordForm" class="auth-form">
        <div class="flex flex-column">
          <h5>We’re here to support you...</h5>
          <h3 class="mt-1">Forgot Your Password?</h3>
        </div>
        <div class="flex flex-column gap-2 mt-4">
            <label for="email">Email</label>
            <input pInputText id="email" formControlName="email" placeholder="name@gmail.com" />
            <convertedin-control-errors [control]="forgotPasswordForm.get('email')!" />
          </div>
          <button class="mt-2" type="submit" [disabled]="forgotPasswordForm.invalid">Continue</button>
          <hr class="my-5" />
        <span>Remembered your password? <a routerLink="../login">Return to Login</a></span>
      </form>
    </div>
</div>