::ng-deep .ad-details__timeline {
  .p-timeline-event-opposite {
    display: none !important;
  }

  .p-timeline-event-content {
    text-align: start !important;
  }
}

.ad-details__timeline-title {
  color: #192038;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.2px;
}

.ad-details__marker {
  color: var(--flyerz-primary-color);
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  i {
    font-weight: 700;
  }
}

::ng-deep {
  .timeline__pending:not(p) {
    background-color: var(--flyerz-primary-50) !important;
    border: 2px solid #e5ebf9 !important;

    i {
      display: none;
    }
  }

  .timeline__pending:is(p) {
    color: #8691ad;
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.2px;
  }

  .timeline__current:not(p) {
    background-color: var(--flyerz-primary-50) !important;
    border: 2px solid var(--flyerz-primary-color) !important;
    & {
      background-color: var(--flyerz-primary-color);
    }
    i {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--flyerz-primary-color);
      &::before {
        display: none;
      }
    }
  }

  .timeline__current:is(p) {
    color: var(--flyerz-primary-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.2px;
  }

  .timeline__check:not(p) {
    background-color: var(--flyerz-primary-50) !important;
    border: 2px solid var(--flyerz-primary-color) !important;
    & + .p-timeline-event-connector {
      background-color: var(--flyerz-primary-color);
    }
  }

  .timeline__check:is(p) {
    color: var(--flyerz-primary-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.2px;
  }

  .timeline__error:not(p) {
    border: 2px solid #ec1354 !important;
    background-color: #fff7f7 !important;
    & + .p-timeline-event-connector {
      background-color: #ec1354;
    }

    i {
      color: #ec1354 !important;
    }
  }

  .timeline__error:is(p) {
    color: #ec1354;
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.2px;
  }
}
