<!-- Status title -->
<p class="mb-4 ad-details__timeline-title">{{ title | translate }}</p>

<!-- Timeline -->
<p-timeline [value]="timeline" align="left" class="ad-details__timeline">
  <ng-template pTemplate="marker" let-event>
    <!-- Marker -->
    <div
      class="ad-details__marker shadow-2 flex justify-content-center align-items-center {{
        event.class
      }}"
    >
      <i [ngClass]="event.icon"></i>
    </div>
  </ng-template>

  <ng-template pTemplate="content" let-event>
    <p class="{{ event.class }} mt-2">{{ event.title | translate }}</p>
  </ng-template>
</p-timeline>
