<div class="pricing-card w-11/12 md:w-9/12 m-auto mt-24">
    <div class="mx-auto w-fit">
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto pricing-card__img-wrapper py-10">
        <h2 class="my-5 md:my-auto">Let's Talk</h2>
        <img class="mx-auto" src="assets/images/support-card.svg">
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 px-5 mx-auto gap-10 mt-16">
      <div class="pricing-card__content mx-auto">
          <h3>All Plans Include:</h3>
          <ul class="mt-6">
              <li *ngFor="let planItem of cardDetails.plans_include">
                  <div class="flex items-center gap-3">
                      <img src="assets/images/check-green.svg">
                      {{planItem}}
                  </div>
              </li>
          </ul>
      </div>
      <div class="pricing-card__content flex flex-col items-center">
          <h3>Managed Services:</h3>
          <span>An extension to your team</span>
          <ul>
              <li *ngFor="let managedService of cardDetails.managed_services">
                  <div class="flex items-center gap-3">
                      <img src="assets/images/check-green.svg">
                      {{managedService}}
                  </div>
              </li>
          </ul>
      </div>
    </div>
    <a href="#calender" class="mt-11 w-11/12 md:w-6/12 mx-auto get-started">Get Started</a>
  </div>