<ng-container *ngIf="accountData$ | async as accountData">
  <!-- Header -->
  <convertedin-header
    [title]="'dashboard.settings.categories.title' | translate"
  />

  <!-- Loading spinner -->
  <convertedin-spinner *ngIf="isLoading" />

  <!-- Categories -->
  <ng-container *ngIf="categories$ | async as data">
    <!-- Search field -->
    <span class="p-input-icon-{{ dir === 'ltr' ? 'left' : 'right' }}">
      <i class="pi pi-search"></i>
      <input
        type="text"
        class="w-full"
        pInputText
        [(ngModel)]="searchValue"
        (ngModelChange)="filterCategories(data.data)"
        [placeholder]="'dashboard.settings.categories.placeholder' | translate"
      />
    </span>

    <!-- Category cards -->
    <div class="flex flex-wrap dashboard-settings__categories-container">
      <div
        class="w-6 px-2"
        *ngFor="let category of filteredCategories"
        (click)="setSelectedCategory(category)"
      >
        <div
          class="dashboard-settings__category flex flex-column p-3 gap-2"
          [ngClass]="{
            'dashboard-settings__category-active':
              selectedCategory?.id === category.id
          }"
        >
          <!-- Category image -->
          <img [src]="category.image" alt="category-icon" />
          <!-- Category name -->
          <p>{{ category.name }}</p>
        </div>
      </div>
    </div>

    <!-- Submit btn -->
    <button
      pButton
      type="button"
      [disabled]="!selectedCategory || isConnectLoading"
      (click)="submitSelectedCategory(accountData)"
      class="dashboard-settings__categories-submit gap-2"
    >
      {{ 'common.continue-btn' | translate }}

      <i class="pi pi-spin pi-spinner" *ngIf="isConnectLoading"></i>
    </button>
  </ng-container>
</ng-container>
