<header class="header flex gap-2 align-items-center">
  <span
    class="inline-block p-1 border-round-lg border-1 border-gray-200 shadow-3"
  >
    <svg-icon
      class="w-3rem h-3rem"
      [applyClass]="true"
      name="google-business"
    ></svg-icon>
  </span>
  <h1 class="header__title">
    {{ 'connectedGoogleAccount.title' | translate }}
  </h1>
</header>
<section class="mt-3">
  <h3 class="account__title mb-2">
    {{ 'connectedGoogleAccount.subtitle' | translate }}
  </h3>
  <div>
    <div
      *ngIf="activeBrand$ | async as brand"
      class="p-3 border-1 border-gray-200 border-round-lg flex align-items-center justify-content-between"
    >
      <div>
        <h5 class="account__name">{{ brand.name }}</h5>
        <p class="account__website">{{ brand.website_url }}</p>
      </div>
      <button class="p-button danger-button"(click)="openConfirmDialog()">
        {{ 'connectedGoogleAccount.connectAntherBtn' | translate }}
      </button>
    </div>
  </div>
</section>
