.dashboard-accounts {
  &__container {
    width: fit-content;
  }

  ::ng-deep &__can-connect {
    background-color: #f0fdfa;
    padding: 12px;
    gap: 12px;
    border-radius: 10px;
    width: fit-content;
  }

  ::ng-deep &__cannot-connect {
    background-color: #fffbeb;
    padding: 12px;
    gap: 12px;
    border-radius: 10px;
    width: fit-content;
  }

  ::ng-deep &__need-reasign {
    background-color: #fef3f2;
    padding: 12px;
    gap: 12px;
    border-radius: 10px;
    width: fit-content;
  }
}

p {
  color: var(--convertedin-gray-700);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

img {
  max-width: 20px;
  max-height: 20px;
}
