<ng-container *ngIf="userData$ | async as user">
  <!-- Header -->
  <ng-container
    *ngIf="user.has_connected_store && (customers$ | async) as data"
  >
    <div
      class="all-customers__pending-banner flex gap-3 align-items-center"
      *ngIf="data.customers_sheet?.status === 'pending'"
    >
      <figure class="flex justify-content-center align-items-center">
        <img src="app-assets/icons/people/loading-01.svg" alt="loading-icon" />
      </figure>

      <p class="flex-grow-1">
        <span>{{ 'customers.pending-upload' | translate }},</span>
        {{ 'customers.upload-subtitle' | translate }}
      </p>

      <button pButton (click)="resetView()">
        {{ 'customers.Check Status' | translate }}
      </button>
    </div>

    <div class="flex justify-content-between align-items-center">
      <h1>
        {{ 'customers.All Customers' | translate }}
      </h1>

      <a
        pButton
        [href]="createSegmentRoute"
        class="gap-1 all-customers__create-btn"
      >
        <i class="pi pi-plus"></i>
        <span>
          {{ 'customers.Create New Segment' | translate }}
        </span>
      </a>
    </div>
  </ng-container>

  <!-- No store connected empty state -->
  <convertedin-no-store-connected-empty-state
    *ngIf="!user.has_connected_store"
  />

  <!-- Appear only when store is connected -->
  <ng-container *ngIf="user.has_connected_store">
    <convertedin-spinner
      class="flex justify-content-center align-items-center flex-grow-1"
      *ngIf="initialLoad"
    />

    <!-- Customers table -->
    <p-table
      *ngIf="customers"
      class="all-customers__table"
      [columns]="selectedColumns"
      [value]="customers"
      [paginator]="true"
      [totalRecords]="paginationService.pagination?.meta?.total"
      [rows]="paginationService.getPerPageNumber()"
      [first]="paginationService?.first"
      [rowsPerPageOptions]="[5, 10, 15, 20]"
      [lazy]="true"
      [loading]="isLoading"
      [ngClass]="{ 'rtl-pagination': dir === 'rtl' }"
      (onLazyLoad)="tableLazyLoad($event)"
    >
      <!-- Table caption -->
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between align-items-center">
          <h2 class="flex align-items-center gap-2">
            {{ 'customers.All Customers' | translate }}
            <span>
              {{ paginationService.pagination?.meta?.total || 0 }}
            </span>
          </h2>

          <div class="flex gap-2 align-items-center">
            <!-- Search input -->
            <p-autoComplete
              [(ngModel)]="search"
              [minLength]="0"
              [delay]="500"
              placeholder="{{ 'customers.Search Customers' | translate }}"
              class="all-customers__search"
              (completeMethod)="searchChange()"
            />

            <!-- Columns select input -->
            <p-multiSelect
              [options]="columns"
              [(ngModel)]="selectedColumns"
              optionLabel="label"
              class="max-w-13rem"
              styleClass="max-w-13rem"
              placeholder="Choose Columns"
            ></p-multiSelect>

            <p-dropdown 
            [options]="sourceOptions" 
            [(ngModel)]="selectedSource"
            (onChange)="getCustomers()" 
              optionLabel="label"
              optionValue="value"
              placeholder="Choose Source"
            />

            <convertedin-customer-csv-import
              *ngIf="showImportCsv"
              (fileUploaded)="resetView()"
            />
          </div>
        </div>
      </ng-template>

      <!-- Table header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.label }} <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <!-- Table body -->
      <ng-template pTemplate="body" let-customer let-columns="columns">
        <!-- <tr>
      <td *ngFor="let col of columns">
      {{
        col.field === 'accept_email_marketing' || col.field === 'accept_sms_marketing'
          ? getMarketingStatus(customer[col.field])
          : col.field === 'first_name'
          ? getName(customer)
          : customer[col.field]
      }}
      </td>
    </tr> -->
        <tr>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.field">
              <span
                [ngClass]="getClassForMarketing(customer[col.field])"
                *ngSwitchCase="'accept_email_marketing'"
              >
                {{ getMarketingStatus(customer[col.field]) }}
              </span>
              <span
                [ngClass]="getClassForMarketing(customer[col.field])"
                *ngSwitchCase="'accept_sms_marketing'"
              >
                {{ getMarketingStatus(customer[col.field]) }}
              </span>
              <span
                [ngClass]="getClassForMarketing(customer[col.field])"
                *ngSwitchCase="'valid_email'"
              >
                {{ getMarketingValidation(customer[col.field]) }}
              </span>
              <span
                [ngClass]="getClassForMarketing(customer[col.field])"
                *ngSwitchCase="'valid_phone'"
              >
                {{ getMarketingValidation(customer[col.field]) }}
              </span>

              <button
                (click)="openCustomerPopup(customer)"
                *ngSwitchCase="'first_name'"
                class="cursor-pointer w-full h-full text-left"
              >
                {{ getName(customer) }}
              </button>

              <ng-container *ngSwitchDefault>
                {{ customer[col.field] }}
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</ng-container>
