<h1 class="header__title text-center mb-4">{{ 'faq.title' | translate }}</h1>
<section class="w-full lg:w-8 mx-auto">
  <convertedin-spinner
    *ngIf="isLoading"
    class="flex-1 h-full flex flex-column justify-content-between align-items-center mt-8"
  />
  <p-accordion [multiple]="true" [activeIndex]="activeIndex">
    <p-accordionTab
      [header]="item.question"
      *ngFor="let item of faqList$ | async; let last = last"
    >
      <p>
        {{ item.answer }}
      </p>
    </p-accordionTab>
  </p-accordion>
</section>
