<footer
  class="flex flex-column md:flex-row gap-3 justify-content-between align-items-center border-top-1 border-gray-200 pt-3 pb-4"
>
  <p class="text-sm">
    {{ 'auth.footer.getAccess' | translate }}
    <a routerLink="/terms-and-conditions">{{ 'auth.footer.terms' | translate }}</a>
    {{ 'auth.footer.and' | translate }}
    <a routerLink="/privacy-policy">{{ 'auth.footer.privacyPolicy' | translate }}</a>
  </p>
  <div class="text-sm">
    <span>{{ 'auth.footer.needHelp' | translate }}</span
    ><button class="contactUs-btn" (click)="contactUs()"> {{ 'auth.footer.contactSupport' | translate }}</button>
  </div>
</footer>