::ng-deep .dropdown-action {
  @media screen and (min-width: 768px) {
    min-width: 8rem;
  }
}
.input-counter {
  position: absolute;
  font-size: 0.75rem;
  top: -1rem;
  inset-inline-end: 0.2rem;
  color: var(--convertedin-gray-500);
}
.content-ticket {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  border: 1px solid #eaecf0;
  background-color: #f9fafb;
  color: #344054;
  max-width: 9rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

:host {
  display: contents;
}
.content-field {
  @media screen and (max-width: 990px) {
    min-width: 15rem;
  }
}
