.content-ticket {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  display: inline-block;

  &[data='pending'] {
    border: 1px solid var(--map-ad-warning-200);
    color: var(--map-ad-warning-700);
    background-color: var(--map-ad-warning-50);
  }

  &[data='rejected'] {
    border: 1px solid var(--map-ad-error-200);
    color: var(--map-ad-error-700);
    background-color: var(--map-ad-error-50);
  }

  &[data='completed'] {
    border: 1px solid var(--map-ad-success-200);
    background-color: var(--map-ad-success-50);
    color: var(--map-ad-success-700);
  }
}
.details-container {
  border: 1px solid var(--convertedin-gray-50);
  box-shadow: 0px 1px 4px 0px #00000014;
  border-radius: 0.75rem;
  padding: 1.5rem;
}
.review-label {
  background-color: var(--map-ad-success-200);
  color: var(----map-ad-success-500);
  font-weight: 600;
  font-size: 0.875rem;
}
.review-value {
  font-weight: 700;
  font-size: 0.93rem;
  color: var(--convertedin-gray-800);
  overflow-wrap: break-word;
  max-width: 20rem;
}
