<div class="home-banners">
  <!-- Waiting list banner -->
  <div class="home-banners__banner waiting" *ngIf="userData.isInWaitingList">
    <img src="assets/images/warning-banner-icon.svg" alt="exclamation-icon" />
    <div>
      <h3>{{ 'home.waitingListBanner.title' | translate }}</h3>
      <h4>
        {{
          'home.waitingListBanner.description'
            | translate : { currency: currency$ | async }
        }}
      </h4>
    </div>
  </div>

  <!-- Acccess granted banner -->
  <div
    *ngIf="
      isAccessGranted &&
      userData.connectedAccounts?.length === 0 &&
      !userData.isInWaitingList
    "
    class="home-banners__banner congratulations"
  >
    <img src="assets/images/sucess-banner-icon.svg" alt="cheering-icon" />
    <div>
      <h3>{{ 'home.accessGrantedBanner.title' | translate }}</h3>
      <h4>
        {{
          'home.accessGrantedBanner.description'
            | translate : { currency: currency$ | async }
        }}
      </h4>
    </div>
    <button type="button" class="ms-auto" (click)="hideAccessBanner()">
      <img src="assets/icons/x-close.svg" alt="Close" />
    </button>
  </div>

  <!-- Connect account button -->
  <div
    class="home-banners__banner alt-banner"
    *ngIf="userData.connectedAccounts?.length === 0"
  >
    <div class="alt-banner__text">
      <h3>{{ 'home.connectAccountBanner.title' | translate }}</h3>
      <h4>{{ 'home.connectAccountBanner.description' | translate }}</h4>
    </div>
    <a
      [ngClass]="{ 'disabled-anchor': userData.isInWaitingList }"
      pButton
      routerLink="/dashboard/accounts"
    >
      {{ 'home.connectAccountBanner.buttonText' | translate }}
    </a>
  </div>
</div>

<!-- Seperator in case user account is active & connected -->
<hr
  class="w-full border-1 border-gray-300"
  *ngIf="!userData.isInWaitingList && userData.connectedAccounts!.length > 0"
/>
