<convertedin-header class="px-4 md:px-6"></convertedin-header>
<section class="flex-1 overflow-auto px-4 md:px-6">
  <div class="w-full md:w-7 mx-auto">
    <h1 class="title mt-2 mb-3 text-center">{{ privacyPolicy.title }}</h1>
    <p class="content" [innerHTML]="privacyPolicy.desc"></p>
    <div class="pb-4" *ngFor="let content of privacyPolicy.content">
      <h2 class="title mt-4 mb-3">- {{ content.title }}</h2>
      <p class="content" [innerHTML]="content.desc">
      </p>
    </div>
  </div>
</section>
<convertedin-footer class="px-4 md:px-6"></convertedin-footer>
