<div class="grid justify-content-between mt-5">
    <div class="lg:col-6 col-12">
      <h1>Verify your email!</h1>
      <hr>
      <p>Check your inbox! 
        <br>
        <br>
        We’ve just send you a 6-digit code to <span>{{email}}</span> ,please enter code below...
      </p>
      <a routerLink="../register" class="back-btn">
        <i class="pi pi-arrow-left"></i>
        Change Email
    </a>
    </div>
    <div class="lg:col-5 col-12">
      <div class="auth-form">
        <div class="flex flex-column align-items-center">
          <h5>Verify your email!</h5>
          <h3 class="mt-1">Add OTP Code</h3>
        </div>
        <ngx-otp-input
        #otpComponent
        [config]="otpInputConfig"
        class="otp__input"
        (otpChange)="inputChange($event)"
      ></ngx-otp-input>
      <button type="submit" [disabled]="!isOtpComplete">Confirm</button>
        <hr class="my-5" />
        <span class="text-center">Don't see a code? <a routerLink="../register">Resend Code</a></span>
      </div>
    </div>
  </div>
