<div class="grid justify-content-between mt-5">
  <div class="lg:col-6 col-12">
    <h1>Get access to world-leading marketing tools.</h1>
    <p>We're happy to see you back...</p>
  </div>
  <div class="lg:col-5 col-12">
    <form [formGroup]="loginForm" class="auth-form">
      <div>
        <h5>Welcome back</h5>
        <h3 class="mt-1">Login to your account</h3>
      </div>

      <div class="flex flex-column gap-2 mt-4">
        <label for="email">Email</label>
        <input pInputText id="email" formControlName="email" />
        <convertedin-control-errors [control]="loginForm.get('email')!" />
      </div>

      <div class="flex flex-column gap-2 mt-3">
          <label class="flex justify-content-between align-items-center" for="password">Password
          <a  routerLink="../forget-password" >Forgot Password?</a>
          </label>
        <p-password id="password" [toggleMask]="true" formControlName="password" />
        <convertedin-control-errors [control]="loginForm.get('password')!" />
      </div>

      <div class="flex flex-column gap-2 mt-3">
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <button type="button" class="google-btn flex align-items-center gap-2 justify-content-center">
            <img src="assets/icons/google.svg" alt="">
            Sign in with Google
        </button>
      </div>
      <hr class="my-5" />
      <span>Haven't an account? <a routerLink="../register">Create New Account</a></span>
    </form>
  </div>
</div>
