<ng-container *ngIf="paymentData$ | async as payment">
  <!-- Header -->
  <header class="flex gap-3 align-items-center dashboard-wallet__header">
    <button convertedin-back-button></button>

    <h1>{{ 'dashboard.wallet.add-funds-title' | translate }}</h1>
  </header>

  <ng-container *ngIf="userData$ | async as userData">
    <form
      [formGroup]="form"
      class="dashboard-wallet__summary-form flex flex-column md:w-9 w-full"
      *ngIf="currency$ | async as currency"
      (ngSubmit)="goToNextStep(payment, userData)"
    >
      <!-- Value input -->
      <div class="flex flex-column gap-2">
        <label>
          {{ 'dashboard.wallet.payment-summary.amount-lbl' | translate }}
        </label>

        <convertedin-currency-input
          [currency]="currency"
          controlName="value"
          [placeholder]="
            'dashboard.wallet.payment-summary.amount-placeholder' | translate
          "
        />

        <convertedin-control-errors [control]="form.get('value')!" />

        <!-- Min create ad balance note -->
        <p
          class="dashboard-wallet__note"
          *ngIf="validations$ | async as validations"
        >
          <span>{{ 'dashboard.wallet.payment-summary.note' | translate }}</span>
          {{ 'dashboard.wallet.payment-summary.note-txt' | translate }}
          {{ validations.createAd.minBudget }} {{ validations.currency.symbol }}
        </p>
      </div>

      <div class="flex flex-column">
        <label class="mb-4">
          {{ 'dashboard.wallet.payment-summary.details-lbl' | translate }}
        </label>

        <!-- Payment summary -->
        <div
          class="flex flex-column gap-3 p-3 dashboard-wallet__summary-container"
          *ngIf="value$ | async as value"
        >
          <!-- Amount -->
          <div class="flex justify-content-between">
            <p>
              {{ 'dashboard.wallet.payment-summary.amount-title' | translate }}
            </p>

            <p>{{ value.value }} {{ currency }}</p>
          </div>

          <!-- Fees -->
          <!-- <div class="flex justify-content-between">
            <p>
              {{ 'dashboard.wallet.payment-summary.fees-title' | translate }}
            </p>

            <p>{{ value.value * charges | number }} {{ currency }}</p>
          </div> -->

          <!-- VAT -->
          <div class="flex justify-content-between">
            <p>
              {{ 'dashboard.wallet.payment-summary.vat-title' | translate:{currentVat: currentVat * 100 | number} }}
            </p>

            
            <p>{{ value.value * currentVat | number }} {{ currency }}</p>
          </div>

          <!-- Total -->
          <div
            class="flex justify-content-between dashboard-wallet__summary-total"
          >
            <p>
              {{ 'dashboard.wallet.payment-summary.total-title' | translate }}
            </p>

            <p>{{ getTotalRecharge(value.value) | number }} {{ currency }}</p>
          </div>
        </div>
      </div>

      <!-- Next btn -->
      <button
        type="submit"
        pButton
        class="dashboard-wallet__funds-btn justify-content-center gap-2"
        [disabled]="!form.valid || isLoading"
      >
        {{ 'common.next-btn' | translate }}

        <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
      </button>

      <!-- Payment redirect -->
      <div class="dashboard-wallet__redirect p-3" *ngIf="redirect.show">
        <p class="flex gap-3">
          {{ 'dashboard.wallet.blocked' | translate }}
          <a [href]="redirect.url" target="_blank">
            {{ 'common.click-here' | translate }}
          </a>
        </p>
      </div>
    </form>
  </ng-container>
</ng-container>
