.connect-facebook {
  ::ng-deep &__submit-btn {
    width: 19.5rem !important;
    background-color: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    border-radius: 8px !important;
    justify-content: center;
    padding: 1rem !important;
  }

  &__support {
    background: rgba(253, 228, 0, 0.22);
    padding: 1rem;
    width: fit-content;
    margin-top: 2.65rem;

    a {
      cursor: pointer;
      color: var(--flyerz-primary-color);
      text-decoration: underline;
    }
  }
}

ul {
  margin-inline-start: 1.2rem;
  li {
    &::marker {
      font-size: 1.2rem;
    }
    color: var(--convertedin-gray-500);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
  }
}
