<form
  class="flex flex-column mt-2"
  [formGroup]="form"
  *ngIf="userData$ | async as userData"
  (ngSubmit)="submitForm()"
>
  <ng-container *ngIf="hasData || (adData$ | async) as adData">
    <ng-container *ngIf="validations$ | async as validations">
      <!-- Budget input -->
      <div class="flex flex-column gap-1">
        <convertedin-currency-input
          controlName="minimumBudget"
          [currency]="userData.user.currency.symbol"
          [minValue]="0"
        />

        <convertedin-control-errors [control]="form.get('minimumBudget')!" />
      </div>

      <!-- Current wallet value -->
      <convertedin-wallet-value-banner
        [compareValue]="validations.createAd.minBudget"
      />

      <!-- Duration input -->
      <div class="flex flex-column gap-1">
        <p-inputNumber
          class="w-full create-ad__duration-input"
          styleClass="w-full"
          [placeholder]="
            'create-ad.wallet-popup.duration-placeholder' | translate
          "
          formControlName="days"
          [showButtons]="true"
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          [suffix]="' ' + ('common.days' | translate)"
          [minFractionDigits]="0"
          [min]="0"
        />

        <convertedin-control-errors [control]="form.get('days')!" />
      </div>

      <!-- Info banner -->
      <div class="info-banner flex gap-2 align-items-start" *ngIf="hasData">
        <img src="assets/icons/common/info-circle.svg" alt="info-circle" />

        <p>
          {{ 'create-ad.wallet-popup.update-1' | translate }}
          <strong>{{ form.get('minimumBudget')!.value }}</strong>
          {{ userData.user.currency.symbol }} ,
          <strong>{{ form.get('days')!.value }}</strong>
          {{ 'common.days' | translate }}
          {{ 'create-ad.wallet-popup.update-2' | translate }}
        </p>
      </div>

      <p
        class="text-center create-ad__day-value-error"
        *ngIf="showPerDayErrorBanner(validations.createAd.perDay)"
      >
        {{ 'create-ad.wallet-popup.min-amount-error1' | translate }}
        <span>
          {{ validations.createAd.perDay }}
          {{ validations.currency.symbol }}
        </span>
        {{ 'create-ad.wallet-popup.min-amount-error2' | translate }}
      </p>

      <!-- Action btns -->
      <div class="flex gap-3">
        <!-- Submit btn -->
        <button
          type="submit"
          pButton
          class="create-ad__submit-btn justify-content-center gap-1 flex-grow-1"
          [disabled]="
            !form.valid ||
            showPerDayErrorBanner(validations.createAd.perDay) ||
            isLoading
          "
        >
          {{ 'create-ad.wallet-popup.save-btn' | translate }}

          <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
        </button>

        <!-- Cancel btn -->
        <button
          (click)="closeDialog()"
          pButton
          type="button"
          class="create-ad__cancel-btn justify-content-center flex-grow-1"
        >
          {{ 'common.cancel' | translate }}
        </button>
      </div>
    </ng-container>
  </ng-container>
</form>
