.convertedin {
  &__notification {
    cursor: pointer;
    border: unset !important;
    background: unset !important;
    padding: 5px !important;
    border-radius: 50% !important;
    transition: 0.2s all ease-in;
    &,
    i {
      color: #9ca3af !important;
      font-size: 24px !important;
    }

    &:hover i {
      color: #04d !important;
      transition: 0.2s all ease-in;
    }
  }

  ::ng-deep &__notification-overlay {
    top: 70px !important;
    border-radius: 12px !important;
    background: #fff !important;
    box-shadow: 0px 1px 4px 0px rgba(50, 56, 58, 0.08) !important;
    max-height: 788px;
    width: 440px;
    &,
    .p-overlaypanel-content {
      display: flex;
      flex-direction: column;
    }

    .p-overlaypanel-content {
      flex-grow: 1;
      padding: 0 !important;
    }

    &::after,
    &::before {
      display: none;
    }
    .notification-container {
      max-height: 70vh;
      height: 60vh;
      overflow: auto;
    }
  }
}

::ng-deep.p-overlay-badge .p-badge {
  transform: translate(20%, -20%) !important;
  background-color: #ed5554 !important;
  color: white !important;
  line-height: 12px !important;
  padding: 4px !important;
  font-size: 12px !important;
  min-width: 16px !important;
  height: 20px !important;
}
::ng-deep.hide-badge .p-badge {
  display: none !important;
}
.notifications {
  &__header {
    border-bottom: 1px solid #eef2f4;
    border-radius: 12px 12px 0 0;

    p {
      color: #192038;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.32px;
    }

    button {
      &,
      i {
        color: #747f91 !important;
        font-size: 14px !important;
        background-color: transparent !important;
        border-color: transparent !important;
        padding: 0 !important;
        font-weight: 500;
        line-height: 18px;
      }
    }
  }
}
