<!-- Header -->
<convertedin-header
  title="{{ 'auth.forget-password.forget-title' | translate }}"
  subtitle="{{ 'auth.forget-password.forget-subtitle' | translate }}"
/>

<form
  class="flex flex-column gap-5 md:w-7 lg:w-6 w-10"
  [formGroup]="form"
  (submit)="submit()"
>
  <!-- Phone input -->
  <div class="flex flex-column gap-1">
    <label class="auth__label">{{ 'auth.login.label' | translate }}</label>

    <convertedin-phone-number-input
      class="auth__phone w-full"
      [wrongFormatMessage]="'auth.login.wrong-format' | translate"
      formControlName="phone"
      valueFormat="separate"
      [perferredCountry]="countryIso"
      [disableCountryDropdown]="true"
    />

    <convertedin-control-errors [control]="form.get('phone')!" />
  </div>

  <!-- Submit btn -->
  <button
    pButton
    type="submit"
    class="auth__submit-btn gap-2"
    [disabled]="isLoading || !form.valid"
  >
    {{ 'common.continue-btn' | translate }}
    <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
  </button>
</form>
