:host {
  display: block;
  max-width: 60vw;
  @media screen and (max-width: 768px) {
    max-width: 90vw;
  }
}
.footer-text {
  font-size: 0.75rem;
  color: var(--convertedin-gray-500);
}
.step-container {
  &__text {
    color: var(--convertedin-gray-600);
    font-weight: 500;
  }
  &__img-1 {
    max-height: 17rem;
    object-fit: contain;
  }
  &__img-2 {
    object-fit: contain;
  }
}
