.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  gap: 10px;
  .title-section {
    h1.page-title {
      color: var(--Gray-900, #101828);
    }
    .page-subtitle {
      color: var(--Gray-500, #667085);
    }
  }
  .action-section {
    display: flex;
    align-items: center;
    /* Feedback Button */
    .feedback-btn {
      background-color: transparent;
      cursor: pointer;
      margin-right: 15px;
      transition: background-color 0.3s, color 0.3s;
      display: flex;
      padding: .3rem .75rem;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid var(--Primary-200, #99B4F1);
      color: var(--Primary-500, #04D);
      text-align: center;
      font-family: Inter;
      font-size: .75rem;
      font-style: normal;
      font-weight: 600;
      img {
        width: 24px;
        height: 24px;
      }
      &:hover {
        border-color: #99B4F1;
      }
    }

    /* Notification Button */
    .notification-btn {
      border: none;
      cursor: pointer;
      justify-content: center;

      display: flex;
      padding: 8px;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: #FFF;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);

      i {
        font-size: 20px;
        color: #667085;
      }

      &:hover {
        i {
          color: var(--Primary-500, #04D);
        }
      }
    }
  }
}