<header class="header-container">
  <div style="width: 75px;" *ngIf="isSmallScreen()">

  </div>
  <div class="title-section">
    <h1 class="page-title text-base font-semibold">{{ title }}</h1>
    <p class="page-subtitle text-sm font-normal" *ngIf="subTitle">{{ subTitle }}</p>
  </div>

  <div class="action-section">
    <button class="feedback-btn">
      <img src="assets/icons/navbar/star-07.svg" /> Feedback
    </button>

    <button class="notification-btn">
      <i class="pi pi-bell"></i>
    </button>
  </div>
</header>
