<div class="transactions-wrapper">
  <!-- Header -->
  <div
    class="transactions-wrapper__header flex justify-content-between align-items-center mb-3"
  >
    <h4>{{ 'home.overview' | translate }}</h4>
    <div class="header-actions">
      <a
        pButton
        [routerLink]="
          showTransactionsTable
            ? '/dashboard/home/topup-account'
            : '/dashboard/accounts'
        "
        [ngClass]="{ 'disabled-anchor': disableTopup }"
        class="align-items-center gap-2"
      >
        <i class="pi pi-plus"></i>
        {{ 'home.topUpAccounts' | translate }}
      </a>
    </div>
  </div>

  <!-- Statistics -->
  <div class="grid">
    <!-- Connected accounts -->
    <div class="col-12 md:col-6 lg:col-3 xl:col-2">
      <div class="transactions-wrapper__card">
        <h3>
          {{ statistics ? (statistics.connectedAccounts | number) : '-' }}
        </h3>
        <p>{{ 'home.connectedAccounts' | translate }}</p>
        <img src="assets/icons/sidebar/link-01.svg" alt="link-icon" />
      </div>
    </div>

    <!-- Amount charge -->
    <div class="col-12 md:col-6 lg:col-3 xl:col-2">
      <div class="transactions-wrapper__card">
        <h3>
          {{ statistics ? (statistics.totalChargeAmount | number) : '-' }}
        </h3>
        <p>{{ 'home.amountCharge' | translate }}</p>
        <img src="assets/icons/sidebar/link-01.svg" alt="link-icon" />
      </div>
    </div>
  </div>

  <ng-container *ngIf="transactions$ | async as transactions">
    <!-- Table section -->
    <div class="transctions-table-wrapper">
      <div class="transctions-table-wrapper__header">
        <h2>{{ 'home.latestTransactions' | translate }}</h2>
      </div>

      <!-- Empty state -->
      <ng-template #emptyState>
        <div class="table-empty">
          <img src="assets/images/table-empty.svg" alt="" />
          <h4>{{ 'home.noDataToView' | translate }}</h4>
          <span>{{ 'home.startTopUpAnyAdAccount' | translate }}</span>
        </div>
      </ng-template>

      <!-- Transactions table -->
      <div
        *ngIf="
          transactions.transactions.length > 0 || isLoading;
          else emptyState
        "
        class="table-data"
      >
        <p-table
          [loading]="isLoading"
          [value]="transactions.transactions"
          [rows]="metaPayload.per_page"
          [totalRecords]="transactions.pagination.total"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 16.6%">{{ 'home.date' | translate }}</th>
              <th style="width: 16.6%">{{ 'home.platform' | translate }}</th>
              <th style="width: 16.6%">{{ 'home.amount' | translate }}</th>
              <th style="width: 16.6%">{{ 'home.status' | translate }}</th>
              <th style="width: 16.6%">
                {{ 'home.paymentMethod' | translate }}
              </th>
              <th style="width: 16.6%">{{ 'home.action' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
              <td>{{ data.transactionCreatedAt | date : 'dd MMM YYYY' }}</td>
              <td>{{ data.socialPlatformName }}</td>
              <td>{{ data.transactionNetAmount }} <convertedin-currency /></td>
              <td>
                <span class="pill">
                  <span [ngClass]="data.transactionStatus.id">&#x2022;</span>
                  {{ data.transactionStatus.value }}
                </span>
              </td>
              <td>
                {{ data.paymentMethodName }}
              </td>
              <td>
                <button
                  *ngIf="data.transactionRefundAttachment"
                  target="_blank"
                  class="font-semibold p-button primary-outline-btn px-3 py-1 text-xs white-space-nowrap"
                  (click)="
                    openImageViewer(
                      data.transactionRefundAttachment,
                      data.transactionParentId
                    )
                  "
                >
                  {{ 'home.refundProof' | translate }}
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <p-paginator
              styleClass="w-full transactions-wrapper__pagination"
              [first]="0"
              [rows]="metaPayload.per_page"
              [totalRecords]="transactions.pagination.total"
              (onPageChange)="onPageChange($event)"
              [currentPageReportTemplate]="
                'home.currentPageReportTemplate' | translate
              "
              [showCurrentPageReport]="true"
              [pageLinkSize]="pageLinkSize"
            >
            </p-paginator>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-container>
</div>
