.change-password {
  &__submit-btn {
    width: 12.5rem !important;
    background-color: var(--flyerz-primary-color) !important;
    border-radius: 8px !important;
    justify-content: center;
    padding: 1rem !important;
  }

  &__label {
    color: var(--convertedin-gray-500);
    font-size: 14px;
    font-weight: 400;
  }

  ::ng-deep &__password {
    input {
      background: var(--convertedin-gray-50) !important;
      width: 100%;
    }
  }
}
