.dashboard-wallet {
  &__anouncement {
    border-radius: 10px;
    background: #fffbeb;
    padding: 12px;
    p {
      color: #252f4a;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__payment-method {
    gap: 12px;
    border-radius: 16px;
    border: 2px solid var(--convertedin-gray-100);
    background: white;
    cursor: pointer;
    min-height: 100px;

    figure {
      max-height: 40px;
    }

    p {
      color: var(--convertedin-gray-800);
      font-size: 12px;
      font-weight: 700;
      line-height: 180%;
      text-align: center;
    }
  }

  &__selected-method {
    border-color: var(--flyerz-primary-color) !important;
    transition: all 0.3s;
  }

  &__method-disabled {
    opacity: 0.5;
  }
}

::ng-deep .dashboard-wallet {
  &__add-funds {
    padding-inline-end: 16px;
  }
}
