<section id="pricingSection">
  <div class="w-11/12 md:w-9/12 mx-auto">
    <h1>Scale Campaigns with your Growth!</h1>
    <h4>
      Convertedin’s Marketing Automation solution and Managed Services have helped
      businesses like yours exceed their industry-average ROAS (Return on Ad
      Spend).
    </h4>
  </div>
  <convertedin-slider
    (onchangeStep)="onSliderChange($event)"
  ></convertedin-slider>
  <ng-container [ngSwitch]="activeSection">
    <convertedin-plans *ngSwitchCase="sections.PLANS"></convertedin-plans>
    <convertedin-support-card *ngSwitchCase="sections.SUPPORT"></convertedin-support-card>
    <convertedin-pricing-card [adSpent]="adSpentValue" *ngSwitchDefault></convertedin-pricing-card>
  </ng-container>

    <div class="w-11/12 md:w-9/12 mx-auto mt-28" *ngIf="[1,2,3,4].includes(activeSection)">
      <img src="assets/images/featured-icon.svg" class="mx-auto" alt="" />
      <h5 class="mt-5 mb-20">Supported Channels Include...</h5>
      <div class="grid grid-cols-1 md:grid-cols-4 gap-10">
        <div *ngFor="let channel of supportedChannels" class="flex flex-col">
          <p>{{ channel.title }}</p>
          <ul>
            <li *ngFor="let subChannel of channel.channels">
              <div class="flex items-center gap-3">
                <img src="assets/images/check.svg" alt="" />
                {{ subChannel }}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <h5 class="mb-7">and more...</h5>
      <a routerLink="/pricing" fragment="calender"  class="get-started w-11/12 md:w-4/12 mx-auto mb-16">Get Started</a>
    </div>
</section>
