::ng-deep {
  .workflow__delay-card {
    padding: 9px 20px;
    background-color: #f8eeee;
    border-radius: 100px;
    border: 1px solid #fecdca;
  }

  .workflow__delay-error {
    background-color: #f97066 !important;
    p {
      color: white !important;
    }
  }
}

p {
  color: #b42318;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
