.side-nav {
  background: theme('colors.primary.100');
  width: 240px;
  .nav-container {
    list-style: none;
    .nav-item {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.75rem;
      font-size: 0.825rem;
      border-radius: 0.5rem;
      border-inline-start: 3px solid transparent;
      cursor: pointer;
      &.active {
        background-color: #e6ecfc;
        border-inline-start: 3px solid theme('colors.primary.DEFAULT');
        svg * {
          stroke: var(--map-ad-primary-color);
        }
      }
    }
  }
}
