.create-ad__ai {
  &-header {
    margin-bottom: 19px;
    label {
      color: var(--flyerz-primary-color);
      font-size: 13px;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -0.2px;
    }
  }

  &-title {
    color: var(--convertedin-gray-900);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }

  &-data {
    border-radius: 8px;
    background: var(--convertedin-gray-200);
  }

  &-card {
    border-radius: 8px;
    background: #fff;

    &,
    i {
      color: var(--convertedin-gray-500);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.empty-state {
  color: var(--convertedin-gray-700);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  background: #fffaeb;
}
