.header {
  &__title {
    color: #374151;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  &__desc {
    color: #374151;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
}

.sub-header {
  &__title {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--convertedin-gray-700);
  }
  &__desc {
    color: var(--convertedin-gray-400);
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.text-primary-dark {
  color: var(--converted-pay-primary-dark-color);
}
.primary-text {
  color: var(--converted-pay-primary-color) !important;
}
.text-danger{
  color: var(--converted-pay-error-700) !important;
}