:root {
  --convertedin-gray-50: #f9fafb;
  --convertedin-gray-100: #f2f4f6;
  --convertedin-gray-200: #eaecf0;
  --convertedin-gray-300: #d0d5dd;
  --convertedin-gray-400: #98a2b3;
  --convertedin-gray-500: #667085;
  --convertedin-gray-600: #475467;
  --convertedin-gray-700: #344054;
  --convertedin-gray-800: #1d2939;
  --convertedin-gray-900: #101828;

  --converted-pay-primary-light-color: #2A50D7;
  // --converted-pay-primary-color: #0044dd;
  --converted-pay-primary-color: #0036B1;
  --converted-pay-primary-dark-color: #1D2939;
  
  --converted-pay-gray-blue-700: #363F72;

  --converted-pay-primary-200: #99B4F1;
  --converted-pay-primary-100: #fbfbff;
  --converted-pay-primary-50: #E6ECFC;
  --converted-pay-primary-25: rgba(0, 68, 221, 0.025);

  --converted-pay-success-50: #ECFDF3;
  --converted-pay-success-200: #ABEFC6;
  --converted-pay-success-300: #75E0A7;
  --converted-pay-success-700: #067647;

  --converted-pay-warning-50: #FFFAEB;
  --converted-pay-warning-100: #FEF7C3;
  --converted-pay-warning-200: #FEDF89;
  --converted-pay-warning-300: #FDE272;
  --converted-pay-warning-600: #CA8504;
  --converted-pay-warning-700: #B54708;

  --converted-pay-error-50: #FEF3F2;
  --converted-pay-error-200: #FECDCA;
  --converted-pay-error-400: rgba(163, 98, 95, 0.685);
  --converted-pay-error-700: #B42318;

  --primary-color: #0036B1;
}
