<section class="head-section flex flex-col items-center pb-48">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-20 w-4/5 mx-auto">
        <div class="pl-2  flex flex-col justify-center">
            <h1 class="md:w-9/12 w-12/12">We Supercharge Your Ads!</h1>
            <p class="md:w-11/12 w-12/12 mt-4">Convertedin's Marketing Automation and Managed Services solutions have helped businesses like yours exceed their industry-standard Return on Ad Spend (ROAS). </p>
            <a routerLink="/calculator" fragment="introductionSection" class="calc-cta w-fit my-10">Check out our ROI Calculator below</a>
            <span class="mt-2 w-4/5">To find out how we can improve your ROAS and increase revenue!</span>
        </div>
        <div class="pr-8 lg:flex hidden justify-center">
            <img src="/assets/images/header-graphic.webp" alt="">
        </div>
    </div>

</section>
<convertedin-introduction></convertedin-introduction>
<convertedin-roi></convertedin-roi>