::ng-deep .dashboard-settings__pages {
  input {
    background-color: var(--convertedin-gray-50) !important;
    border-radius: 1rem !important;
  }

  &-submit {
    width: 12.5rem !important;
    background-color: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    border-radius: 8px !important;
    justify-content: center;
    padding: 1rem !important;
  }
}

::ng-deep .dashboard-settings__radio {
  .p-radiobutton-box.p-highlight {
    border-color: var(--flyerz-primary-color) !important;
    background: var(--flyerz-primary-color) !important;
  }
}

.dashboard-settings__page {
  cursor: pointer;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid var(--convertedin-gray-200);
  background: white;

  p {
    color: var(--convertedin-gray-800);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }

  figure {
    font-size: 0;
    max-width: 5.3125;
    max-height: 4.5rem;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
    }
  }
}

.dashboard-settings__page-active {
  border: 2px solid var(--flyerz-primary-color) !important;
}

figcaption {
  color: var(--convertedin-gray-600);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
