<!-- Header -->
<h3 class="text-sm text-primary-dark font-semibold mb-3">
  {{ 'topUp.selectAccount' | translate }}
</h3>

<section class="flex gap-3 flex-wrap" *ngIf="socialAccounts$ | async as accounts">
  <!-- Accounts -->
  <convertedin-account-card
    *ngFor="let account of accounts.data"
    [account]="account"
    [selectedAccount]="selectedAccount"
    (click)="onSelectType(account)"
  ></convertedin-account-card>
</section>

<!-- Spinner -->
<convertedin-spinner
  class="flex justify-content-center align-items-center flex-grow-1"
  *ngIf="isLoading"
/>