.beta-badge {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--convertedin-gray-300);
  background-color: var(--convertedin-gray-200);
}
.active {
  border: 2px solid var(--converted-pay-primary-color) !important;
}

.social-card {
  min-width: 250px;
}
.disabled {
  opacity: 0.7;
  background-color: var(--convertedin-gray-100);
  pointer-events: none;
  box-shadow: none !important;
}
