.circle {
  width: 1.5rem;
  height: 1.5rem;
}
:host {
  &.active {
    .card-container {
      border-color: var(--map-ad-primary-color) !important;
    }
  }
  &.disabled {
    .card-container {
      pointer-events: none;
      opacity: 0.7;
    }
  }
}
.card-container {
  border-color: var(--convertedin-gray-200);
}

.business {
  &__count,
  &__name {
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--convertedin-gray-900);
  }
  &__desc {
    font-size: 0.75rem;
    color: var(--convertedin-gray-600);
    max-width: 26rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
