.campaign-configuration-info {
  border-radius: 16px;
  background: var(--cin-secondary-color);
  min-height: 500px;
  padding: 30px 20px 0;

  .image-wrapper {
    background: #fff;
    text-align: center;
    padding-top: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      width: 132px;
      height: 163.368px;
    }
  }

  .info-head {
    margin-top: 22px;
    margin-bottom: 24px;

    h3 {
      margin: 0;
      padding: 0;
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    p {
      color: #000;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .info-body {
    span {
      color: #b4b4b4;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      display: block;
      margin-bottom: 16px;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-bottom: 16px;

      li {
        display: inline-block;
        padding: 8px;
        border-radius: 8px;
        background: #fff;
        margin-right: 8px;
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 8px;
        text-transform: capitalize;
      }
    }

    ol {
      list-style: none;
      display: flex;

      li {
        margin-right: 8px;
        display: flex;
        align-items: center;
        img {
        }
      }
    }
  }
}
