<div class="campaign-configuration-info">
  <div class="image-wrapper">
    <img alt="" src="app-assets/images/target.png">
  </div>
  <div class="info-head">
    <h3>
      {{data?.name}}
    </h3>
    <p>
      {{data?.description}}
    </p>
  </div>
  <div class="info-body">
    <span>
Good For
    </span>
    <ul>
      <li *ngFor="let item of data?.good_for">
        {{item}}
      </li>
    </ul>
  </div>
  <div class="info-body">
    <span>
     Supported Platform
    </span>
    <ol>
      <li *ngFor="let item of data?.platforms">
        <img [src]="item?.logo" >
      </li>
    </ol>
  </div>
</div>
