.dashboard-settings {
  ::ng-deep &__tabs {
    .p-tabmenu-nav {
      background: transparent !important;
      border: unset !important;
    }

    .p-tabmenuitem .p-menuitem-link-active {
      background: var(--convertedin-gray-100) !important;
      border-bottom: unset !important;
    }

    .p-menuitem-link {
      border-radius: 8px !important;
      padding: 1rem 0.5rem !important;
      border-color: transparent !important;
      margin: unset !important;
      background-color: transparent !important;
    }

    .p-tabmenu-nav {
      border-bottom: unset !important;
      gap: 24px;
    }
  }

  &__tab {
    color: var(--convertedin-gray-700);
    font-size: 14px;
    font-weight: 700;
    line-height: 159.5%;
  }
}

section {
  max-height: calc(100vh - (59px + 64px));
  overflow-y: scroll;
}
