::ng-deep .flyerz__spinner {
  width: 50px !important;
  height: 50px !important;

  .p-progress-spinner-circle {
    animation: p-progress-spinner-dash 1.5s ease-in-out infinite,
      flyerz-spinner-rotate 6s ease-in-out infinite !important;
  }
}
