.icon {
  background-color: #e6ecfd33;
  & &:nth-child(3) {
    background-color: red !important;
  }
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  svg * {
    stroke: #0044dd;
  }
}
.shape-container {
  z-index: 1;
  .shape {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -66.2%,
      #edf2ff 100%
    );
  }
}
.icon-container {
  &:nth-child(2) {
    .icon {
      background: #e6ecfd80;
    }
  }
  &:nth-child(3) {
    .icon {
      background: #e6ecfd;
    }
  }
}
