<h4 class="header__title text-xl">{{ 'referral.howItWorks' | translate }}</h4>
<section class="mt-3 relative">
  <div class="flex gap-2 align-items-center icon-container">
    <div class="icon">
      <svg-icon name="ticket"></svg-icon>
    </div>
    <p>{{ 'referral.step1' | translate }}</p>
  </div>

  <div class="flex gap-2 align-items-center mt-5 icon-container">
    <div class="icon">
      <svg-icon name="invite-user"></svg-icon>
    </div>
    <p>{{ 'referral.step2' | translate }}</p>
  </div>
  <div class="flex gap-2 align-items-center mt-5 icon-container">
    <div class="icon">
      <svg-icon name="currency-dollar"></svg-icon>
    </div>
    <p *ngIf="userData$ | async as user">
      {{ 'referral.step3' | translate : {
        currency: user.currency.symbol,
        value: user.senderFreeCreditValue
      } }}
    </p>
  </div>
  <div class="absolute top-0 bottom-0 shape-container">
    <div class="w-4rem h-full">
      <span class="w-1rem h-full block mx-auto shape"></span>
    </div>
  </div>
</section>
