<section id="planDetails">
    <h1>Pricing Plan Details</h1>
    <h3>For up to $6,000 Ad Spend / Month</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 px-5 mx-auto gap-10 w-11/12 md:w-8/12 mt-14">
        <div class="plan" *ngFor="let plan of plans">
            <div class="flex items-center gap-3">
                <p>{{plan.name}}</p>
                <span *ngIf="plan.name === 'Growth'">Popular</span>
            </div>
            <h2>${{plan.price}}</h2>
            <h4>{{plan.description}}</h4>
            <a target="_blank" class="get-started" href="https://app.converted.in/register">Get Started</a>
        </div>
    
    </div>
    <convertedin-pricing-table></convertedin-pricing-table>
    
    <a routerLink='/pricing' fragment="plansSection"  class="w-11/12 md:w-3/12 mx-auto my-24">Back to Pricing</a>
</section>
