<!-- Header -->
<convertedin-create-ad-header
  [title]="'create-ad.platform.title' | translate"
  [subtitle]="'create-ad.platform.subtitle' | translate"
/>

<!-- Spinner -->
<convertedin-spinner *ngIf="isLoading" />

<ng-container *ngIf="channels$ | async as channels">
  <!-- Active page section -->
  <div class="create-ad__current-page-container" *ngIf="selectedChannel">
    <div class="create-ad__current-page p-3 flex flex-column gap-2 w-full">
      <!-- Title -->
      <p>{{ 'dashboard.settings.accounts.connected-title' | translate }}</p>

      <div
        class="create-ad__current-page-data flex align-items-center justify-content-between"
      >
        <!-- Page data -->
        <div class="gap-3 flex align-items-center">
          <img
            [src]="selectedChannel.connectedAccount?.page?.image"
            [alt]="selectedChannel.connectedAccount?.page?.name"
          />

          <div class="flex flex-column gap-1">
            <p>{{ selectedChannel.connectedAccount?.page?.name }}</p>
            <label>{{
              selectedChannel.connectedAccount?.category?.name
            }}</label>
          </div>
        </div>

        <!-- Change page button -->
        <a routerLink="/my-dashboard/settings/accounts" pButton>
          {{ 'dashboard.settings.accounts.connected-change-btn' | translate }}
        </a>
      </div>
    </div>
  </div>

  <!-- Channels -->
  <div
    class="create-ad__social-container grid w-12 lg:w-6"
  >
    <ng-container *ngFor="let card of channels.data">
      <div class="col-12 lg:col-4">
        <div
        *ngIf="card.isActive === 1"
        class="create-ad__social-card flex flex-column gap-4 relative"
        (click)="selectPlatform(card)"
        [ngClass]="{
          'create-ad__selected': selectedChannel?.id === card.id,
          'create-ad__disabled': isComingSoon(card.type.id)
        }"
      >
        <p
          class="create-ad__soon absolute {{ dir }}"
          *ngIf="isComingSoon(card.type.id)"
        >
          {{ 'create-ad.soon' | translate }}
        </p>

        <!-- Social media logo -->
        <figure class="flex justify-content-center align-items-end flex-grow-1">
          <img
            [src]="getSocialMediaImg(card.type.id)"
            [alt]="card.name"
            class="max-w-full"
          />
          <!-- Instgram image if mode is facebook & instagram -->
          <img
            *ngIf="card.type.id === channelType.FACEBOOK_INSTAGRAM"
            src="assets/icons/common/channels/Instagram.svg"
            [alt]="card.name"
            class="max-w-full"
          />
        </figure>

        <div class="flex flex-column gap-1 flex-grow-1">
          <!-- Social media name -->
          <p class="text-center">{{ card.name }}</p>

          <!-- Connection status -->
          <p
            class="create-ad__accounts-status text-center"
            *ngIf="
              card.type.id === channelType.FACEBOOK_INSTAGRAM ||
              card.type.id === channelType.FACEBOOK ||
              card.type.id === channelType.INSTAGRAM
            "
          >
            <span
              class="
            {{
                card.isConnected && card?.connectedAccount?.isTokenValid
                  ? 'create-ad__accounts-connected'
                  : 'create-ad__accounts-notconnected'
              }}
            "
            >
            </span>
            <span>
              {{
                (card.isConnected && card?.connectedAccount?.isTokenValid
                  ? 'common.connected-status'
                  : 'common.not-connected-status'
                ) | translate
              }}
            </span>
          </p>
        </div>
      </div>
      </div>
    </ng-container>
  </div>
</ng-container>
