<!-- Inreview banner -->
<div
  class="ad-details__inreview-banner flex gap-2 align-items-center mt-4"
  *ngIf="bannerMode === 'pending'"
>
  <img src="assets/icons/dashboard/ad-details/speaker.svg" alt="banner-icon" />

  <p class="flex-grow-1 text-center">
    {{ 'dashboard.ad-details.in-review-banner' | translate }}
  </p>
</div>

<!-- Learning banner -->
<div
  class="ad-details__inlearning-banner flex gap-1 flex-column align-items-center mt-4"
  *ngIf="bannerMode === 'learn-success'"
>
  <p class="text-center">
    {{ 'dashboard.ad-details.in-learning-banner.title' | translate }}
  </p>

  <span class="text-center">
    {{ 'dashboard.ad-details.in-learning-banner.subtitle' | translate }}
  </span>
</div>

<!-- Rejection banner -->
<div
  class="ad-details__rejection-banner flex justify-content-between align-items-center mt-4"
  *ngIf="bannerMode === 'reject'"
>
  <p class="text-center">
    {{ 'dashboard.ad-details.reject-banner-title' | translate }}:
    {{ rejection.title }}
  </p>

  <button (click)="showRejection.emit()" pButton class="p-button-danger">
    {{ 'dashboard.ad-details.reject-banner-btn' | translate }}
  </button>
</div>

<!-- Learning fail banner -->
<div
  class="ad-details__learnfail-banner flex gap-1 flex-column align-items-center mt-4"
  *ngIf="bannerMode === 'learn-fail'"
>
  <p class="text-center">
    {{ 'dashboard.ad-details.learning-fail-banner.title' | translate }}
  </p>

  <span class="text-center">
    {{ 'dashboard.ad-details.learning-fail-banner.subtitle' | translate }}
  </span>
</div>
