<ng-container [formGroup]="_form">
      <div class="warning-banner mt-2" *ngIf="_form.get('body').hasError('messageSuitability')">
        <img src="/app-assets/images/flow-builder/warning-icon.svg" alt="warning">
        Your text message does not adhere to our review policies. please try again with a more concise text that solely focuses on advertising
      </div>

  <label class="flow-sidenav__label">
    {{ 'automation.step-name' | translate }}
  </label>
  <!-- Step name -->
  <input
    pInputText
    placeholder="{{ 'automation.step-name-placeholder' | translate }}"
    class="flow-sidenav__input"
    formControlName="name"
    [ngClass]="{
      'ng-dirty ng-invalid':
        _form.get('name').touched && !_form.get('name').valid
    }"
  />

  <convertedin-control-errors [control]="_form.get('name')" class="mt-2" />

  <!-- Message content input -->
  <ng-container *ngIf="_parameters$ | async as data">
    <label class="flow-sidenav__label mt-4">
      {{ 'automation.sms-content' | translate }}
    </label>

    <convertedin-message-content
      [hasError]="_form.get('body').touched && !_form.get('body').valid"
      formControlName="body"
      [messageBindings]="data?.data"
    />
  </ng-container>

  <!-- Loading spinner -->
  <convertedin-spinner
    class="flex justify-content-center mt-5"
    *ngIf="_showSpinner"
  />
</ng-container>
