button {
  margin-bottom: 1.68rem;
}

::ng-deep .auth {
  padding-inline-start: 4.4375rem;
  padding-inline-end: 16px;
  padding-top: 8rem;

  &__label {
    color: var(--convertedin-gray-500);
    font-size: 14px;
    font-weight: 400;
  }

  &__submit-btn {
    width: 12.5rem !important;
    background-color: var(--flyerz-primary-color) !important;
    border-radius: 8px !important;
    justify-content: center;
    padding: 1rem !important;
  }

  &__phone {
    background: var(--convertedin-gray-50);
    .convertedin-phone__input,
    .convertedin__country-dropdown {
      background-color: transparent !important;
    }
  }
}
