<div class="flex flex-column gap-3">
  <!-- Ad data -->
  <div class="dashboard-wallet__popup-container flex gap-3 align-items-center">
    <img [src]="transaction.ad?.image" alt="ad-post-image" />

    <h3>
      {{ 'dashboard.wallet.payment-details.ad-number' | translate }}
      {{ transaction.ad?.id }}
    </h3>
  </div>

  <!-- Ad budget -->
  <div class="dashboard-wallet__popup-container flex justify-content-between">
    <div class="flex gap-2">
      <img src="assets/icons/dashboard/common/coin.svg" alt="coin-icon" />
      <p>{{ 'dashboard.wallet.payment-details.total-budget' | translate }}</p>
    </div>

    <p class="dashboard-wallet__popup-value">
      {{ transaction.ad?.budget }} {{ transaction.currency.symbol }}
    </p>
  </div>

  <!-- Ad duration -->
  <div class="dashboard-wallet__popup-container flex justify-content-between">
    <div class="flex gap-2">
      <img src="assets/icons/dashboard/common/timer.svg" alt="coin-icon" />
      <p>{{ 'dashboard.wallet.payment-details.period' | translate }}</p>
    </div>

    <p class="dashboard-wallet__popup-value">
      {{ transaction.ad?.days }} {{ 'common.days' | translate }}
    </p>
  </div>
</div>

<div class="flex gap-4 mt-4">
  <!-- Show ad details btn -->
  <a
    pButton
    (click)="closePopup()"
    class="w-6 justify-content-center dashboard-wallet__popup-primary py-3"
    routerLink="/my-dashboard/ad-details/{{ transaction.ad?.id }}"
  >
    {{ 'dashboard.wallet.payment-details.show-ad' | translate }}
  </a>

  <!-- Cancel btn -->
  <button
    pButton
    (click)="closePopup()"
    class="w-6 justify-content-center p-button-secondary p-button-outlined dashboard-wallet__popup-secondary py-3"
  >
    {{ 'common.cancel' | translate }}
  </button>
</div>
