hr{
    border-top: 1px solid #D0D5DD;
}

.benefits-container{
    ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: clamp(16px, 3vw, 24px);

    li{
        color: #101828;
        font-size: clamp(16px, 2vw, 18px);
        font-weight: 500;
        }
    }
}