header{
    position: fixed;
    top: 40px;
    padding: 10px 30px;
    margin-inline: auto;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 20px 0px;
    img{
        width: 166px;
    }
    nav{
        margin-left: auto;
        @media((max-width: 768px)){
            margin-right: auto;
            margin-left: unset;
            gap: 34px;
            margin-top: 30px;
           }
        .inner-nav{
        &__links{
            display: flex;
            align-items: center;
            gap: 24px;
            margin-right: 24px;
            @media((max-width: 768px)){
                gap: 34px;
               }
            a{
                color: #636363;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 114.5%;

                &:hover{
                    color: #0059ff;
                }
            }

            .active-link{
                color: #0608b8;
            }
            .divider{
                background-color: rgb(217, 217, 217);
                opacity: 1;
                flex: none;
                height: 28px;
                overflow: visible;
                position: relative;
                width: 1px;
            }
        }
    
        }
    
    
        .solutions-link{
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 114.5%; /* 16.03px */
            border-radius: 100px;
            background: var(--converedin-blue-500);
            padding: 12px 21px;
        }
    }

    button{
        position: absolute;
        top: 22px;
        right: 38px;
    }
}
