<div class="flex flex-column gap-2">
  <!-- Title -->
  <h4>{{ 'dashboard.ad-details.insights.title' | translate }}</h4>

  <!-- Cards -->
  <div class="flex gap-3">
    <convertedin-insights-card
      *ngFor="let card of getCards()"
      class="ad-details__insight"
      title="{{ card.label | translate }}"
      [value]="(card.value | number) || 0"
      [showCurrency]="card.currency!"
    />
  </div>
</div>

<div class="flex flex-column gap-2">
  <!-- Subtitle -->
  <h4>{{ 'dashboard.ad-details.insights.subtitle' | translate }}</h4>

  <!-- Insights -->
  <div class="flex flex-column ad-details__data-container">
    <div
      class="ad-details__data-item flex justify-content-between align-items-center"
      *ngFor="let item of getInsights()"
    >
      <label>{{ item.label | translate }}</label>

      <p>{{ (item.value | number) || 0 }}</p>
    </div>
  </div>
</div>
