footer{
    background: rgba(204, 218, 248, 0.20);

    p{
        color: #475569;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }

    h3{
        color: rgba(22, 33, 91, 0.80);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 18px;
    }

    ul{
        gap: 20px;
    }

    li{
        color: rgba(22, 33, 91, 0.80);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        padding-block: 10px;
    }

    .footer-links {
        padding: 16px 32px;
        border-radius: 100px;
        background: rgba(0, 68, 221, 0.05);

        span{
            color: rgba(22, 33, 91, 0.80);
            font-size: 14px;
            font-weight: 500;
        }
        
        a{
            color: var(--converedin-blue-500);
            font-size: 14px;
            font-weight: 500;
        }
    }
}