.campaign-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  ::ng-deep {
    .p-card .p-card-body {
      padding: 0.25rem !important;
    }
  }

  .steps-navigation {
    margin-bottom: 2rem;

    p-steps {
      display: block;

      .ui-steps-item {
        width: 50%;
      }
    }
  }

  .check-icon {
    border-radius: 100px;
    background: var(--Green-500, #16B364);
    box-shadow: 0px 0px 0px 4px rgba(22, 179, 100, 0.40);
  }

  .icon-warning {
    border-radius: 50%;
    border: 1px solid var(--Warning-500, #F79009);
    box-shadow: 0px 0px 0px 3px rgba(247, 144, 9, 0.30);
    margin-right: 10px;
  }

  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

    .left-section,
    .right-section {
      .p-card {
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        i {
          font-size: 1.8rem;
          color: #333;
        }

        button {
          font-size: 0.9rem;
          padding: 0.3rem 0.6rem;
        }
      }

      .card-content {
        font-size: 0.95rem;
        line-height: 1.5;
      }

      .budget-input {
        margin-top: 1rem;

        label {
          font-size: 0.85rem;
          margin-bottom: 0.5rem;
          display: block;
        }

        input {
          width: 100%;
          padding: 0.75rem;
          border-radius: 5px;
          border: 1px solid #ccc;
          border-radius: 8px;
          border: 1px solid var(--Gray-300, #D0D5DD);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          color: var(--Gray-500, #667085);

          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          // background: url(../../../../assets/icons/search-md.svg) no-repeat scroll 10px 12px;
          display: flex;
          padding: 8px 30px 8px 40px;
          align-items: center;
        }
      }
    }

    .right-section {
      .ad-preview {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ad-image {
          max-width: 300px;
          border-radius: 10px;
          margin-bottom: 1rem;
        }

        p {
          font-size: 0.9rem;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      grid-template-columns: 1fr;
    }
  }
}






.p-card {
  width: 100%;
  // max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Gray-900, #101828);

    /* Text lg/Semibold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */

    img,
    i {
      border-radius: 9.333px;
      border: 1.167px solid var(--Border-200, #EAECF0);
      padding: 10px;
    }

  }
}

.color-warning {
  color: var(--Warning-500, #F79009);
  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;

  i {
    padding-right: 10px;
  }
}

.icon-success {
  color: green;
  font-size: 1.5rem;
}

.icon-warning {
  color: orange;
  font-size: 1.5rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .label {
    color: var(--Gray-400, #98A2B3);
    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .value {
    color: var(--Gray-800, #1D2939);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    padding-top: 5px;
    /* 150% */
  }



  button {
    margin-left: 1rem;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--Base-White, #FFF);

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Gray-700, #344054);

    /* Text sm/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 14px;

    /* 142.857% */
  }
}

.field-content {
  display: flex;
  align-items: center;


  .edit-input {
    margin-right: 1rem;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--Base-White, #FFF);
    color: var(--Gray-500, #667085);

    /* Text md/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100vw;
    /* 150% */

  }

  input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Gray-500, #667085);

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  button {
    margin-left: 1rem;
  }
}

.card {
  border-radius: 16px;
  border: 1px solid var(--Greyscale-300, #E2E8F0);
  background: var(--Others-White, #FFF);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
}

.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;


  .active {
    color: var(--Primary-500, #04D);
    /* Text lg/Semibold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}

.step {
  display: flex;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 30px;
  // height: 30px;
  border-radius: 50%;
  font-weight: bold;

  margin-right: 0.5rem;

  border-radius: 61.25px;
  border: 0.613px solid var(--Gray-400, #98A2B3);
  color: var(--Gray-400, #98A2B3);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14.7px;
  width: 24.5px;
  height: 24.5px;
  padding: 4.9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.9px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: #777;
}

.active .circle {
  border-radius: 61.25px;
  border: 0.613px solid var(--Primary-500, #04D);
  background: #FFF;
  color: var(--Primary-500, #04D);

}

.active .label {
  color: var(--Primary-500, #04D);

}

.divider {
  margin: 0 0.5rem;
}

.p-divider {
  margin: 0;
}


.ad-creative-card {
  width: 100%;

  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__card {
    ::ng-deep {
      .p-card {
        padding: 0 !important;
      }
    }

  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 0;

    .post-header {
      display: flex;
      align-items: stretch;
      justify-content: center;

      .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0.5rem;
        border-radius: 65.588px;
        border: 1px solid #EDEDED;
        background: var(--Hover-Menu, #F2F2F2);
      }


      .post-info {
        .post-title {
          font-weight: bold;
          font-size: 1.1rem;
          color: var(--Primary-Text, #050505);
          font-family: Roboto;
          font-size: 9.182px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .post-subtitle,
        i {
          color: gray;
          font-size: 0.9rem;
          display: flex;
          color: var(--Secondary-Text, #65676B);
          font-family: Roboto;
          font-size: 7.871px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

        }

        .post-subtitle {
          padding-top: 5px;
        }

        i {
          margin-left: 5px;
        }

        h5 {
          margin-top: 0;
        }
      }

    }

    .dots-menu {
      // font-size: 1.2rem;
      cursor: pointer;
      fill: var(--Secondary-Text, #65676B);
      font-size: 9.182px;

    }
  }

  .post-body {
    padding: 0 1rem;


    p {
      font-size: 1rem;
      color: var(--Primary-Text, #050505);
      font-family: Roboto;
      font-size: 9.182px;
      font-style: normal;
      font-weight: 400;
      line-height: 133.33%;
      /* 12.243px */
    }

    .post-image-wrapper {
      display: flex;
      justify-content: center;

      .post-image {
        width: 100%;
        max-width: 350px;
        border-radius: 10px;
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: url(../../../../../../../assets/images/AdCreative.png) lightgray 50% / cover no-repeat;
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    background: var(--Color-Comment-Background, #F0F2F5);
    padding: 1rem;
    border-top: 1px solid #CED0D4;
    border-bottom: 1px solid #CED0D4;

    .footer-info {
      h3 {
        margin: 3px 0;
        color: var(--Primary-Text, #050505);
        font-family: Roboto;
        font-size: 14.549px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      p {
        margin: 0;

        color: var(--Secondary-Text, #65676B);
        font-family: Roboto;
        font-size: 10.912px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .explore-button {
      border-radius: 4.645px;
      background: var(--Background-Action, #E4E6EB);
      color: var(--Primary-Text, #050505);
      font-family: Roboto;
      font-size: 10.839px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border: none;
    }
  }

  .social-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;

    button {
      width: 100px;
      text-align: center;
      color: var(--Secondary-Text, #65676B);
      font-family: Roboto;
      font-size: 9.182px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

    }
  }
}

.camaign-details {
  &__box {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);

  }

  & ._campaign_header {

    h4 {
      line-height: 0.3;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      margin-top: .5rem;
      /* Gray/900 */
      color: #101828;
    }

    .grid {
      padding: 5px 20px;
      justify-content: center;
      align-items: center;
    }
  }

  & ._breadcrumb {
    & ._breadcrumb_item {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 10.753px;
      line-height: 15px;
      /* identical to box height, or 143% */
      color: #667085;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #667085;
      }

      &:last-child {
        a {
          color: #0044dd;
        }
      }

      & ._breadcrumb_separator {
        padding: 0 3px;
        display: inline-flex;
      }
    }

    ::ng-deep {
      .p-menuitem-text {
        font-size: 14px;
      }

      .p-element:last-child {
        .p-menuitem-text {
          color: #0044dd;
        }
      }
    }
  }
}

.lunch-button {
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  border-radius: 8px;
  background: var(--Green-600, #099250);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  justify-content: center;
  align-items: center;
  color: var(--Base-White, #FFF);
font-size: 16px;
font-style: normal;

  &:hover {
    background: var(--Green-700, #099250);
    /* Darker shade on hover */
  }

  &:focus,
  &:active {
    background: var(--Green-600, #099250);
  }
}
