<div class="campaign-page">
  <!-- Step Navigation -->

  <div class="camaign-details">
    <div class="_campaign_header camaign-details__box">
      <div class="grid">
        <div class="col-12 lg:col-6">
          <div class="_breadcrumb flex flex-wrap pt-4">
            <div class="_breadcrumb_item flex-column" *ngFor="let item of items; let index=index;">
              <a [routerLink]="item.routerLink">
                {{item.label}}
              </a>
              <span *ngIf="index !== items.length - 1" class="_breadcrumb_separator"> / </span>
            </div>

          </div>
          <h4>
            Men’s Fashions and Styles
          </h4>
        </div>
        <div class="col-12 lg:col-6">
          <div class="flex justify-content-end flex-wrap">
            <button class="p-button ml-1 lunch-button">
              Launch Campaign
            </button>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="content">
    <!-- Left Section (Campaign Details, Budget) -->
    <div class="left-section">
      <!-- Campaign Details Card -->


      <div class="stepper-container card">
        <div class="step" [ngClass]="{'active': activeStep === 1}">
          <span class="circle">1</span>
          <span class="label">Campaign Details</span>
        </div>
        <p-divider layout="horizontal" class="divider"></p-divider>
        <div class="step" [ngClass]="{'active': activeStep === 2}">
          <span class="circle">2</span>
          <span class="label">Targeting</span>
        </div>
      </div>





      <div class="p-card card">
        <div class="p-card-body">
          <div class="campaign-section">
            <div class="header">
              <h3><img src="assets/icons/notification-text.svg" alt="notification-text">Campaign Details</h3>
              <!-- <i class="pi pi-check-circle icon-success"></i> -->
              <span><img class="check-icon" src="assets/icons/check.svg" alt="check"></span>
            </div>
            <div class="info-row">
              <div>
                <span class="label">Campaign Name</span>
                <h5 class="value">{{ campaignName }}</h5>
              </div>
              <button pButton label="Edit"></button>
            </div>
            <div class="info-row mt-5">
              <div>
                <span class="label">Objective</span>
                <h5 class="value">{{ objective }}</h5>
              </div>
              <div>
                <span class="label">Conversion Event</span>
                <h5 class="value">{{ conversionEvent }}</h5>
              </div>
              <div>
                <span class="label">Product Category</span>
                <h5 class="value">{{ productCategory }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>





      <!-- Budget Card -->
      <div class="budget-section  p-card mt-1 card">
        <div class="p-card-body">
          <div class="header">
            <h3> <i class="pi pi-dollar"></i> Budget</h3>
            <span class="color-warning"><img class="icon-warning" src="assets/icons/check.svg" alt="check">Required
              Input</span>
          </div>
          <div class="info-row">
            <div>
              <span class="label">Campaign Lifetime</span>
              <h5 class="value">{{ lifetime }}</h5>
            </div>
            <div>
              <span class="label">Campaign Budget</span>
              <h5 class="value">Daily - {{ dailyBudget }}</h5>
            </div>
            <button pButton label="Edit"></button>
          </div>
          <div class="info-row mt-3">
            <label class="label">Budget</label>
          </div>
          <div class="field-content mt-1">
            <input pInputText [(ngModel)]="budget" class="w-full" placeholder="0.00" />
          </div>
        </div>
      </div>
    </div>


    <div class="ad-creative-card right-section card">
      <!-- Header Section -->
      <div class="header info-row pt-0">
        <h3><img src="assets/icons/monitor-03.svg" alt="notification-text">Ad Creative</h3>
        <button pButton label="Edit"></button>
      </div>

      <!-- Content Section (Card) -->
      <div class="ad-creative-card__card">
        <div class=" p-card card">
          <div class="header">
            <div class="post-header">
              <img src="assets/images/image-logo.png" alt="Logo" class="logo" />
              <div class="post-info">
                <span class="post-title">Mega Store</span>
                <span class="post-subtitle">Sponsored · <i class="pi pi-globe"></i></span>
              </div>
            </div>
            <i class="pi pi-ellipsis-h dots-menu"></i>

          </div>

          <div class="post-body">
            <p>
              With Figma, everyone works towards a shared goal. This has enabled our product teams
              to ship new products faster and feel more confident in their decisions.
            </p>

            <div class="post-image-wrapper">
              <img src="assets/images/AdCreative.png" alt="Smart Watch" class="post-image" />
            </div>
          </div>


          <div class="footer-content">
            <div class="footer-info">
              <p>Megastore.com</p>
              <h3>Get a new styles for men's trendy 2025</h3>
              <p>A 2025 new fashion wears for men's</p>
            </div>
            <button pButton label="Explore More" class="p-button-rounded explore-button"></button>
          </div>

          <div class="social-buttons">
            <button pButton label="Like" icon="pi pi-thumbs-up" class="p-button-text"></button>
            <button pButton label="Comment" icon="pi pi-comment" class="p-button-text"></button>
            <button pButton label="Share" icon="pi pi-share-alt" class="p-button-text"></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
