<!-- List of routes -->
<ul class="flex flex-column gap-4">
  <li
    *ngFor="let route of routes"
    class="dashboard-sidenav__route"
    routerLinkActive="dashboard-sidenav__active"
    [ngClass]="{
      'dashboard-sidenav__active': isExact && route.route === '/my-dashboard'
    }"
  >
    <!-- Router link -->
    <a [routerLink]="route.route" *ngIf="route.route">
      <figure class="flex gap-3 align-items-center">
        <!-- Icon -->
        <img [src]="route.img" [alt]="route.title | translate" />
        <!-- Route name -->
        <figcaption>{{ route.title | translate }}</figcaption>
      </figure>
    </a>

    <!-- Action link -->
    <a (click)="openChat()" *ngIf="!route.route">
      <figure class="flex gap-3 align-items-center">
        <!-- Icon -->
        <img [src]="route.img" [alt]="route.title | translate" />
        <!-- Route name -->
        <figcaption>{{ route.title | translate }}</figcaption>
      </figure>
    </a>
  </li>
</ul>

<!-- Logout button -->
<button
  pButton
  (click)="logout()"
  class="p-button-danger p-button-text dashboard-sidenav__logout flex gap-2 align-items-center"
>
  <img src="assets/icons/dashboard/common/logout.svg" alt="logout-icon" />

  <span>{{ 'dashboard.sidebar.logout' | translate }}</span>
</button>
