.dashboard-sidenav {
  &__route {
    padding: 6px 12px;
    filter: invert(69%) sepia(18%) saturate(377%) hue-rotate(182deg)
      brightness(87%) contrast(87%);

    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
      figcaption {
        color: black;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
      }
    }
  }

  &__active {
    figcaption {
      color: var(--flyerz-primary-color) !important;
    }

    filter: brightness(0) saturate(100%) brightness(70%) contrast(120%)
      saturate(150%) !important;
  }

  ::ng-deep &__logout {
    padding: 1rem !important;

    span {
      color: #cf1644 !important;
      font-size: 14px !important;
      font-weight: 700 !important;
      line-height: 159.5%;
    }
  }
}

ul {
  list-style: none;
}
