.reject {
  &__container {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #edf1f7;
  }

  ::ng-deep &__btn {
    border-radius: 8px !important;
    background: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
  }
}

h1 {
  color: #192038;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

h2 {
  color: #192038;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #465373;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
