.dashboard-container {
  display: flex;
  flex-direction: row;
}

.dashboard__sidenav {
  width: 20%;
}

.dashboard__main {
  width: 80%;
}

:host-context([dir='rtl']) .dashboard-container {
  flex-direction: row-reverse;
}
