<div
  class="flex flex-column md:flex-row justify-content-center md:align-items-center align-items-baseline gap-2"
>
  <button
    class="deal-btn btn p-button"
    routerLink="/dashboard/home/topup-account"
  >
    {{ 'offerBanner.title' | translate }}
  </button>
  <p class="text-sm line-height-3">
    {{ 'offerBanner.description' | translate: { currency: currency$ | async } }}
  </p>
</div>
<a
  class="text-sm text-white no-underline flex align-items-center white-space-nowrap"
  routerLink="/dashboard/home/topup-account"
  >{{ 'offerBanner.buttonText' | translate }}
  <span class="pi pi-arrow-right pi-ar-rotate mx-1"></span
></a>
