<!-- Header -->
<convertedin-create-ad-header [title]="title" [subtitle]="subtitle" />

<ng-container *ngIf="templateDetails$ | async as details">
  <div class="md:w-7 w-12 studio-payment__container flex flex-column">
    <!-- Images preview -->
    <div class="studio-payment__preview-container flex align-items-center">
      <figure class="flex justify-content-center align-items-center">
        <img class="max-w-full" [src]="previewImage" alt="user-image" />
      </figure>

      <i class="pi-angle-double-{{ dir === 'rtl' ? 'left' : 'right' }} pi"></i>

      <figure class="flex justify-content-center align-items-center">
        <img class="max-w-full" [src]="template.image" [alt]="template.name" />
      </figure>
    </div>

    <!-- Free trials -->
    <div
      class="studio-payment__free-trials p-3 flex justify-content-between align-items-center"
      *ngIf="details.data.restOfFreeTrial > 0"
    >
      <div class="flex align-items-center gap-2">
        <ng-lottie [options]="options" width="50px"></ng-lottie>

        <p>
          {{ details.data.availableFreeTrails }}
          {{ 'common.studio-payment.free-' + mode | translate }}
        </p>
      </div>

      <label>
        {{ 'common.studio-payment.remaining' | translate }}
        {{ details.data.restOfFreeTrial }}
        {{ 'common.studio-payment.free-' + mode | translate }}
      </label>
    </div>

    <!-- Payment details -->
    <div class="flex flex-column gap-3">
      <h3>{{ 'common.studio-payment.payment-details' | translate }}</h3>

      <div class="studio-payment__payment-details">
        <div class="flex justify-content-between align-items-center">
          <p>{{ 'common.studio-payment.cost-' + mode | translate }}</p>

          <p>
            {{ details.data.cost.amount }}
            {{ details.data.cost.currency.symbol }}
          </p>
        </div>

        <div class="flex justify-content-between align-items-center">
          <label>{{ 'common.studio-payment.total' | translate }}</label>

          <p>
            {{
              details.data.restOfFreeTrial > 0 ? 0 : details.data.cost.amount
            }}
            {{ details.data.cost.currency.symbol }}
          </p>
        </div>
      </div>
    </div>

    <!-- Wallet value -->
    <convertedin-wallet-value-banner
      (walletValue)="walletValue = $event"
      *ngIf="details.data.restOfFreeTrial === 0"
      class="w-full"
      [compareValue]="details.data.cost.amount"
    />
  </div>
</ng-container>

<!-- Loader -->
<convertedin-spinner *ngIf="isLoading" />
