<section class="dialog-container">
  <div class="img-container w-full h-8rem">
    <img src="assets/images/offer-banner.png" class="w-full h-full" alt="" />
  </div>
  <article class="px-6 mt-4 text-center">
    <h5 class="header__title font-medium text-xl line-height-2">
      You have earned <strong>“500 EGP”</strong> form a referral friend 🎉
    </h5>
    <p class="header__desc text-base mt-3 line-height-1">Your friend “Mostafa Raslan” has been used your referral code and charged his account.</p>
  </article>
  <div class="flex justify-content-center align-items-center gap-3 mt-4">
    <button class="p-button btn primary-btn" (click)="getGift()">Get My Gift</button>
    <button class="p-button btn primary-outline-btn" (click)="close()">Close</button>
  </div>
</section>
