<section
  class="container flex justify-content-center align-items-center p-2 md:p-5"
>
  <div class="h-fit header mx-auto w-full md:w-8 lg:w-6">
    <img
      class="mx-auto mb-3 block w-6rem h-6rem"
      src="assets/icons/close-circle.svg"
      alt="icon"
    />
    <h1 class="text-center header__title">
      {{ 'topUp.paymentFailed' | translate }}
    </h1>
    <p class="text-center header__desc">{{ 'topUp.tryAgain' | translate }}</p>
    <div class="nav flex gap-2 justify-content-center mt-3">
      <button
        routerLink="/dashboard/home"
        class="p-button btn primary-outline-btn"
      >
        {{ 'topUp.backToHome' | translate }}
      </button>
      <button
        routerLink="/dashboard/home/topup-account"
        class="p-button btn primary-btn"
      >
        {{ 'topUp.anotherTopup' | translate }}
      </button>
    </div>
  </div>
</section>
