::ng-deep {
  .dashboard-wallet__header {
    margin-top: 20px;

    h1 {
      color: var(--convertedin-gray-900);
      font-size: 22px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -0.2px;
    }
  }

  .dashboard-wallet__funds-btn {
    padding: 16px !important;
    border-radius: 8px !important;
    background: var(--flyerz-primary-color) !important;
    border-color: var(--flyerz-primary-color) !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    width: fit-content;
    min-width: 113px;
  }
}
