::ng-deep .flyerz__toast-rtl {
  .p-toast-message-text {
    margin: unset !important;
    margin-inline-start: 1rem !important;
  }

  .p-toast-message {
    border-width: 0 6px 0 0 !important;
  }
}
