<convertedin-stepper
  (activeIndexChange)="onChangeStep($event)"
  headerStyleClass="px-2 md:px-5 py-2 stepper__header"
  class="h-full campaign-stepper"
  nextButtonStyleClass="my-2 mx-3 primary-btn p-button h-auto"
  backButtonStyleClass=" my-2 mx-3 primary-outline-btn h-auto"
  [nexButtonLabel]="nexButtonLabel | translate"
  [backButtonLabel]="'createCampaign.back' | translate"
  [hideBackBtnOnFirstStep]="true"
  #stepper
  *ngIf="campaignState$ | async as campaignState"
>
  <convertedin-step
    [title]="'createCampaign.selectBusinessLabel' | translate"
    [valid]="campaignState.brand"
    [nextBtnTooltipOption]="tooltipOptions"
    [nextBtnTooltip]="tooltipText"
  >
    <ng-template #content>
      <section class="flex gap-4">
        <convertedin-select-business
          (onchangeState)="onChangeCampaignState({ brand: $event })"
          class="flex-grow-1"
        ></convertedin-select-business>
        <ng-container
          *ngIf="!isMobileView"
          [ngTemplateOutlet]="mobileView"
        ></ng-container>
      </section>
    </ng-template>
  </convertedin-step>
  <convertedin-step
    [title]="'createCampaign.branchInfoLabel' | translate"
    [valid]="campaignState.branches"
    [nextBtnTooltipOption]="tooltipOptions"
    [nextBtnTooltip]="tooltipText"
  >
    <!-- campaignState.locations.length > 0 -->
    <ng-template #content>
      <section class="flex gap-4">
        <convertedin-select-business-branch
          (onchangeState)="onChangeCampaignState({ branches: $event })"
          class="flex-grow-1"
        ></convertedin-select-business-branch>
        <ng-container
          *ngIf="!isMobileView"
          [ngTemplateOutlet]="mobileView"
        ></ng-container>
      </section>
    </ng-template>
  </convertedin-step>
  <convertedin-step
    [title]="'createCampaign.targetingLabel' | translate"
    [valid]="campaignState.targeting"
    [nextBtnTooltipOption]="tooltipOptions"
    [nextBtnTooltip]="tooltipText"
  >
    <!-- !!campaignState.lang_code && campaignState.keywords.length > 0 -->
    <ng-template #content>
      <section class="flex gap-4">
        <convertedin-targeting
          (onchangeState)="onChangeCampaignState({ targeting: $event })"
          class="flex-grow-1"
        ></convertedin-targeting>
        <ng-container
          *ngIf="!isMobileView"
          [ngTemplateOutlet]="mobileView"
        ></ng-container>
      </section>
    </ng-template>
  </convertedin-step>
  <convertedin-step
    [title]="'createCampaign.targetingKeywordLabel' | translate"
    [valid]="campaignState.targeting"
    [nextBtnTooltipOption]="tooltipOptions"
    [nextBtnTooltip]="tooltipText"
  >
    <!-- !!campaignState.lang_code && campaignState.keywords.length > 0 -->
    <ng-template #content>
      <section class="flex gap-4">
        <convertedin-targeting-keyword
          
          class="flex-grow-1"
        ></convertedin-targeting-keyword>
        <ng-container
          *ngIf="!isMobileView"
          [ngTemplateOutlet]="mobileView"
        ></ng-container>
      </section>
    </ng-template>
  </convertedin-step>
  <convertedin-step
    [title]="'createCampaign.adCampaignLabel' | translate"
    [valid]="campaignState.adCampaign"
    [nextBtnTooltipOption]="tooltipOptions"
    [nextBtnTooltip]="'createCampaign.nextBtnTooltip' | translate"
  >
    <!-- campaignState.description.length >= MIN_DESCRIPTION_NUM &&
  campaignState.headlines.length >= MIN_HEADLINE_NUM -->
    <ng-template #content>
      <section class="flex gap-4">
        <convertedin-ad-campaign
          (onchangeState)="onChangeCampaignState({ adCampaign: $event })"
          class="flex-grow-1"
        ></convertedin-ad-campaign>
        <convertedin-campaign-view
          *ngIf="!isMobileView"
          [indicatorNum]="indicatorNum"
          [intervalState]="intervalState"
          (changeViewState)="updateViewState($event)"
        ></convertedin-campaign-view>
      </section>
    </ng-template>
  </convertedin-step>
  <convertedin-step
    [title]="'createCampaign.setBudgetLabel' | translate"
    [valid]="campaignState.budget"
    [nextBtnTooltipOption]="tooltipOptions"
    [nextBtnTooltip]="budgetTooltipText"
  >
    <!-- !!campaignState.budget?.monthly_amount_micros -->
    <ng-template #content>
      <section class="flex gap-4">
        <convertedin-campaign-budget
          (onchangeState)="onChangeCampaignState({ budget: $event })"
          class="flex-grow-1"
        ></convertedin-campaign-budget>
        <convertedin-campaign-view
          *ngIf="!isMobileView"
          [indicatorNum]="indicatorNum"
          [intervalState]="intervalState"
          (changeViewState)="updateViewState($event)"
        ></convertedin-campaign-view>
      </section>
    </ng-template>
  </convertedin-step>
  <convertedin-step
    [title]="'createCampaign.reviewAndPublishLabel' | translate"
    [valid]="stepper.activeIndex === lastStepIndex"
  >
    <ng-template #content>
      <section class="flex gap-4">
        <convertedin-preview-and-publish
          class="flex-grow-1"
        ></convertedin-preview-and-publish>
        <convertedin-campaign-view
          *ngIf="!isMobileView"
          [indicatorNum]="indicatorNum"
          [intervalState]="intervalState"
          (changeViewState)="updateViewState($event)"
        ></convertedin-campaign-view>
      </section>
    </ng-template>
  </convertedin-step>
</convertedin-stepper>

<div
  *ngIf="isLoading$ | async"
  class="absolute top-0 left-0 right-0 bottom-0 bg-black-alpha-20 flex align-items-center justify-content-center"
>
  <p-progressSpinner></p-progressSpinner>
</div>

<ng-template #mobileView>
  <div class="border-round-2xl bg-gray-200 h-fit p-4 w-20rem">
    <img
      src="assets/images/campaign/mobile.png"
      class="w-13rem block mx-auto"
      alt=""
    />
  </div>
</ng-template>
