<div class="w-11/12 md:w-9/12 m-auto slider-wrapper">
    <div class="md:w-8/12 mx-auto w-8/12">
        <div class="thumb-container  relative">
            <div [style.left]="thumbPosition"  class="absolute">
                <div class="relative slider-thumb">
                    <div class="absolute">
                        <span>{{stepText}}</span>
                        <p>Ad spend / Month</p>
                    </div>
                </div>
            </div>
        </div>
        <p-slider class="w-10/12 md:w-8/12" [(ngModel)]="value" [step]="STEP" (onChange)="onSliderChange()" />
    </div>
</div>