<header class="mb-4 header">
  <h1 class="header__title">
    {{ 'createCampaign.adCampaign.title' | translate }}
  </h1>
  <p class="header__desc">
    {{ 'createCampaign.adCampaign.subtitle' | translate }}
  </p>
</header>
<hr class="my-4 w-full border-1 border-gray-300" />
<form [formGroup]="formGroup" class="mb-3">
  <!-- Headlines section -->
  <div class="sub-header">
    <div class="mb-3">
      <h2 class="sub-header__title">
        {{ 'createCampaign.adCampaign.headlineTitle' | translate }}
      </h2>
      <p class="sub-header__desc">
        {{ 'createCampaign.adCampaign.headlineSubtitle' | translate }}
      </p>
      <convertedin-control-errors
        [control]="formGroup.controls.headlines"
      ></convertedin-control-errors>
    </div>
    <div class="flex flex-column-reverse md:flex-column gap-3 md:gap-0">
      <div>
        <div
          formArrayName="headlines"
          class="mb-4"
          *ngFor="let control of headlinesArrayControls; let i = index"
        >
          <div class="flex gap-2 form-field mb-0">
            <div class="relative flex-1">
              <span class="input-counter">
                {{ headlineInput.value.length }} /
                {{ MAX_HEADLINES_CHAR }}</span
              >
              <input
                #headlineInput
                class="form-field__input h-full"
                pInputText
                [formControl]="control"
                type="text"
                (keyup.enter)="
                  headlinesArrayControls.length < MAX_HEADLINES_NUM &&
                    addNewInput('headlines')
                "
              />
            </div>
            <button
              type="button"
              *ngIf="i !== 0"
              class="icon-btn"
              (click)="removeControl('headlines', i)"
            >
              <span class="pi pi-trash text-red-400 text-lg"></span>
            </button>
            <!-- Headlines AI generate btn Desktop -->
            <div class="suggestion-btn md:block hidden">
              <convertedin-suggestions-button
                [title]="'suggestionBtn.suggestionHeadlines' | translate"
                [selectBtnLabel]="'suggestionBtn.addHeadlines' | translate"
                *ngIf="i === 0"
                [targetEle]="headlineInput"
                [suggestion$]="suggestionsHeadlines$"
                (selectSuggestions)="selectSuggestions('headlines', $event)"
              ></convertedin-suggestions-button>
            </div>
          </div>
          <convertedin-control-errors
            [showOneOnly]="true"
            [control]="control"
          ></convertedin-control-errors>
        </div>
      </div>
      <div class="flex gap-3">
        <button
          type="button"
          *ngIf="headlinesArrayControls.length < MAX_HEADLINES_NUM"
          class="p-button primary-outline-btn"
          (click)="addNewInput('headlines')"
        >
          <span class="pi pi-plus mx-1"></span>
          {{ 'createCampaign.adCampaign.addHeadlineBtn' | translate }}
        </button>
        <!-- Headlines AI generate btn Mobile -->
        <div class="suggestion-btn block md:hidden">
          <convertedin-suggestions-button
            [title]="'suggestionBtn.suggestionHeadlines' | translate"
            [selectBtnLabel]="'suggestionBtn.addHeadlines' | translate"
            [targetEle]="headlineInput"
            [suggestion$]="suggestionsHeadlines$"
            (selectSuggestions)="selectSuggestions('headlines', $event)"
          ></convertedin-suggestions-button>
        </div>
      </div>
    </div>
  </div>

  <!-- Description section -->
  <div class="mt-3 sub-header">
    <div class="mb-3">
      <h2 class="sub-header__title">
        {{ 'createCampaign.adCampaign.descriptionTitle' | translate }}
      </h2>
      <p class="sub-header__desc">
        {{ 'createCampaign.adCampaign.descriptionSubtitle' | translate }}
      </p>
      <convertedin-control-errors
        [control]="formGroup.controls.description"
      ></convertedin-control-errors>
    </div>
    <div class="flex flex-column-reverse md:flex-column gap-3 md:gap-0">
      <div>
        <div
          formArrayName="description"
          class="mb-4"
          *ngFor="let control of descriptionArrayControls; let i = index"
        >
          <div class="flex gap-2 form-field mb-0">
            <div class="relative flex-1">
              <span class="input-counter">
                {{ descInput.value.length }} / {{ MAX_DESCRIPTION_CHAR }}</span
              >
              <input
                #descInput
                class="h-full form-field__input"
                pInputText
                [formControl]="control"
                type="text"
                (keyup.enter)="
                  descriptionArrayControls.length < MAX_DESCRIPTION_NUM &&
                    addNewInput('description')
                "
              />
            </div>
            <button
              type="button"
              *ngIf="i !== 0"
              class="icon-btn"
              (click)="removeControl('description', i)"
            >
              <span class="pi pi-trash text-red-400 text-lg"></span>
            </button>
            <!-- Description AI generate btn Desktop -->
            <div class="suggestion-btn md:block hidden">
              <convertedin-suggestions-button
                [title]="'suggestionBtn.suggestionDescriptions' | translate"
                [selectBtnLabel]="'suggestionBtn.addDescriptions' | translate"
                *ngIf="i === 0"
                [targetEle]="descInput"
                [suggestion$]="suggestionsDescriptions$"
                (selectSuggestions)="selectSuggestions('description', $event)"
              ></convertedin-suggestions-button>
            </div>
          </div>
          <convertedin-control-errors
            [showOneOnly]="true"
            [control]="control"
          ></convertedin-control-errors>
        </div>
      </div>
      <div class="flex gap-3">
        <button
          type="button"
          *ngIf="descriptionArrayControls.length < MAX_DESCRIPTION_NUM"
          class="p-button primary-outline-btn"
          (click)="addNewInput('description')"
        >
          <span class="pi pi-plus mx-1"></span>
          {{ 'createCampaign.adCampaign.addDescriptionBtn' | translate }}
        </button>
        <!-- Description AI generate btn Mobile -->
        <div class="suggestion-btn block md:hidden">
          <convertedin-suggestions-button
            [title]="'suggestionBtn.suggestionDescriptions' | translate"
            [selectBtnLabel]="'suggestionBtn.addDescriptions' | translate"
            [targetEle]="descInput"
            [suggestion$]="suggestionsDescriptions$"
            (selectSuggestions)="selectSuggestions('description', $event)"
          ></convertedin-suggestions-button>
        </div>
      </div>
    </div>
  </div>
</form>
