<div class="flex flex-column gap-3">
  <figure class="flex justify-content-center align-items-center">
    <img
      src="app-assets/icons/common/alert-circle.svg"
      width="24"
      alt="warning-icon"
    />
  </figure>

  <div class="flex flex-column gap-1">
    <p>
      {{ 'missing-config-title' | translate }}
    </p>

    <span>
      {{ 'missing-config-subtitle' | translate }}
    </span>
  </div>

  <div *ngIf="showErrorBanner" class="error-banner text-center">
    {{ 'missing-config.error' | translate }}
  </div>
</div>

<div class="flex gap-2 pt-5 justify-content-end popup-border">
  <button
    pButton
    class="status-btn align-items-center gap-2"
    (click)="checkStatus()"
    [disabled]="isLoading"
  >
    {{ 'missing-config.check' | translate }}
    <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
  </button>

  <a
    pButton
    [href]="environment.remoteUrl + (isPushNotification ? '/dashboard/onboarding/push' : '/dashboard/configuration')"
    target="_blank"
    class="setup-btn"
  >
    {{ 'missing-config.setup-btn' | translate }}
  </a>
</div>
