.absolute {
  top: 60px;
  color: #475467;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.upload-csv {
  &__container {
    gap: 12px;
    border-radius: 12px;
    border: 1px solid #eaecf0;
    min-width: 716px;
    ::ng-deep .p-progressbar {
      height: 8px !important;
    }
  }

  &__pending {
    ::ng-deep .p-progressbar {
      .p-progressbar-value {
        background-color: #04d !important;
      }
    }
  }

  &__fail {
    border-color: #fda29b !important;
    ::ng-deep .p-progressbar {
      .p-progressbar-value {
        background-color: #f04438 !important;
      }
    }
  }

  &__fail-banner {
    background-color: #f04438;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__success-banner {
    background-color: #17b26a;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &__success {
    border-color: #17b26a !important;

    i {
      color: #17b26a !important;
    }

    ::ng-deep .p-progressbar {
      .p-progressbar-value {
        background-color: #17b26a !important;
      }
    }
  }
}

h3 {
  &,
  i {
    color: #344054;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}

label {
  color: #475467;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
