:root {
  --convertedin-gray-50: #f9fafb;
  --convertedin-gray-100: #f2f4f6;
  --convertedin-gray-200: #eaecf0;
  --convertedin-gray-300: #d0d5dd;
  --convertedin-gray-400: #98a2b3;
  --convertedin-gray-500: #667085;
  --convertedin-gray-600: #475467;
  --convertedin-gray-700: #344054;
  --convertedin-gray-800: #1d2939;
  --convertedin-gray-900: #101828;

  --convertedin3-primary-color: #1e3ba2;
  --convertedin3-primary-100: rgba(30, 59, 162, 0.1);
  --convertedin3-primary-50: rgba(30, 59, 162, 0.05);
  --convertedin3-primary-25: rgba(30, 59, 162, 0.025);
}

$bg_color: #F9FAFB;
$border_color: #EAECF0;
$btn_background: #0044DD;
$size-200: 8px;
$shadow_color: rgba(16, 24, 40, 0.05);
