<h4 class="text-sm text-primary-dark mb-3 font-semibold">{{ 'topUp.paymentDetails' | translate }}</h4>

<ng-container *ngIf="bankList$ | async as bankList">
  <div class="flex flex-column">
    <!-- Bank name -->
    <div class="form-field mb-3">
      <label class="mb-2 form-field__label">{{ 'topUp.bankName' | translate }}</label>

      <p-dropdown
        [options]="bankList"
        [(ngModel)]="selectedBank"
        optionLabel="bankName"
        styleClass="flex-1 form-field__input"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedBank">
            <img
              class="w-3rem"
              src="assets/images/{{ selectedBank.bankName }}.png"
              alt="bank.bankName"
            />
            <div>{{ selectedBank.bankName }}</div>
          </div>
        </ng-template>
        <ng-template let-bank pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img
              class="w-3rem"
              src="assets/images/{{ bank.bankName }}.png"
              alt="bank.bankName"
            />
            <div>{{ bank.bankName }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <!-- Account name -->
    <div class="form-field mb-3">
      <label class="mb-2 form-field__label">{{ 'topUp.accountName' | translate }}</label>
      <input
        [(ngModel)]="selectedBank.accountName"
        class="flex-1 form-field__input"
        pInputText
        type="text"
        [disabled]="true"
      />
    </div>

    <!-- Account number -->
    <div class="form-field mb-3">
      <label class="mb-2 form-field__label">{{ 'topUp.accountNumber' | translate }}</label>
      <input
        [disabled]="true"
        [(ngModel)]="selectedBank.accountNumber"
        class="flex-1 form-field__input"
        pInputText
        type="text"
      />
    </div>

    <!-- Iban -->
    <div class="form-field mb-3">
      <label class="mb-2 form-field__label">{{ 'topUp.iban' | translate }}</label>
      <input
        [disabled]="true"
        [(ngModel)]="selectedBank.iban"
        class="flex-1 form-field__input"
        pInputText
        type="text"
      />
    </div>
  </div>
</ng-container>

<!-- Spinner -->
<convertedin-spinner
  *ngIf="isLoading"
  class="flex justify-content-center align-items-center flex-grow-1"
></convertedin-spinner>