<section
  class="flex flex-column flex-grow-1 dashboard-home__container"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="getAdList()"
  [scrollWindow]="false"
  *ngIf="userData$ | async as userData"
>
  <!-- Connect message -->
  <div
    class="gap-5 mt-4 flex flex-column flex-grow-1"
    *ngIf="connectionDetails$ | async as data"
  >
    <div
      class="dashboard-home__connect flex gap-3 align-items-center"
      *ngIf="data.isFacebookConnected && !data.isAssigned"
    >
      <figure>
        <img alt="warning-icon" src="assets/icons/common/warning.svg" />
      </figure>

      <p>{{ 'dashboard.home.connect-msg' | translate }}</p>

      <a
        pButton
        class="p-button-danger dashboard-home__connect-btn"
        routerLink="/my-dashboard/settings/accounts"
      >
        {{ 'dashboard.home.connect-btn' | translate }}
      </a>

      <!-- <i class="pi pi-times"></i> -->
    </div>

    <!-- Header -->
    <div class="flex justify-content-between">
      <convertedin-header
        [title]="'dashboard.home.title' | translate"
        [subtitle]="'dashboard.home.subtitle' | translate"
      />

      <!-- Create new ad btn -->
      <button
        pButton
        class="flex gap-2 dashboard-home__create-ad"
        (click)="createAd(userData.user.wallet)"
      >
        <i class="pi pi-plus"></i>
        <span>{{ 'dashboard.home.create-ad-btn' | translate }}</span>
      </button>
    </div>

    <!-- Insights -->
    <div class="flex gap-4" *ngIf="insights$ | async as data">
      <convertedin-insights-card
        class="w-3"
        [title]="'dashboard.home.insights.1' | translate"
        img="assets/icons/dashboard/home/insights/hand.svg"
        [value]="data.data.totalPageEngagement"
      />

      <convertedin-insights-card
        class="w-3"
        [title]="'dashboard.home.insights.2' | translate"
        img="assets/icons/dashboard/home/insights/messages.svg"
        [value]="data.data.totalMessagingFirstReply"
      />

      <convertedin-insights-card
        class="w-3"
        [title]="'dashboard.home.insights.3' | translate"
        img="assets/icons/dashboard/home/insights/red-arrow.svg"
        [value]="data.data.totalSpend"
        [showCurrency]="true"
      />

      <convertedin-insights-card
        class="w-3"
        [title]="'dashboard.home.insights.4' | translate"
        img="assets/icons/dashboard/home/insights/green-arrow.svg"
        [value]="data.data.totalReach"
      />
    </div>

    <!-- Loading spinner -->
    <convertedin-spinner
      class="flex justify-content-center"
      *ngIf="loaders.isLoading"
    />

    <p-divider styleClass="m-0"></p-divider>

    <!-- Ads list -->
    <convertedin-ads-list
      (createAdClick)="createAd(userData.user.wallet)"
      *ngIf="(ads$ | async) || this._pagination.pagination.data"
      [ads]="this._pagination.pagination.data!"
      [isFacebookConnected]="data.isFacebookConnected"
      (sortChange)="sortAds($event)"
      [activeSort]="this._pagination.pagination.sort"
    />

    <!-- Ad list spinner -->
    <convertedin-spinner
      class="flex justify-content-center"
      *ngIf="loaders.isAdsLoading"
    />
  </div>
</section>
