h1 {
  color: #37393e;
  font-size: 20px;
  font-weight: 700;
}

h2 {
  color: #4f5156;
  font-size: 14px;
  font-weight: 500;
}

label {
  color: #344054;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.templates {
  ::ng-deep &__categories {
    .p-tabmenu-nav {
      gap: 8px;
      border: unset !important;
    }

    .p-menuitem-icon {
      margin-inline-end: 0.5rem !important;
      margin-right: unset !important;
    }
    .p-highlight a {
      background-color: #0044dd !important;
      color: white !important;
    }
    .p-menuitem-link {
      padding: 8px 16px !important;
      border: 1px solid transparent !important;
      border-radius: 3px !important;
      background: #eff1f5 !important;
      margin: unset !important;
    }
  }

  &__container {
    row-gap: 24px;
  }

  &__card {
    width: calc((100% - 72px) / 4);
    border-radius: 4px;
    border: 1px solid #e9f1f5;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);

    img {
      max-height: 190px;
    }

    .absolute a {
      background-color: white;
      border: 1px solid white;
      color: #344054;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      border-radius: 8px;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      padding: 8px 14px;
      text-decoration: none;
    }

    &:hover {
      .absolute {
        background: rgba(0, 54, 177, 0.4);
        display: block !important;
      }

      h3 {
        color: #0036b1 !important;
      }
    }

    label {
      color: #98a2b3;
      font-size: 11px;
      font-weight: 500;
    }

    h3 {
      color: #1d2939;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.14px;
    }

    p {
      color: #475467;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}
