.ad-details {
  ::ng-deep &__budget-popup {
    width: 407px;
    max-width: 407px;
  }

  &__post {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #edf1f7;
    background: white;
    gap: 12px;

    img {
      max-width: 3.375rem;
      max-height: 3.375rem;
      width: 3.375rem;
      height: 3.375rem;
      border-radius: 50%;
      border: 1px solid var(--convertedin-gray-100);
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;

      color: var(--convertedin-gray-700);
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__status {
    padding: 2px 8px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    border: 1px solid transparent;
  }

  &__pending {
    border-color: #fedf89 !important;
    background-color: #fffaeb;
    color: #b54708;
  }

  &__active,
  &__finished {
    border-color: #abefc6 !important;
    background-color: #ecfdf3;
    color: #067647;
  }

  &__rejected {
    border-color: #fecdca !important;
    background-color: #fef3f2;
    color: #b42318;
  }

  &__ad-number {
    &,
    i {
      color: var(--convertedin-gray-600);
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__header {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--convertedin-gray-100);
  }

  &__vertical-line {
    border-left: 1px solid var(--convertedin-gray-100);
  }

  &__earn-money {
    border-radius: 8px;
    background: #fff2be;

    h6 {
      color: var(--convertedin-gray-800);
      font-size: 12px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.2px;
    }

    p {
      color: var(--convertedin-gray-800);
      font-size: 11px;
      font-weight: 400;
      line-height: 150%;
    }

    a {
      color: #dc8503;
      font-family: Almarai;
      font-size: 11px;
      font-weight: 700;
      line-height: 120%;
      text-decoration: none;
    }
  }

  ::ng-deep &__data-container {
    border-radius: 12px;
    border: 1px solid var(--convertedin-gray-200);

    .ad-details__data-item:not(.ad-details__data-item:last-child) {
      border-bottom: 1px solid var(--convertedin-gray-200);
    }
    .ad-details__data-item:is(.ad-details__data-item:first-child) {
      border-radius: 11px 11px 0 0;
    }

    .ad-details__data-item:is(.ad-details__data-item:last-child) {
      border-radius: 0 0 11px 11px;
    }

    .ad-details__data-item {
      padding: 12px;
      background-color: white;
    }
  }

  ::ng-deep &__tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .p-highlight .p-tabview-nav-link {
      border-color: var(--flyerz-primary-color) !important;
      color: var(--flyerz-primary-color) !important;
      font-weight: 700 !important;
      background-color: white !important;
    }

    .p-tabview {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .p-tabview-nav,
    .p-tabview-nav-link,
    .p-tabview-panels {
      background-color: transparent !important;
    }

    .p-tabview-nav-link {
      color: var(--convertedin-gray-600) !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 150%;
      border-bottom-width: 2px !important;
    }

    .p-tabview-panels {
      padding: 1.25rem 0 !important;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

::ng-deep .dashboard__ad-details {
  height: 100%;
  padding-inline-end: 16px;
  overflow-y: scroll;
}

h1 {
  color: var(--convertedin-gray-800);
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.2px;
}

button {
  height: fit-content;
}
