<td>{{ flow.name }}</td>
<td class="channels-cell">
  <div class="flex align-items-center flex-wrap">
    <img
      [src]="getChannelIcon(channel)"
      alt="channel-icon"
      *ngFor="let channel of flow.channels"
    />
  </div>
</td>
<td>{{ flow.activation_date | date : 'dd MMM, yyyy' }}</td>
<td>{{ flow.updated_at | date : 'dd MMM, yyyy' }}</td>
<!-- <td>{{ flow.triggers }}</td> -->
<td>{{ flow.send }}</td>
<!-- <td>{{ flow.opened }}</td> -->
<td>{{ flow.clicked }}</td>
<td>{{ flow.click_rate | percent }}</td>
<td>{{ flow.ordered }}</td>
<td>{{ flow.revenue }}</td>
<td>{{ flow.customers_count}}</td>

<!-- Activation cell -->
<td>
  <div class="flex gap-2">
    <p-inputSwitch
      [(ngModel)]="active"
      (ngModelChange)="switchState()"
      [disabled]="isLoading"
    />

    <convertedin-spinner *ngIf="isLoading" class="flow-listing__spinner" />
  </div>
</td>

<!-- <td>
  <div
    class="flow-listing__status-lbl {{
      flow.is_draft ? 'flow-listing__draft-lbl' : 'flow-listing__published-lbl'
    }}"
  >
    {{ flow.status | titlecase }}
  </div>
</td> -->

<!-- Actions cell -->
<td>
  <div class="flex justify-content-center gap-3" *ngIf="showActions()">
    <!-- Edit -->
    <a
      routerLink="edit/{{ flow.id }}"
      pButton
      class="p-button-warning p-button-text flow-listing__row-btn"
    >
      <img src="app-assets/icons/flow-builder/edit.svg" alt="edit-icon" />
    </a>

    <!-- Delete -->
    <button
      pButton
      class="p-button-danger p-button-text flow-listing__row-btn"
      (click)="deleteFlow()"
    >
      <img src="app-assets/icons/flow-builder/trash.svg" alt="delete-icon" />
    </button>
  </div>
</td>
