::ng-deep .workflow__add-action:before {
  border-left: 2px dashed var(--cin-primary-color) !important;
  left: 48% !important;
}

::ng-deep {
  .workflow__add-lbl {
    color: #344054 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20px;
  }

  .workflow__add-action .p-divider-content {
    padding: 0 !important;
    background: #e4e9f2 !important;
    position: relative;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .workflow__add-btn {
      cursor: pointer;
      padding: 10px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      // border-radius: 50% !important;
      border: 1px solid var(--cin-primary-color) !important;
      background: var(--cin-primary-color) !important;

      .pi {
        font-size: 12px;
      }
    }
  }

  .workflow__add-end:before {
    height: 50% !important;
  }
}
