<header class="mb-4 header">
  <h1 class="header__title">{{ 'createCampaign.review.title' | translate }}</h1>
  <p class="header__desc">{{ 'createCampaign.review.subtitle' | translate }}</p>
</header>
<hr class="my-4 w-full border-1 border-gray-300" />
<section
  class="flex gap-4 flex-column md:flex-row"
  *ngIf="campaignState$ | async as campaignState"
>
  <div class="flex-1">
    <h3 class="review-label">
      {{ 'createCampaign.review.headlinesLabel' | translate }}
    </h3>
    <div class="flex flex-wrap gap-2 mt-2">
      <span
        class="chip-item"
        *ngFor="let item of campaignState.headlines; let i = index"
        >{{ item }}
      </span>
    </div>
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.descriptionLabel' | translate }}
    </h3>
    <div class="flex flex-wrap gap-2 mt-2">
      <span
        class="chip-item"
        *ngFor="let item of campaignState.description; let i = index"
        >{{ item }}
      </span>
    </div>
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.keywordsLabel' | translate }}
    </h3>
    <div class="flex flex-wrap gap-2 mt-2">
      <span
        class="chip-item"
        *ngFor="let item of campaignState.keywords; let i = index"
        >{{ item }}
      </span>
    </div>
  </div>
  <div class="flex-1">
    <h3 class="review-label">
      {{ 'createCampaign.review.businessLabel' | translate }}
    </h3>
    <p class="review-value" *ngFor="let location of campaignState.locations">
      {{ location.title }},
    </p>
    <!-- <p class="review-value">{{ campaignState.brand?.name }}</p>
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.branchesLabel' | translate }}
    </h3> -->
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.campaignName' | translate }}
    </h3>
    <p class="review-value">{{ campaignState.campaign_name }}</p>
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.phoneNumber' | translate }}
    </h3>
    <p class="review-value">
      {{ campaignState.brandInfo.phone_number ?? '-' }}
    </p>
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.website' | translate }}
    </h3>
    <p class="review-value">{{ campaignState.brandInfo.website_url ?? '-' }}</p>

    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.languageLabel' | translate }}
    </h3>
    <p class="review-value">
      {{ 'languages.' + campaignState.lang_code | translate }}
    </p>

    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.locationLabel' | translate }}
    </h3>
    <p class="review-value">{{ campaignState.proximity?.formatted_address }}</p>
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.areaRangeLabel' | translate }}
    </h3>
    <p class="review-value">
      {{ campaignState.proximity?.radius }}{{ 'createCampaign.km' | translate }}
    </p>
    <h3 class="mt-3 review-label">
      {{ 'createCampaign.review.budgetLabel' | translate }}
    </h3>
    <p class="review-value">
      <ng-container
        *ngIf="campaignState.is_custom_budget; else suggestionBudget"
      >
      ${{
        campaignState.custom_budget 
      }}
    </ng-container>
      <ng-template #suggestionBudget>
        ${{
          campaignState.budget?.monthly_amount +
            ' - ' +
            ('createCampaign.budget.' + campaignState.budget?.type | translate)
        }}
      </ng-template>
    </p>
  </div>
  <!-- <div class="flex-1">
    <h3 class="review-label">
      {{ 'createCampaign.review.workingHoursLabel' | translate }}
    </h3>
    <div *ngFor="let item of workingHours$ | async" class="flex gap-3">
      <p>{{ item.day }}</p>
      <p>{{ item.start_time + ' - ' + item.end_time }}</p>
    </div>
  </div> -->
</section>
