.review-label {
  color: var(--convertedin-gray-500);
  font-weight: 600;
  font-size: 0.875rem;
}
.review-value {
  font-weight: 700;
  font-size: 0.93rem;
  color: var(--convertedin-gray-800);
  overflow-wrap: break-word;
  max-width: 20rem;
}
