@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
  --convertedin-gray-800: #30374F;
  --convertedin-gray-700: #344054;
  --convertedin-gray-500: #5D6B98;
  --converedin-blue-500: #0044dc; 
}

.get-started{
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: block;
  text-align: center;
  background: #17B26A;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding-block: 12px;
}