.quote-block{
    display: flex;
    flex-direction: column;
    gap: 14px;
    .quote-block--quote-value-info{
        p{
            color: var(--gray-800, #1D2939);
            font-size: 24px;
            font-weight: 700;
            margin-left: 8px;
        }
        span{
            color: var(--gray-400, #98A2B3);
            font-size: 16px;
            font-weight: 700;
        }
    }

    .primary-indicator{
        color: #04d;
        font-size: 16px;
        font-weight: 700;
    }

    .quote-block--quote-info{
        display: flex;
        justify-content: space-between;

        span{
            color: var(--gray-400, #98A2B3);
            font-size: 14px;
            font-weight: 500;
            display: block;
        }

        .expired{
            color: var(--Error-500, #F04438);
        }
    }
}

::ng-deep{
    .p-progressbar-determinate{
        height: 5px;
    }

    .p-progressbar-value{
        background: #04d !important;
    }
}