/* Import global variables such as colors, fonts, etc. */
@import 'assets/styles/_variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--convertedin-gray-3  00);
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: #eee;
}

::selection {
  background-color: var(--convertedin3-primary-color) !important;
  color: #fff !important;
}

input:-webkit-autofill::first-line {
  font-size: 16px !important;
}

/* Styles for Left-to-Right (LTR) layout */
html[dir='ltr'] {
  /* Apply the 'Inter' font family to all elements when in LTR mode */
  * {
    font-family: 'Inter', sans-serif;
  }
}

/* Styles for Right-to-Left (RTL) layout */
html[dir='rtl'] {
  /* Apply the 'Alexandria' font family to all elements when in RTL mode */
  * {
    font-family: 'Alexandria', sans-serif;
  }
}

/* PrimeNG Icons */
.pi {
  /* Ensure PrimeIcons font is always used */
  font-family: 'primeicons' !important;
}
.convertedin-button-primary {
  background-color: $btn_background !important;
}

.convertedin-outlined-button {
  color: $btn_background !important;
}

body {
  /* Apply background color from variables */
  background: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .main-section-head {
    /* Styles for h3 heading inside the main section */
    h3 {
      color: var(--greyscale-900, #101828); /* Fallback for browsers not supporting CSS variables */
      font-family: Inter; /* Specific font for the h3 heading */
      font-size: 28px;
      font-style: normal;
      margin-bottom: 15px; /* Space below the heading */
      padding-bottom: 0.2%; /* Slight padding at the bottom */
      letter-spacing: 0.2px; /* Adjust letter spacing */
    }

    /* Styles for paragraph directly inside the main section head */
    > p {
      font-size: 12px; /* Small font size */
      font-style: normal;
      font-weight: 400; /* Regular weight */
      // line-height: 150%; /* Optional line height */
      letter-spacing: 0.2px; /* Slight letter spacing */
      margin: 0; /* Remove default margin */
      padding: 0; /* Remove default padding */
      color: rgba(113, 128, 150, 1); /* Grey text color */
      margin-top: 4px; /* Space above the paragraph */

      //margin-top: 5px; /* Alternate margin option (commented out) */
    }
  }
  .section-header {
    /* Text styling for section headers */
    font-family: 'Inter'; /* Ensure the 'Inter' font is used */
    font-style: normal;
    font-weight: 600; /* Semibold weight */
    font-size: 18px; /* Larger font size for headers */
    line-height: 28px; /* Maintain spacing between lines */
    color: #344054; /* Dark grey color for text */
  }
}
.p-button {
  padding: 0.7rem 1rem !important;
  font-size: .8rem !important;
}
// spacing utilities
.ms-auto {
  margin-inline-start: auto !important;
}
.me-auto {
  margin-inline-end: auto !important;
}