.card-style {
    box-shadow: 0px 5px 5px 0px #00000008;
    border: 1px solid #E2E8F0;
}
.color-gray-500 {
    color: var(--convertedin-gray-500,'#667085');
}
.p-button {
    min-width: fit-content;
}
.p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary > .p-button.p-button-outlined, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
    border: 1px solid var(--convertedin-gray-300,'#d0d5dd');
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
    border: 1px solid var(--convertedin-gray-300,'#d0d5dd');
}
.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
    background: #099250;
}
.p-button:focus {
    box-shadow: none !important;
} 
.stepper {
    color: #98A2B3;
    .step {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &_number {
            display: flex;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #98A2B3;
            justify-content: center;
            align-items: center;
        }
        &_text {
            font-size: 18px;
            font-weight: 500;
        }
    }
    .step.active {
        color: #0044DD;
        font-weight: 600;
        .step_number {
            border: 1px solid #0044DD;
        }
    }
}
.w-107 {
    padding-left: 8%;
    width: 110% !important;
    margin-left: -9%;
}