<div class="campaign-objective-wrapper">
  <h3 class="form-step-header">Campaign Objective</h3>
  <div class="flex justify-content-between">
    <div class="md:w-6">
      <!--      <pre>-->
      <!--        {{form.value | json}}-->
      <!--      </pre>-->
      <ul class="campaign-objective-list" *ngIf="objectiveList">
        <li
          (click)="updateForm(item)"
          *ngFor="let item of objectiveList; let i = index"
          [ngClass]="{disabled: !item.published, active: item.id === controls?.objective?.value?.id }"
        >
          <div [inlineSVG]="item.image" class="item-icon"></div>
          <span class="item-text">{{ item.name }}</span>
          <span *ngIf="!item.published" class="item-soon">{{'Soon'}}</span>
        </li>
      </ul>
    </div>
    <div class="md:w-5">
      <div class="flex justify-content-end">
        <convertedin-campaign-configuration-info
          class="campaign-configuration-wrapper"
        ></convertedin-campaign-configuration-info>
      </div>
    </div>
  </div>
</div>
