.campaign-objective-wrapper {

  .campaign-objective-list {
    padding: 22px 4px 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      padding: 0;
      padding-left: 7px;
      /* margin: 0; */
      height: 52px;
      cursor: pointer;
      border: 1.5px solid transparent;
      .item-text {
        padding: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
      .item-icon {
        border-radius: 8px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F1F5F8;

        ::ng-deep {
          svg {
            width: 20px;

            path {
              stroke: #9E9E9E;
            }
          }
        }
      }
      .item-soon {
        font-size: 12px;
        font-weight: 500;
        background-color: #E6ECFC;
        color: #002985;
        border: 1px solid #99B4F1;
        border-radius: 16px;
        padding: 2px 8px 2px 8px;
      }
      &.active {
        border-radius: 8px;
        border: 1.5px solid #04D;
        background: #F2F6FD;
        .item-icon {
          background: #04D;
          ::ng-deep {
            svg {
              path {
                stroke: #fff;
              }
            }
          }
        }
        .item-text {
          color: #04D;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
        }
      }
      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        .item-text {
          opacity: .5;
        }
        .item-icon {
          opacity: .5;
        }
      }
    }
  }
}

