.search-filter-container {
  // border-top: 1px solid var(--Gray-300, #D0D5DD);
  // border-bottom: 1px solid var(--Gray-300, #D0D5DD);
  // padding: 24px 32px;

  .search-bar {
    padding: 0px;
    input {
      border-radius: 8px;
      border: 1px solid var(--Gray-300, #D0D5DD);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      color: var(--Gray-500, #667085);
      height: 48px;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      background: url(../../../../assets/icons/search-md.svg) no-repeat scroll 10px 12px;
      display: flex;
      padding: 8px 30px 8px 40px;
      align-items: center;
    }

    :host-context([dir='rtl']) & {
      padding-right: 0px;
      padding-left: auto;
      background: url(../../../../assets/icons/search-md.svg) no-repeat right;
    }
  }

  .filter-dropdowns {
    height: fit-content;
    background: var(--Gray-100, #F2F4F7);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Gray-700, #344054);
    /* Text sm/Semibold */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;


    .filter-item {
      padding: 0px;
      margin: 0px;
      font-weight: 600;
      height: 48px;
    }

    ::ng-deep {
      .p-dropdown {
        border: none;
        color: #344054;
        background: transparent;
      }

      .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: none;
      }
    }
  }

  .btn-filter {
    border-radius: 8px;
    background: var(--Primary-500, #04D);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Base-White, #FFF);
    height: 48px;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;

    @media (max-width: 768px) {
      width: 100% !important;
    }
  }

}

::ng-deep {
  .p-dropdown-label {

    color: var(--Gray-700, #344054) !important;

    /* Text sm/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
  }
}
