<section class="flex h-full">
  <div
    class="flex-1 bg-white hidden md:flex flex-column justify-content-between py-5 px-8"
  >
    <a href="https://convertedpay.convertedin.com">
      <img src="assets/icons/logo.svg" class="logo" alt="logo" />
    </a>
    <img
      src="assets/images/register.png"
      class="block object-cover register-img mx-auto max-w-full"
      alt="register-img"
    />
    <p class="text-xs text-gray-700">{{ 'poweredBy' | translate }}</p>
  </div>
  <div class="container py-5 px-4 md:px-8 h-full overflow-auto">
    <div class="flex flex-column justify-content-center">
      <div class="flex justify-content-between align-items-center">
        <a href="https://convertedpay.convertedin.com">
          <img
            src="assets/icons/logo.svg"
            class="logo block md:hidden"
            alt="logo"
          />
        </a>
        <convertedin-select-app-lang
          [isWhiteBg]="true"
        ></convertedin-select-app-lang>
      </div>
      <form
        [isFormEvent]="true"
        [convertedinLogEvents]="EVENTS_LOG.REGISTER_BUTTON"
        [metaData]="registerForm.value"
        [formGroup]="registerForm"
        (ngSubmit)="submit()"
      >
        <section class="w-full mt-4">
          <div class="flex gap-2">
            <div class="form-field flex-1">
              <label class="form-field__label" for="name">{{
                'register.firstName' | translate
              }}</label>
              <input
                class="form-field__input"
                pInputText
                formControlName="firstName"
                id="name"
                type="text"
                placeholder="{{ 'register.firstName' | translate }}"
              />
              <convertedin-control-errors
                [control]="registerForm.get('firstName')!"
              />
            </div>
            <div class="form-field flex-1">
              <label class="form-field__label" for="name">{{
                'register.lastName' | translate
              }}</label>
              <input
                class="form-field__input"
                pInputText
                formControlName="lastName"
                id="name"
                type="text"
                placeholder="{{ 'register.lastName' | translate }}"
              />
              <convertedin-control-errors
                [control]="registerForm.get('lastName')!"
              />
            </div>
          </div>

          <div class="form-field">
            <label class="form-field__label" for="name">{{
              'register.companyName' | translate
            }}</label>
            <input
              class="form-field__input"
              pInputText
              formControlName="companyName"
              id="name"
              type="text"
              placeholder="{{ 'register.enterCompanyName' | translate }}"
            />
            <convertedin-control-errors
              [control]="registerForm.get('companyName')!"
            />
          </div>

          <div class="form-field">
            <label class="form-field__label" for="email">{{
              'register.email' | translate
            }}</label>
            <input
              class="form-field__input"
              pInputText
              formControlName="email"
              id="email"
              type="text"
              placeholder="{{ 'register.enterEmail' | translate }}"
              maxlength="254"
            />
            <convertedin-control-errors
              [control]="registerForm.get('email')!"
            />
          </div>

          <div class="form-field">
            <label class="form-field__label" for="phone">{{
              'register.phoneNumber' | translate
            }}</label>
            <convertedin-phone-number-input
              class="form-field__input w-full"
              valueFormat="separate"
              formControlName="mobileNumber"
              [perferredCountry]="perferredCountry"
              [wrongFormatMessage]="
                'register.wrongPhoneNumberFormat' | translate
              "
            ></convertedin-phone-number-input>
            <convertedin-control-errors
              [showOneOnly]="true"
              [control]="registerForm.get('mobileNumber')!"
            />
          </div>
          <div class="form-field">
            <label class="form-field__label">{{
              'register.country' | translate
            }}</label>
            <p-dropdown
              formControlName="country"
              [options]="(countryList$ | async)!"
              styleClass="form-field__input"
              [placeholder]="'register.selectCountry' | translate"
              optionLabel="name"
              (onChange)="onCountryChange($event)"
              [showClear]="false"
            >
              <ng-template let-country pTemplate="header">
                <div
                  *ngIf="isLoadingCountry$ | async"
                  class="flex justify-content-center py-4"
                >
                  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                </div>
              </ng-template>
            </p-dropdown>
            <convertedin-control-errors
              [control]="registerForm.get('country')!"
            />
          </div>
          <div class="form-field">
            <label class="form-field__label" for="password">{{
              'register.password' | translate
            }}</label>
            <p-password
              inputId="password"
              class="form-field__input w-full"
              formControlName="password"
              [feedback]="false"
              [toggleMask]="true"
              placeholder="{{ 'register.enterPassword' | translate }}"
            ></p-password>
            <convertedin-control-errors
              [showOneOnly]="true"
              [control]="registerForm.get('password')!"
            />
          </div>

          <div class="form-field">
            <label class="form-field__label" for="password_confirmation">{{
              'register.confirmPassword' | translate
            }}</label>
            <p-password
              inputId="password_confirmation"
              class="form-field__input w-full"
              formControlName="passwordConfirmation"
              [feedback]="false"
              [toggleMask]="true"
              placeholder="{{ 'register.enterConfirmPassword' | translate }}"
            ></p-password>
            <convertedin-control-errors
              [control]="registerForm.get('passwordConfirmation')!"
            />
          </div>

          <div class="form-field" *ngIf="budgetList.length > 0">
            <label class="form-field__label">{{
              'register.facebookBudget' | translate
            }}</label>
            <p-dropdown
              formControlName="facebookMonthlyBudget"
              [options]="budgetList"
              styleClass="form-field__input"
              placeholder="{{ 'register.selectBudget' | translate }}"
            ></p-dropdown>
            <convertedin-control-errors
              [control]="registerForm.get('facebookMonthlyBudget')!"
            />
          </div>

          <div class="form-field" *ngIf="budgetList.length > 0">
            <label class="form-field__label">{{
              'register.googleBudget' | translate
            }}</label>
            <p-dropdown
              formControlName="googleMonthlyBudget"
              [options]="budgetList"
              styleClass="form-field__input"
              placeholder="{{ 'register.selectBudget' | translate }}"
            ></p-dropdown>
            <convertedin-control-errors
              [control]="registerForm.get('googleMonthlyBudget')!"
            />
          </div>

          <div class="form-field">
            <label class="form-field__label" for="referralCode">
              {{ 'register.referralCode' | translate }}
              <span class="mx-2 text-sm text-gray-500">{{
                'register.optional' | translate
              }}</span>
            </label>
            <span class="p-input-icon-right w-full">
              <i
                class="pi pi-info-circle"
                pTooltip="{{ 'register.referralTooltip' | translate }}"
                tooltipPosition="top"
              ></i>

              <input
                class="form-field__input"
                pInputText
                formControlName="referralCode"
                id="referralCode"
                type="text"
                placeholder="{{ 'register.enterReferralCode' | translate }}"
              />
            </span>
            <convertedin-control-errors
              [control]="registerForm.get('referralCode')!"
            />
          </div>

          <button
            class="p-button btn primary-dark-btn mt-3 w-full justify-content-center"
            [disabled]="(isLoading$ | async) || registerForm.invalid"
          >
            {{ 'register.createAccount' | translate }}
            <i class="pi pi-spin pi-spinner mx-1" *ngIf="isLoading$.value"></i>
          </button>
          <p class="mt-3 text-sm">
            {{ 'register.loginPrompt' | translate }}
            <a routerLink="../login">{{ 'register.login' | translate }}</a>
          </p>
        </section>
      </form>
    </div>
  </div>
</section>
