<h1>People & Segments</h1>

<div class="segments-tab">
  <convertedin-spinner *ngIf="isLoading" class="flex justify-content-center" />
  <ng-container *ngIf="$groups | async as groups">
    <div *ngIf="groups.data.length > 0; else noGroups">
      <div
        class="flex justify-content-between align-items-center segments-header"
      >
        <h2 class="flex align-items-center gap-2">
          Segments Group
          <span>
            {{ groups.data.length || 0 }}
          </span>
        </h2>

        <!-- <p-autoComplete [(ngModel)]="searchText" [suggestions]="filteredGroups" (completeMethod)="filterGroups($event)" placeholder="Search Groups"></p-autoComplete> -->
      </div>

      <p-table
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [value]="groups.data"
        [tableStyle]="{ 'min-width': '50rem' }"
        class="segments-table"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Group Name</th>
            <th>Description</th>
            <th>Segments</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group>
          <tr>
            <td>
              <a>{{ group.name }}</a>
            </td>
            <td>{{ group.description }}</td>
            <td>{{ group.segments_count }}</td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <ng-template #noGroups>
      <div class="empty-groups">
        <img src="app-assets/images/no-data.png" alt="" />
      </div>
    </ng-template>
  </ng-container>
</div>
