<div class="settings-nav">
  <!-- <a routerLink="invoices" [routerLinkActive]="'active-link'">Account Settings</a>
        <a routerLink="invoices" [routerLinkActive]="'active-link'">Configurations</a>
        <a routerLink="invoices" [routerLinkActive]="'active-link'">Connected Stores</a>
        <a routerLink="invoices" [routerLinkActive]="'active-link'">Social Connections</a> -->
  <a routerLink="subscription-plans" routerLinkActive="active-link">{{"billing.subscription-plans" | translate}}</a>
  <a routerLink="invoices" routerLinkActive="active-link">{{"billing.billing-invoice" | translate}}</a>
</div>
<router-outlet></router-outlet>
