<section class="pt-28 pb-48" id="calenderSection">
    <h5>WHY CHOOSE CONVERTEDIN?</h5>
    <h2>Grow Faster, Smarter.</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 mx-auto w-4/5 mt-28 gap-10">
        <div id="calender">

        </div>
        <div class="why-block">
            <div class="why-items">
                <div class="flex items-center">
                    <img src="/assets/images/sparkles.svg" alt="" class="mr-3">
                    <h4>Effortlessly Scale Your Campaigns</h4>
                </div>
                <p>Manage ads and direct messages across all channels from one powerful platform. Stop juggling logins and simplify your marketing.</p>
            </div>
            <div class="why-items">
                <div class="flex items-center">
                    <img src="/assets/images/sparkles.svg" alt="" class="mr-3">
                    <h4>Unlock Global Growth</h4>
                </div>
                <p>Leverage our team's proven experience in scaling ecommerce businesses worldwide. Get the expertise you need to succeed in any market.</p>
            </div>
            <div class="why-items">
                <div class="flex items-center">
                    <img src="/assets/images/sparkles.svg" alt="" class="mr-3">
                    <h4>Trusted by Industry Leaders</h4>
                </div>
                <img src="assets/images/logos.svg" alt="">
            </div>
        </div>
    </div>
</section>