<section
  class="container flex justify-content-center align-items-center p-2 md:p-5"
>
  <div class="h-fit header mx-auto w-full md:w-8 lg:w-6">
    <img
      class="mx-auto mb-3 block w-6rem h-6rem"
      src="assets/icons/tick-circle.svg"
      alt="icon"
    />
    <h1 class="text-center header__title">
      {{ 'topUp.paymentInReview' | translate }}
    </h1>
    <p class="text-center header__desc">
      {{ 'topUp.paymentConfirmation' | translate }}
    </p>
    <div class="payment-info-banner p-3 my-3">
      <h5
        class="text-sm"
        [innerHTML]="'topUp.paymentInfoBanner.title' | translate"
      ></h5>
      <ul class="px-3 text-sm">
        <li
          *ngFor="let item of 'topUp.paymentInfoBanner.items' | translate"
          class="my-2 line-height-2"
          [innerHTML]="item"
        ></li>
      </ul>
    </div>
    <div class="nav flex gap-2 justify-content-center mt-3">
      <button
        routerLink="/dashboard/home"
        class="p-button btn primary-outline-btn"
      >
        {{ 'topUp.backToHome' | translate }}
      </button>
      <button
        routerLink="/dashboard/home/topup-account"
        class="p-button btn primary-btn"
      >
        {{ 'topUp.anotherTopup' | translate }}
      </button>
    </div>
  </div>
</section>
