.container {
  background-color: white !important;
  margin-top: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  height: auto;
  overflow-y: auto;
}
.payment-info-banner {
  background: var(--converted-pay-warning-100);
  border-radius: 0.5rem;
}
