<div class="settings-tab">
  <div class="flex justify-content-between">
    <div>
      <h1 class="settings-tab__title">
        {{ 'billing.subscription-title' | translate }}
      </h1>
      <h4 class="settings-tab__sub-title">
        {{ 'billing.subscription-description' | translate }}
      </h4>
    </div>
    <a
      class="cta-button action-cta mb-auto"
      routerLink="/dashboards/billing/subscription-plans/change-plan"
    >
      {{ 'billing.change-plan' | translate }}
    </a>
  </div>
  <hr class="divider" />
  <div class="grid">
    <div class="md:col-7">
      <convertedin-active-plan />
    </div>
    <div class="md:col-5" *ngIf="activeQuota$ | async as data">
      <p class="settings-tab__alt-sub-title">
        {{ 'billing.quotas-summary' | translate }}
      </p>
      <div class="preview-block mt-3">
        <convertedin-quote
          class="flex flex-column gap-4"
          mode="email"
          [currentQuotas]="data.data"
        />
      </div>
      <div class="preview-block mt-3">
        <convertedin-quote
          class="flex flex-column gap-4"
          mode="sms"
          [currentQuotas]="data.data"
        />
      </div>
    </div>
  </div>
</div>
