::ng-deep.topup-stepper {
  .convertedin-stepper__view-container {
    padding: 2rem;
    background-color: white !important;
    margin-top: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 100%;
    overflow-y: scroll;
  }

  .convertedin-stepper__header {
    border-radius: 0.5rem;
    padding: 28px 56px !important;
  }

  .convertedin-stepper__actions-container {
    border-radius: 0 0 0.5rem 0.5rem;
  }
  @media screen and (max-width: 990px) {
    .convertedin-stepper__view-container{
      padding: 1rem;
    }
    .convertedin-stepper__header {
      gap: 2px;
      padding: 1rem 1.5rem !important;
    }
    .convertedin-stepper__line {
      display: none !important;
    }
    .convertedin-stepper__step {
      flex-direction: column !important;
    }
    .convertedin-stepper__tabname {
      font-size: 0.8rem !important;
      text-align: center;
    }
    .convertedin-stepper__circle {
      height: 24px !important;
      width: 24px !important;
      margin: 0 !important;
    }
  }
  @media screen and (max-width: 480px) {
    .convertedin-stepper__tabname {
      font-size: 0.75rem !important;
    }
    .convertedin-stepper__actions-container{
      padding: 0.75rem 1rem!important;
    }
  }
}

