<convertedin-guide-banner
  class="mb-2 block"
  type="charge_account"
></convertedin-guide-banner>
<convertedin-stepper
  *ngIf="rechargeState$ | async as rechargeState"
  (activeIndexChange)="onChangeStep($event, rechargeState)"
  headerStyleClass="px-5 py-4 stepper__header"
  class="h-full topup-stepper"
  nextButtonStyleClass="my-2 mx-3 primary-btn p-button h-auto"
  backButtonStyleClass=" my-2 mx-3 primary-outline-btn h-auto"
  [nexButtonLabel]="nexButtonLabel | translate"
  [hideBackBtnOnFirstStep]="true"
  [backButtonLabel]="'topUp.back' | translate"
  [disableNextBtn]="isLoading"
  [nextBtnIcon]="isLoading ? 'pi pi-spin pi-spinner' : ''"
>
  <!-- Select ad account step -->
  <convertedin-step
    title="{{ 'topUp.selectAdAccount' | translate }}"
    [valid]="!!rechargeState.socialAccount"
  >
    <ng-template #content>
      <convertedin-select-ad-account-step
        [selectedAccount]="rechargeState.socialAccount!"
      />
    </ng-template>
  </convertedin-step>

  <!-- Charge amount step -->
  <convertedin-step
    title="{{ 'topUp.chargeAmount' | translate }}"
    [valid]="isChangeAmountValid"
  >
    <ng-template #content>
      <convertedin-change-amount-step
        (onchangeState)="updateChangeAmountState($event)"
        [amount]="rechargeState.rechargeAmount!"
        [usePromotionalBalance]="rechargeState.usePromotionalBalance!"
      />
    </ng-template>
  </convertedin-step>

  <!-- Payment Method step -->
  <convertedin-step
    title="{{ 'topUp.payment' | translate }}"
    [valid]="
      rechargeState.countryCode
        ? !!rechargeState.mobile
        : !!rechargeState.paymentMethod
    "
  >
    <ng-template #content>
      <convertedin-payment-step
        [selectedPaymentMethod]="rechargeState.paymentMethod!"
      />
    </ng-template>
  </convertedin-step>
</convertedin-stepper>
