<h4 class="text-sm text-primary-dark mb-3 font-semibold">{{ 'topUp.paymentDetails' | translate }}</h4>
<form [formGroup]="fawryForm">
  <div class="form-field">
    <label class="form-field__label" for="phone">{{ 'topUp.phoneNumber' | translate }}</label>

    <convertedin-phone-number-input
      class="form-field__input w-full"
      formControlName="phone_number"
      wrongFormatMessage="{{ 'topUp.wrongPhoneNumberFormat' | translate }}"
      valueFormat="separate"
      (countryChanged)="countryChange($event)"
    />

    <convertedin-control-errors [control]="fawryForm.get('phone_number')!" />
  </div>
</form>
<section>
  <p class="text-sm font-bold text-primary-dark">{{ 'topUp.referenceNumber' | translate }}</p>
  <span class="px-6 py-4 border-round-lg reference-number inline-block mt-2"
    >0032432</span
  >
  <p class="text-sm font-bold text-primary-dark mt-3">{{ 'topUp.followTheseSteps' | translate }}</p>
  <ul class="flex flex-column gap-1 mt-2 pl-3 text-sm font-medium">
    <li>{{ 'topUp.step1' | translate }}</li>
    <li>{{ 'topUp.step2' | translate }}</li>
    <li>{{ 'topUp.step3' | translate }}</li>
  </ul>
</section>