<header class="header-container">
    <img src="assets/images/logo.svg" alt="logo" />
  
    <nav [ngClass]="{'hidden': !isMobileMenuOpen, 'flex': isMobileMenuOpen, 'sm:flex': true}" class="gap-3">
        <p-dropdown
        styleClass="w-full form-field__input lang_dropdown"
        [(ngModel)]="selectedLang"
        (onChange)="onChangeLang($event)"
        [options]="languages"
        optionLabel="label"
        optionValue="key"
          >
          <ng-template let-lang pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="lang">
              <span class="pi pi-globe"></span>
            <div>{{lang.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <button class="flex align-items-center gap-2 logout-btn">
        <i class="pi pi-sign-out"></i>
        Sign Out
      </button>
  </nav>
  <button class="sm:hidden mob-nav-btn" (click)="toggleMobileMenu()">
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
    </svg>
</button>
  </header>
  