.status-ticket {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.2rem 0.625rem;
  border-radius: 0.625rem;
  border: 1px solid var(--convertedin-gray-300);
  font-size: 0.825rem !important;
  font-weight: 500;
  line-height: 1.25rem;
  &-badge {
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    vertical-align: middle;
    display: inline-block;
  }

  &-badge[data-status='ENABLED'] {
    background-color: var(--map-ad-success-700);
  }
  &-badge[data-status='PAUSED'] {
    background-color: var(--map-ad-warning-200);
  }
  &-badge[data-status='LEARNING'] {
    background-color: var(--map-ad-success-200);
  }
}
