.p-tooltip {
  .p-tooltip-text {
    background-color: white !important;
    color: var(--convertedin-gray-800) !important;
    font-size: 0.875rem !important;
    // min-width: 20rem !important;
  }
}
