::ng-deep{
    .social-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--convertedin-gray-200);
      padding-bottom: 24px;
      gap: 16px;
        &__logo {
          height: 62px;
          width: 62px;
        }
      
        &__title {
          color: var(--convertedin-gray-900);
          font-size: 18px;
          font-weight: 600;
          margin-block: 4px;
        }
      
        &__description {
          color: var(--convertedin-gray-600);
          font-size: 14px;
          font-weight: 400;
        }
      }
      
      .social-body {
          display: flex;
          flex-direction: column;
          gap: 16px;

          &__title{
            color: var(--convertedin-gray-800);
            font-size: 18px;
            font-weight: 500;

            &-description{
              color: var(--convertedin-gray-400);
            }
          }
      
        &__item {
          gap: 12px;
          padding: 16px;
          border-radius: 12px;
          border: 1px solid var(--convertedin-gray-200);
          cursor: pointer;
      
          &-avatar {
              height: 40px;
              width: 40px;
          }
      
          &-info {
            display: flex;
            align-items: center;
            gap: 8px;
      
            &-title {
              color: var(--convertedin-gray-700);
              font-size: 20px;
              font-weight: 700;
            }
      
            &-id {
              color: var(--convertedin-gray-500);
              font-size: 14px;
              font-weight: 400;
              margin-left: 8px;
            }
    
            &-likes {
              &-text{
                color: var(--convertedin-gray-500);
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
              }
            }
          }
      
          ::ng-deep {
            p-radiobutton {
              margin-left: auto;
            }
          }
        }
      
        .social-body__item.active {
          border: 1px solid var(--Primary-200, #99B4F1);
          box-shadow: 0px 0px 0px 4px rgba(0, 68, 221, 0.20);
          h3{
            color:#04d;
          }
        }
      }
      
      .social-hint {
              display: flex;
              gap: 12px;
              padding: 16px;
              border: 1px solid var(--convertedin-gray-200);
              background: var(--convertedin-gray-50);
              border-radius: 12px;
        
          &__title {
            color: var(--convertedin-gray-900);
            font-size: 16px;
            font-weight: 600;
          }
        
          &__description {
              color: var(--convertedin-gray-500);
              font-size: 16px;
              font-weight: 400;
          }
        
          &__button {
              color: var(--convertedin-gray-700);
              font-size: 14px;
              font-weight: 600;
              width: fit-content;
              display: block;
              background: white;
              padding: 8px 12px;
              border-radius: 8px;
              border: 1px solid var(--convertedin-gray-300);
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
              cursor: pointer;
          }
        }
      
        .social-footer {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 12px;
        
          &__button {
            padding: 10px 18px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            cursor: pointer;
            border-radius: 8px;
            width: 120px;
      
            &:disabled {
              opacity: 0.5;
              pointer-events: none;
            }
      
            &--back {
              color: var(--convertedin-gray-700);
              background: white;
              border: 1px solid var(--Gray-200, #EAECF0);
              display: block;
              text-decoration: none;
              text-align: center;
            }
      
            &--next {
              color: white;
              border: 1px solid #0036B1;
              background: #0036B1;
            }
          }
        }
}