<h3 class="text-base font-bold text-gray-900">{{ 'settings.profileInfo' | translate }}</h3>
<hr class="my-3 w-full border-1 border-gray-200" />
<form [formGroup]="profileForm" class="w-full md:w-10 lg:w-8 " (ngSubmit)="submit()">
  <div class="flex flex-column sm:flex-row gap-4">
    <div class="form-field flex-1">
      <label class="form-field__label" for="name">{{ 'settings.firstName' | translate }}</label>
      <input
        class="form-field__input"
        pInputText
        formControlName="firstName"
        id="name"
        type="text"
        placeholder="{{ 'settings.enterFirstName' | translate }}"
      />
      <convertedin-control-errors [control]="profileForm.get('firstName')!" />
    </div>
    <div class="form-field flex-1">
      <label class="form-field__label" for="name">{{ 'settings.lastName' | translate }}</label>
      <input
        class="form-field__input"
        pInputText
        formControlName="lastName"
        id="name"
        type="text"
        placeholder="{{ 'settings.enterLastName' | translate }}"
      />
      <convertedin-control-errors [control]="profileForm.get('lastName')!" />
    </div>
  </div>
  <div class="flex flex-column sm:flex-row gap-4 mt-3">
    <div class="form-field flex-1">
      <label class="form-field__label" for="phone">{{ 'settings.companyName' | translate }}</label>
      <input
        class="form-field__input"
        pInputText
        formControlName="companyName"
        id="name"
        type="text"
        placeholder="{{ 'settings.enterCompanyName' | translate }}"
      />
      <convertedin-control-errors [control]="profileForm.get('companyName')!" />
    </div>
    <div class="form-field flex-1">
      <label class="form-field__label" for="email">{{ 'settings.email' | translate }}</label>
      <input
        class="form-field__input"
        pInputText
        formControlName="email"
        id="email"
        type="text"
        placeholder="{{ 'settings.enterEmail' | translate }}"
      />
      <convertedin-control-errors [control]="profileForm.get('email')!" />
    </div>
  </div>
  <div class="flex flex-column sm:flex-row gap-4 mt-3">
    <div class="form-field flex-1">
      <label class="form-field__label" for="phone">{{ 'settings.phoneNumber' | translate }}</label>
      <convertedin-phone-number-input
        class="form-field__input w-full"
        valueFormat="separate"
        formControlName="mobileNumber"
        wrongFormatMessage="{{ 'settings.enterPhoneNumber' | translate }}"
        emptyFilterMessage="{{ 'settings.emptyFilterMessage' | translate }}"
        [lang]="translate.currentLang"
      />
      <convertedin-control-errors
        [showOneOnly]="true"
        [control]="profileForm.get('mobileNumber')!"
      />
    </div>
    <div class="flex-1"></div>
  </div>
  <div class="flex justify-content-end mt-4">
    <button
      class="p-button btn primary-btn"
      [disabled]="profileForm.invalid || isLoading$.value || !profileForm.dirty"
      convertedinLogEvents="UPDATE_PROFILE_BUTTON"
      [metaData]="profileForm.value"
    >
      {{ 'settings.update' | translate }}
      <i class="pi pi-spin pi-spinner mx-1" *ngIf="isLoading$.value"></i>
    </button>
  </div>
</form>