.type-head {
  color: var(--greyscale-900, #1A202C);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 24px;
}

.types-wrapper {
  margin-bottom: 57px;

  .type-item, .type-item h3 {
    text-align: center;
  }

  .type-item {
    border: 2px solid rgba(220, 225, 234, 1);
    padding: 24px 0;
    border-radius: 8px;
    cursor: pointer;

    h3 {
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0px;
      text-transform: capitalize;
      margin-top: 16px;
      margin-bottom: 8px;

    }

    span {
      font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: center;

    }

    ::ng-deep {
      svg {
        height: 101px;

        path, rect {
          stroke: #9E9E9E;
        }
      }
    }

    &.active {
      border-color: #04d;

      ::ng-deep {
        svg {
          height: 101px;

          path, rect {
            stroke: #04d;
          }
        }
      }
    }

    &.disabled {
      cursor: no-drop;

      h3 {
        color: #d1d1d1;
      }

      span {
        color: #d1d1d1;
      }

      ::ng-deep {
        svg {

          path, rect {
            stroke: #d1d1d1;
          }
        }
      }
    }
  }
}

.settings-wrapper {
  .settings-item {
    padding: 16px 24px;
    border-radius: 8px;
    border: 2px solid rgba(220, 225, 234, 1);
    margin-bottom: 10px;
    cursor: pointer;

    h3 {
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0px;
      text-align: left;
      text-transform: capitalize;

    }

    span {
      font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0px;
      text-align: left;

    }

    &.active {
      border-color: #04d;
    }
    &.disabled {
      cursor: no-drop;

      h3 {
        color: #d1d1d1;
      }

      span {
        color: #d1d1d1;
      }

      ::ng-deep {
        svg {

          path, rect {
            stroke: #d1d1d1;
          }
        }
      }
    }
  }
}
