<div class="campaign-settings-wrapper">
  <div class="flex flex-wrap justify-content-between">
    <div class="md:w-7 p-2">
      <!--      <pre>-->
      <!--        {{form.value | json}}-->
      <!--      </pre>-->
      <div class="types-wrapper">
        <h3 class="type-head">Select Type</h3>
        <div class="flex flex-wrap">
          <div class="w-6 p-2">
            <div
              class="type-item"
              (click)="selectType('blank')"
              [ngClass]="{ active: form?.value?.type === 'blank' }"
            >
              <div inlineSVG="app-assets/images/plus.svg"></div>
              <h3>blank</h3>
              <span>Fully customization campaign</span>
            </div>
          </div>
          <div class="w-6 p-2">
            <div
              class="type-item disabled"
              (click)="selectType('template')"
              [ngClass]="{ active: form?.value?.type === 'template' }"
            >
              <div inlineSVG="app-assets/images/boxes.svg"></div>
              <h3>Template</h3>
              <span>Automated campaign with targeting</span>
            </div>
          </div>
        </div>
      </div>
      <div class="settings-wrapper">
        <h3 class="type-head">Select Settings</h3>
        <div
          class="settings-item"
          (click)="selectSettings('static')"
          [ngClass]="{ active: form?.value?.settings === 'static' }"
        >
          <h3>Static</h3>
          <span>one single ad</span>
        </div>
        <div
          class="settings-item disabled"
          (click)="selectSettings('dynamic')"
          [ngClass]="{ active: form?.value?.settings === 'dynamic' }"
        >
          <h3>Dynamic</h3>
          <span>Automated & customized ads</span>
        </div>
      </div>
    </div>
    <div class="md:w-5 p-2">
      <div class="flex justify-content-end">
        <convertedin-campaign-configuration-info
          class="campaign-configuration-wrapper"
        ></convertedin-campaign-configuration-info>
      </div>
    </div>
  </div>
</div>
