<div
  class="workflow__action-card cursor-pointer"
  [ngClass]="{ workflow__error: hasError }"
  (click)="activateFocus()"
  #card
>
  <div class="flex justify-content-between p-3">
    <!-- Icon & title -->
    <figure class="flex gap-2 align-items-center">
      <img [src]="icon" [alt]="title" class="max-w-full" />
      <figcaption>{{ title }}</figcaption>
    </figure>

    <!-- Delete action -->
    <!-- <button
      pButton
      pRipple
      class="p-button-danger p-button-text w-min p-1"
      (click)="triggerDelete($event)"
    >
      <img alt="delete-icon" src="app-assets/icons/flow-builder/trash.svg" />
    </button> -->
  </div>

  <p-divider styleClass="m-0"></p-divider>

  <div class="p-4">
    <ng-content></ng-content>
  </div>
</div>
