$sidebarWidth: 15rem;

nav {
  width: $sidebarWidth;
  border: 1px solid #f2f4f7;
  background: linear-gradient(180deg, #fff 0%, #ecf1ff 100%);
  overflow-y: scroll;
}

.page-layout {
  width: calc(100vw - $sidebarWidth);

  &__header {
    border-bottom: 1px solid #e9f1f5;
    border-left: 1px solid #e9f1f5;
    background: white;
    padding: 0.4rem 1rem;
  }

  &__router-wrapper {
    // padding: 0 1.56rem;
    position: relative;
    // background-color: #f9fafb;
    max-height: calc(100vh - 72px);
    overflow-y: scroll;
  }

  ::ng-deep {
    .ngx-overlay {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: calc(100vh - 50px);
      z-index: 10;
    }
  }
}

.loader-wrapper {
  position: fixed;
  z-index: 99999999;
  width: calc(100% - $sidebarWidth);
  top: 74px;
}
