.container {
  padding: 2rem;
  background-color: white !important;
  margin-top: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
}
::ng-deep.payment-progress-bar {
    &.p-progressbar {
      height: 4px !important;
    }
    .p-progressbar-label {
      display: none !important;
    }
  }
  
  .p-inputgroup-addon {
    background-color: transparent !important;
  }
  