<div class="container flex flex-column">
  <div class="flex-1">
    <svg-icon name="receipt-file"></svg-icon>
    <header class="header my-4">
      <h5 class="text-lg text-primary-dark mt-2">{{ 'topUp.markAsPaid' | translate }}</h5>
      <p class="text-primary-dark">{{ 'topUp.uploadReceipt' | translate }}</p>
    </header>
    <input
      type="file"
      class="hidden"
      #fileInput
      convertedinLogEvents="UPLOAD_RECEIPT_BUTTON"
      (change)="uploadFile($event)"
    />
    <button
      *ngIf="!file; else fileCardTemp"
      (click)="fileInput.click()"
      class="p-button btn primary-outline-btn flex gap-2"
    >
      <svg-icon name="upload"></svg-icon>
      <span>{{ 'topUp.uploadPhoto' | translate }}</span>
    </button>

    <ng-template #fileCardTemp>
      <div
        class="border-round-lg border-1 border-gray-300 p-3 flex gap-2 w-21rem"
      >
        <div><svg-icon name="jpg"></svg-icon></div>
        <div class="flex-1">
          <div class="flex justify-content-between gap-2">
            <p class="mb-1 line-clamp-1">{{ file?.name }}</p>
            <svg-icon
              *ngIf="state === 'DONE'; else removeBtn"
              name="check"
            ></svg-icon>
          </div>
          <p class="text-sm text-gray-700 mb-3">
            {{ file!.size | fileSize }}
          </p>
          <div class="flex align-items-center">
            <p-progressBar
              class="flex-1"
              styleClass="payment-progress-bar w-11"
              [value]="progress"
              color="#0036B1"
            ></p-progressBar>
            <span
              *ngIf="state !== 'DONE'; else removeBtn"
              class="text-sm text-gray-700"
              >{{ progress }} %</span
            >
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="flex justify-content-end">
    <button class="p-button btn primary-btn" routerLink="/dashboard/home">
      {{ 'topUp.done' | translate }}
    </button>
  </div>
</div>

<ng-template #removeBtn>
  <span
    (click)="removeFile()"
    class="pi pi-trash text-danger cursor-pointer"
  ></span
>
</ng-template>