<!-- Header -->
<convertedin-header
  title="{{ 'auth.forget-password.change-title' | translate }}"
  subtitle="{{ 'auth.forget-password.change-subtitle' | translate }}"
/>

<form
  *ngIf="authData$ | async as authData"
  [formGroup]="form"
  class="flex flex-column gap-5 md:w-7 lg:w-6 w-10"
  (ngSubmit)="submitChangePassword(authData)"
>
  <convertedin-password-confirm-password
    passwordControlName="password"
    confirmPasswordControlName="passwordConfirmation"
  />

  <!-- Submit btn -->
  <button
    pButton
    type="submit"
    class="auth__submit-btn gap-2"
    [disabled]="!form.valid || isLoading"
  >
    {{ 'common.save' | translate }}
    <i class="pi pi-spin pi-spinner" *ngIf="isLoading"></i>
  </button>
</form>
