<div class="settings-tab">
    <div>
        <h1 class="settings-tab__title">{{"billing.invoices-title" | translate}}</h1>
        <h4 class="settings-tab__sub-title">{{"billing.invoices-description" | translate}}</h4>
    </div>

    <hr class="divider">
    <div class="grid">
        <div class="col-12 md:col-8 mt-2">
            <h3 class="settings-tab__alt-sub-title">
                {{"billing.invoice-history" | translate}}
            </h3>
            <convertedin-spinner *ngIf="isLoading" class="flex justify-content-center" />
            <ng-container *ngIf="invoices$ | async as invoices" >
                <p-table [paginator]="true" [rows] = "5" [rowsPerPageOptions]="[5, 10, 20]"
                [value]="invoices.data" *ngIf="invoices.data.length > 0; else noInvoices"  [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{"billing.id" | translate}}</th>
                            <th>{{"billing.date" | translate}}</th>
                            <th>{{"billing.invoice-total" | translate}}</th>
                            <th>{{"billing.state" | translate}}</th>
                            <th>{{"billing.action" | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>{{data.number}}</td>
                            <td>{{data.created_at}}</td>    
                            <td>${{data.total}}</td>
                            <td>
                                <span [ngClass]="{'pill':true,'pending': data.status === 'pending', 'paid': data.status === 'paid'}">
                                    {{data.status}}
                                </span>
                            </td>
                            <td>
                                <a target="_blank" [href]="data.pdf">{{"billing.view-pdf" | translate}}</a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <ng-template #noInvoices>
                    <div class="empty-invoices">
                        <img src="app-assets/images/no-invoices.svg" alt="">
                        <p>{{"billing.no-invoices" | translate}}</p>
                        <span>{{"billing.no-invoices-description"| translate}}</span>
                    </div>
                </ng-template>
            </ng-container>
        </div>



        <!-- <div class="col-12 md:col-4 payment-settings mt-2">
            <h3 class="settings-tab__alt-sub-title">
                Payment Settings
            </h3>

            <div class="mt-5">
                <h3 class="settings-tab__alt-sub-title">
                    Plan Billing Date
                </h3>
                <span>3rd of every month</span>
            </div>
            <div class="mt-4">
                <h3 class="settings-tab__alt-sub-title">
                    Quote Billing Date
                </h3>
                <span>8th of every month</span>
            </div>
            <div class="mt-4">
                <h3 class="settings-tab__alt-sub-title">
                    Billing To
                </h3>
                <span>Mastercard **** 8012 ex-Mar 2025</span>
                <a class="block" href="#">Edit Card</a>
            </div>
        </div> -->
    </div>
</div>