.message-content {
  &__url-btn {
    border: 1px solid transparent;
    background-color: #e6ecfc;
    border-radius: 6px;
    padding: 4px 12px;

    &,
    i {
      font-family: Inter;
      color: #002985;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__url-container {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    top: 2.5rem;
    z-index: 5;

    button {
      background-color: transparent !important;
      border: unset !important;
      cursor: pointer;
    }

    &:focus-within {
      box-shadow: 0 0 0 0.2rem #bfdbfe;
    }
  }
}

::ng-deep .message-content {
  &__message-item {
    padding: 8px 14px !important;
    border-color: #e6e7e9 !important;
    color: #344054 !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 20px;
    border-radius: 8px !important;
  }

  &__message-menu {
    .p-menu-overlay {
      left: 0 !important;
      top: 3.125rem !important;
    }
  }

  &__url-container {
    .p-inputtext:enabled:focus {
      box-shadow: unset !important;
    }
    .p-inputtext {
      border: unset !important;
      padding: 0 !important;
    }
  }
}
